---
title: Pre-Giro Ride up Flagstaff
date: 2005-05-04 12:17:00
tags: sundry, 
---
<figure>
  <%= image_tag("stelvio.jpg", :class => 'img-fluid') %>
  <figcaption><a href="http://en.wikipedia.org/wiki/Stelvio_Pass">Passo dello Stelvio</a> in the Italian Alps</figcaption>
</figure>
<p>If you're all pumped for the Giro and are already having dreams of leading Cunego, Basso, and Simoni up the <a href="http://en.wikipedia.org/wiki/Colle_delle_Finestre">Colle delle Finestre</a> and Passo dello Stelvio, then join us for a Friday Flagstaff ride.</p>
<p>Apart from our very own hometown celebrity, Dave Underwood, we might see some hard core cyclists getting ready for the Boulder Stage Race or even other celebrities.</p>
<p>Indeed, Dave and I bumped into a famous author today!</p>
<p>We'll meet at Telecom at 12:10p.  See you there!</p>