---
title: Flagstaff Ride Report
date: 2005-06-14 14:45:00
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/wxL8bVJhXCM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>Dennis not happy with 'Freds'</figcaption>
</figure>
<p>Dennis showed up for the ride today and was visibily disappointed by the lack of participation, saying he's considering holding the next coffee with the director on the summit.  This will give <strong>pay for performance</strong> a whole new meaning!</p>
<p>Anyhow, it was a great ride, even though I'm of the opinion that it's a bit too hot out now.  The breeze on the way down is great, though!</p>