---
title: Tuesday Ride up Flagstaff at 12-10p
date: 2005-05-09 14:38:00
tags: sundry, 
---
<figure>
  <%= image_tag("cannondale_vega.JPG", :class => 'img-fluid') %>
  <figcaption>Come see my new wheels...</figcaption>
</figure>
<p>Since Friday causes trouble for many of you, how about tomorrow 5/10 at 12:10?  Dave and I will be there....who else?  Those of you who said "it's too cold" this winter have no excuses now.</p>