---
title: First "Frenzy" Ride Report
date: 2005-02-25 15:30:19
tags: sundry, 
---
<p>Don't let the rumors about our outings scare you off!</p>
<p>Well, it was only Dave and I on the slopes today. We'll try to get more folks next time, though!</p>