---
title: Flagstaff with Steve's Bro
date: 2005-05-16 08:07:00
tags: sundry, 
---
<p>Even after riding to Ward and Ned this weekend, my bro was up for more! (<a href="http://picasaweb.google.com/flagstafffrenzy/SteveSBrotherTacklesFlagstaff">gallery</a>)</p>
<p>My brother was here from San Diego and wanted to see Flagstaff's serpentine pavement for himself.</p>
<p>Ask and ye shall receive, my brother!</p>