---
title: Fourmile Canyon with Dave, Terry, and Daniel
date: 2005-06-17 14:24:28
tags: sundry, 
---
<p>It was great to have some new blood on today's ride (<a href="http://picasaweb.google.com/flagstafffrenzy/FourmileSummerRide">gallery</a>)</p>
<p>Fat tires mixed with skinny ones, and no one got hurt on today's jaunt up Fourmile Canyon. Thanks to everyone for joining us!</p>