---
title: Reverse Poorman
date: 2006-10-03 13:44:21
tags: sundry, 
---
<p>Matt, Greg, Dave and I all braved the descent of the washboard dirt road that is Poorman, and survived! The ride down made us appreciate the views that we never get on the way up–our heads are usually focused intensely on the two square</p>