---
title: Sunshine Canyon Ride
date: 2006-05-01 06:39:00
tags: sundry, 
---
<figure>
  <%= image_tag("sunshine_3D.png", :class => 'img-fluid') %>
  <figcaption>Sunshine Canyon in 3D</figcaption>
</figure>
<p>Looks like sun and warm temps today, so it's only fitting that we noodle up Sunshine Canyon.</p>
<p>This is a great route for mountain bikers, as the slope is quite steep, making for a spinny ride up and a nice slalom down.  In fact, I think Terry's hit 45mph before on the descent.</p>
<p>Though I undoubtedly won't reach speeds approximating 35mph, I will enjoy the lovely weather and fun descent.  Hope you can join me!</p>
<dl>
<dt>Sunshine Canyon</dt>
<dd>Meeting Time: 12p</dd>
<dd>Meeting Place: north side of Humanities</dd>
<dd>Distance (r/t): 11 miles</dd>
<dd>Elevation Gain: 1663 feet</dd>
</dl>