---
title: Old Stage Ride Flagstaff Mountain
date: 2006-10-11 08:32:00
tags: sundry, 
---
<p>We ended up dropping the Old Stage ride for today due to work obligations.  The ride up Flag was quite nice, requiring only a shirt-sleeved jersey on the ascent and a puffy vest for the descent.  Nothing like yesterday's ride, as temps today are 64&deg;F.  Maybe a flat ride out east tomorrow....</p>