---
title: Flagstaff Ride Report
date: 2006-12-08 09:41:00
tags: sundry, 
---
<p>Today was a ride for the ages...or at least for late fall.  With temps nudging 60&deg;F, we were in shorts and short-sleeves, admiring the splendor of soft snow over rough terrain.  On the descent, we witnessed another strong temperature inversion, but the slight chill was well worth the lyrical beauty of cyclists swooping down serpentine roads in formation.  Ah, what a way to usher in the weekend!</p>