---
title: Flagstaff Mountain
date: 2006-10-19 08:37:00
tags: sundry, 
---
<figure>
  <%= image_tag("flagstaff_3d.gif", :class => 'img-fluid') %>
  <figcaption>Our route in 3D</figcaption>
</figure>
<p>Rob has a new bike!  A <em>Kestrel</em> no less!!  At his request, the Frenzied will point their front tires at Flagstaff Mountain and climb.  Hopefully there won't be any icy spots waiting to ambush us!  Here are the details:</p>
<p>Meet at 12:10p @ Telecom.</p>