---
title: Fourmile Canyon Ride Report
date: 2006-10-30 14:03:00
tags: sundry, 
---
<p>Pesky wind!  I was fluttering in the wind on the way down Boulder Canyon, and it was deceptively cool out for bikers.  Still, it's always fun to watch Dave and Matt duke it out on a steady uphill grade.  Thanks to Matt, Dave, and Adriana for riding!</p>