---
title: During Steve's Absence...
date: 2006-06-22 10:29:00
tags: sundry, 
---
<p>Steve foolishly left me the keys to the Frenzy website. How nutty can you get, eh? In any case, I'm gonna' just let it go on autopilot. I figure we can simply rubber stamp this week's schedule until Grizzly Adams returns. Here's what he had:</p>
<dl>
<dt>Monday</dt>
<dd>Flagstaff/SuperFlag</dd>
<dd>Telecom</dd>
<dt>Tuesday</dt>
<dd>4Mile</dd>
<dd>Humanities north side</dd>
<dt>Wednesday</dt>
<dd>Neva Loop</dd>
<dd>Stadium, Gate 5</dd>
<dt>Thursday</dt>
<dd>NCAR Hill</dd>
<dd>Telecom</dd>
<dt>Friday</dt>
<dd>Gregory Canyon Bridge</dd>
</dl>
<p>All at noon. I guess the meeting places all are that really matter. If we vary from the routes, who'll know, right?</p>