---
title: Thursday Thrashing
date: 2006-02-28 15:46:00
tags: sundry, 
---
<p>So, you thought <em>Initiation</em> was hard?  Well, have we got a treat for you!  This Thursday, we'll be running a special edition of Dave's favorite trail run, aptly named <em>Commando</em>.  Here are the specs:</p>
<dl>
<dt>Commando Duathlon</dt>
<dd>Start Time: 12p</dd>
<dd>Meeting Place: North side of Humanities</dd>
<dd>Distance: ~3 mile bike, ~3.5 mile run</dd>
<dd>Elevation Gain: ~700 feet (~500 feet in 800 feet on crux)</dd>
<dd>Crux grade: ~63%</dd>
</dl>
<p>Hope you're up for it!</p>