---
title: Flagstaff Ride Report
date: 2006-10-24 08:47:00
tags: sundry, 
---
<p>Not today!  Burton nearly bested his PR with a quasi-serious effort, but it wasn't enough to beat Dave.  As Dave confessed, he's just got too many tricks up his sleeve for the youngster.  Good group today!  Thanks to Dave, Matt, Rob, Kevin, and Adriana for coming.</p>