---
title: Report- Dave's 600th Ascent of Flagstaff
date: 2006-06-14 13:21:00
tags: sundry, 
---
<figure>
  <%= image_tag("daves-600.jpg", :class => 'img-fluid') %>
  <figcaption>Dave makes it 600! (<a href="http://picasaweb.google.com/flagstafffrenzy/DaveS600thFlagstaffRide">gallery</a>)</figcaption>
</figure>
<p>Thanks to everyone for participating in today's momentous ride, especially our surprise refreshments goddess, Kristen!!!  Congratulations to Dave for making it to <strong>#600</strong>, to Tom for making it to <strong>#1</strong>, and to everyone else who's somewhere in-between!</p>
<p>Dave still claims he likes the "new" bike, but he still despises the heat...100&deg;F today!!  If you'd like to relive the climb from the comfort of your air-conditioned office, <a href="http://picasaweb.google.com/flagstafffrenzy/DaveS600thFlagstaffRide">check out the gallery</a>.  Otherwise, see you again soon in the hills!</p>