---
title: Flagstaff brrrrrRide Report
date: 2006-11-28 08:49:00
tags: sundry, 
---
<figure>
  <%= image_tag("snow.jpg", :class => 'img-fluid') %>
  <figcaption>With the helicopter grounded, film crews had to watch the duel from campus</figcaption>
</figure>
<p>Steve and Dave both earned new merit badges today with their snowy trip up Flag.  Rob earned an 'A' for effort and heart, but was hampered by a knee injury shortly after starting and wisely returned to the base.</p>
<p>Fans lined the streets, gawking in amazement as the ambitious duo boogied up the hill with knuckleheaded zeal. In this view from the  ATLAS building, Steve is at least three wheels ahead of Dave and gaining. Steve did pause just past the gate, though, giving Dave a chance to catch up for the final push to the top. Congratulations to  both for showing us that common sense, like ketchup, is damn near worthless below 20 degrees.</p>