---
title: Neva Road and Bike Path Rampage Reports
date: 2006-08-08 19:13:49
tags: sundry, 
---
<figure>
  <%= image_tag("rampage.png", :class => 'img-fluid') %>
  <figcaption>Map of our Rampage route</figcaption>
</figure>
<h6>PART I: Neva Road</h6>
<p>Against their better judgement, Matt and Steve rode Neva Loop today, knowing full-well they'd pay for it later.  Apparently, Dave and Dennis were just ahead of us:</p>
<blockquote>
<p>Travelogue, date August 8th, time 12:11ish. Participants, Dave "Hammerhead" Underwood, and, Dennis "I'm still back here trying to hang on" Maloney. Hot ride but lots of fun.</p>
<p>So, where was everyone else???</p>
</blockquote>
<h6>PART II: Bike Path Rampage</h6>
<p>Great ride with nine folks total! You wouldn't believe how good Old Chicago pizza and beer tastes after such a long ride. Thanks for coming, all!!!</p>