---
title: Sunshine Canyon
date: 2006-10-20 09:29:00
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/pF7ytOldqho" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>Different types of Rocky Mountain wave cloud formations...you can fast forward to 1min10sec to see the Foehn wall cloud video.</figcaption>
</figure>
<p>Some type of front is definitely moving into the area, as evidenced by the Foehn wall cloud sitting over the Rockies just west of Boulder.</p>
<p>Sunshine Canyon Drive had lots of sand on it, making for a sketchy descent--the blustery winds making the descent all the more sketchy.  Still the temperatures were just right for riding uphill and even for coming down.  It's great to feel like you got your ride in right before the storm.  Looks like wet weather for the first half of the weekend....</p>