---
title: Fourmile Ride Report
date: 2006-11-27 16:44:00
tags: sundry, 
---
<p>Like a bumptious burr in my sock, the cold air clung to me today, mercilessly forcing its fridgid fingers down my throat.  Swaddled in sheer spite (and a few puffy layers), I soloed my way up just the same.  Actually, it wasn't that bad...I'm excited to try again tomorrow when it's colder!</p>