---
title: Old Stage Ride
date: 2006-10-06 13:38:47
tags: sundry, 
---
<figure>
  <%= image_tag("old_stage.jpg", :class => 'img-fluid') %>
  <figcaption>We pulled it off!</figcaption>
</figure>
<p>Dave Fuller, Matt Burton, and I almost didn't take the right on Lefthand Canyon Drive, feeling the subtle tug of the beautiful weather and fall colors that beckoned us to climb to the Divide. But alas! There's always that issue of a paycheck that pulls us back to campus.</p>