---
title: Super-Flag Friday Report
date: 2006-03-14 15:23:00
tags: sundry, 
---
<figure>
  <%= image_tag("univega-carnage.jpg", :class => 'img-fluid') %>
  <figcaption>Crankset Carnage</figcaption>
</figure>
<p>Last Friday, a few brave souls tackled Flagstaff Mountain and Flagstaff Road (also known as "Super-Flag").  The grade of Super-Flag averages 7.4% with a 0.3mi section at 14%.  There were several gear mashers present for the occasion, as well as a small gaggle of runners.  The gear mashers included:</p>
<dl>
<dt>Matt "Top Gun" Burton</dt>
<dd>Matt made it farther than he ever had before, appreciating the cooler, slightly thinner air on Flagstaff Mountain.</dd>
<dt>Dave "The Pedal-Pulverizer" Underwood</dt>
<dd>With triple crank gearing, Dave was a winged angel floating up the road.  Unfortunately, his wings (and quads) overpowered his bike, as the sheer force of his pedalling shattered the whole drivetrain (see picture above).</dd>
<dt>Greg "The Spinning Noodle" Stauffer</dt>
<dd>The unique frame of Greg's bike propelled him all the way to Lost Gulch Overlook, and while the mere sight of the 14% grade scared him profoundly, he still soldiered on to the stunning viewpoint of the Continental Divide.</dd>
</dl>
<p>Several runners also graced the slopes with their gazelle-like strides:</p>
<dl>
<dt>The Honorable Brian Kent</dt>
<dd>Brian made it known to all that Friday's run was a mere warm-up for his weekend sojourn: a "routine" run encompassing all peaks in the Front Range (without food or water of course).</dd>
<dt>Rob "Lightning Bug" Leary</dt>
<dd>Known for taking cellphone calls on trail runs, Rob impressed his fleet-footed partner Brian by actually sending a fax to the bikers saying they were a bunch of slow @!#$%....</dd>
</dl>
<p>Perhaps we can do this again on Friday (March 24, 2006)???</p>