---
title: Flagstaff Ride Report
date: 2006-02-24 13:00:49
tags: sundry, 
---
<p>Adriana put the new Townie through its paces today</p>
<p>Adriana wanted to see if her Electra Townie Cruiser would enable her&mdash;bad back and all&mdash;to climb Flagstaff.  It did!</p>