---
title: Fielder's Choice
date: 2006-10-02 08:45:01
tags: sundry, 
---
<figure>
  <%= image_tag("choice.gif", :class => 'img-fluid') %>
  <figcaption>Pick your poison, boys!</figcaption>
</figure>
<p>Gather at Telecom @ 12:20p.</p>