---
title: Fourmile-Poorman-Sunshine Loop Ride
date: 2006-02-26 10:43:00
tags: sundry, 
---
<figure>
  <%= image_tag("fourmile_poorman_sunshine.gif", :class => 'img-fluid') %>
  <figcaption>Map of Poorman Loop</figure>
</figure>
<p>Usher out the month of February with a ride in temps forecasted near 70F!!  The Fourmile Canyon&mdash;Poorman Road&mdash;Sunshine Canyon Loop ride is a real fun one, with good ascents and descents, as well as some dirt for your fat tire fanatics.  Hope you can make it!</p>
<dl>
<dt>Ride Specifics</dt>
<dd>Meeting Place: In front of Telecom</dd>
<dd>Meeting Time: 12:10p</dd>
<dd>Distance: ~12 miles</dd>
<dd>Elevation Gain:~1000 feet</dd>
<dd>Approximate Time: 1hr</dd>
</dl>