---
title: Trail Ridge Road Ride
date: 2006-09-16 22:15:14
tags: sundry, 
---
<p>Thanks for suggesting this unforgettable ride, Matt! (<a href="http://picasaweb.google.com/flagstafffrenzy/TrailRidgeRoadRide">gallery</a>)</p>
<p>We didn't sit around this weekend!  Au contraire!  We rode up the highest continuously paved road in the US-of-A!</p>