---
title: Rides for Steve and Adriana's Wedding Week
date: 2006-05-25 18:40:00
tags: sundry, 
---
<dl>
<dt>THURSDAY: Flagstaff Mountain</dt>
<dd>Meeting Time: 12p</dd>
<dd>Meeting Place: Telecom</dd>
<dd>Distance: ~8 miles</dd>
<dd>Special Note: this will be Dave's 597th ascent!</dd>
<dt>FRIDAY: Off</dt>
<dd>Rest your weary muscles. Steve and Adriana are riding Flagstaff to get hitched.</dd>
<dt>SUNDAY: Lefthand Canyon and Brainard Lake</dt>
<dd>Meeting Time: 8a</dd>
<dd>Meeting Place: <a href="http://www.google.com/maps?hl=en&amp;lr=&amp;q=greenbriar+inn&amp;near=Boulder,+CO&amp;radius=0.0&amp;cid=40015000,-105270000,14818891129727888314&amp;li=lmd&amp;ll=40.133856,-105.282454&amp;spn=0.004027,0.010493&amp;om=1">Greenbriar Inn</a>, in front</dd>
<dd>Distance: up to 44 miles</dd>
</dl>