---
title: Sunshine Canyon Ride Report
date: 2006-10-25 08:00:00
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/WlP5JDhV8u8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>Big storm's moving in...reminds me of my old place of employment.</figcaption>
</figure>
<p>Whether it was the trash talk or the humiliation from yesterday, we will never know.  One thing's for certain, though: Matt was conspicuously absent today.  He claims he had dinner with a friend, but that doesn't explain the quiet sobbing I heard from the other side of my cube.</p>