---
title: Sunshine Canyon Ride Report
date: 2006-11-20 10:06:00
tags: sundry, 
---
<figure>
  <%= image_tag("missingmatt.jpg", :class => 'img-fluid') %>
  <figcaption>Anyone seen this rider?</figcaption>
</figure>
<p>The give and take continues.  After waiting for Matt like the Gentleman he is, Dave goaded Matt on with a hard charge up Sunshine.  Matt didn't bite and allowed Dave a quarter mile lead, which he never regained.  To his credit, though, Matt did make it up the steep ramps beyond Poorman Drive.</p>
<p>Dave, concerned about the whereabouts of his young proteg&eacute;, notified the dairy industry&mdash;the first place I call when my pals go AWOL.</p>
<p>Thanks to Dave, Matt, and Kevin for the company.  Big 'W' goes out to Kimberly, Adriana, and Greg who claimed it was "too cold."</p>