---
title: Cherryvale Ride Report
date: 2006-11-06 09:21:00
tags: sundry, 
---
<figure>
  <%= image_tag("burton-was-here.jpg", :class => 'img-fluid') %>
</figure>
<p>Monday's dash out Baseline to Cherryvale was a dandy. RL pushed his new mount (LeMond!) to hitherto unseen speeds, and Burton and Underwood labored to hold on. As the trio shredded their way through the bucolic plains south of Boulder, the obstreperous winds managed to stay consistently face-on. Very fast pace, at least in Underwood's opinion.</p>
<p>Rob and Matt came this close to picking up a moving violation as they flew through downtown Marshall. Thank God radar guns don't see carbon fiber.</p>
<p>Great ride... do we ever have a bad one?</p>