---
title: Flagstaff Wind Report
date: 2006-11-07 14:02:00
tags: sundry, 
---
<p>Lucky for me, Matt didn't ditch me after I showed up late in my work clothes.  Instead, the gentle giant of the asphalt waited for me to get ready, then accompanied me up the classic climb of Flagstaff Mountain.</p>
<p>Shame on Dave for skipping to vote.  You've got the Frenzy Poll...what more do you need?!</p>