---
title: Sunshine Canyon Friday
date: 2006-04-14 06:59:00
tags: sundry, 
---
<p>I'm heading up Sunshine Canyon today at about 12:30p.  If anyone cares to join me, here's the info:</p>
<dl>
<dt>Sunshine Canyon Ride</dt>
<dd>Meeting Time: 12:30p</dd>
<dd>Meeting Place: north side of the Humanities building</dd>
</dl>
<p>If I don't see you, have a great weekend!</p>