---
title: Old Stage Road Wednesday
date: 2006-04-09 11:02:00
tags: sundry, 
---
<p>We're going to try again!  Let's hope for good weather, as this ride is long but really refreshing (far away from the office).  Here are the plans:</p>
<dl>
<dt>Lee Hill &rarr; Old Stage &rarr; Lefthand &rarr; US36</dt>
<dd>Meeting Place: Gate 5 in front of Folsom Stadium</dd>
<dd>Meeting Time: 12:15p</dd>
<dd>Estimated Duration: 1.5hrs</dd>
</dl>