---
title: Flagstaff Mountain
date: 2006-06-01 07:12:00
tags: sundry, 
---
<p>Let's hit our favorite hill today for a 10ish mile round-trip.  The temps will hit us on the way up today, but the breeze will be our reward on the descent.</p>
<dl>
<dt>Flagstaff Mountain</dt>
<dd>Meeting Place: Gate 5 of Folsom Stadium</dd>
<dd>Meeting Time: 12p</dd>
</dl>