---
title: Frost Pockets in Little Europe
date: 2006-11-15 11:09:00
tags: sundry, 
---
<p>Swooping down Fourmile Canyon, it was hard not to notice distinct temperature changes from one stretch of road to the next.  The cold air had pooled in frost pockets, spilling out of rocky basins and splashing onto our numbed faces.  If you bump into Dave, Kevin, or Matt today, don't be surprised if our speech is slurred for a spell.</p>