---
title: Thursday's Thrashed
date: 2006-03-02 13:39:00
tags: sundry, 
---
<figure>
  <%= image_tag("commando-rob.jpg", :class => 'img-fluid') %>
  <figcaption>Is it Rob or Spiderman? (<a href="http://picasaweb.google.com/flagstafffrenzy/CommandoRun">gallery</a>)</figcaption>
</figure>
<p>What a run!  Even though there were only three of us, there were plenty of prickly pears to go around.  As you can see in this photo of Rob Leary, the grade of the run is brutal.</p>
<p>The rewarding views at the top, however, were well worth it!  Steve was first to feel the gentle caress of the thorny slope, followed shortly after by Dave, whose puncture wounds are worn with pride.  Some ambitious walkers on the Boulder Canyon Path tried to follow us, but then realized this wasn't the <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2007/01/Crux2.jpg">trail</a> for them.</p>