---
title: Freedom-To-Choose Friday Report
date: 2006-11-03 13:15:00
tags: sundry, 
---
<p>Steve betrays Frenzy faithful. Runs with Rob for $20,000!</p>
<p>I feel dirty now.  On top of it all, it was 66&deg; outside, which is about my cutoff for running.  I'll need to change this week's poll if this weather sticks around for a while.  Thanks to Rob and Brian for leading me to the dark side.  My apologies to Kevin for going Benedict Arnold on you.</p>