---
title: Change of Plans...Again
date: 2006-11-17 07:31:00
tags: sundry, 
---
<p>The cloudy start to today's ride left everyone scrambling for extra clothes.  We were veritable marshmallows as we disembarked.  In spite of the cold and the fact that it's Friday, attendance was very good.  Thanks to newcomer Kimberly, old-timer Dave, young-whippersnapper Matt, and the timeless-one Greg for coming!</p>
<p>Dave has promised to furnish us with a map of a new route for next week&mdash;I couldn't hear his exact description during the ride (due to the wind), but I was able to discern the words "hill", "dirt", "vicious".  Sounds fun.  Bon weekend, les amis!!</p>