---
title: Endo on Poorman
date: 2006-11-22 13:27:00
tags: sundry, 
---
<p>We had a good mix of fat and skinny tires out there today.  And, dang...it was warm!!  If Dave had been around, I'll bet he would've taken a dip in Boulder Creek!  Thanks to Rob, Adriana, Matt, and Kevin for taking a spin up Poorman.</p>
<p>Happy Tofurkey Day!</p>