---
title: Fourmile Canyon Ride Report
date: 2007-08-20 12:25:00
tags: sundry, 
---
<div class="center"><br />Monty Python subtitles courtesy of Matt</div>
<p>It was breezy along Fourmile Creek today.  Matt, Adriana, and I found ourselves grabbing for the water bottles every two to three seconds to keep our mouths fresh.</p>
<p>Poor Adriana: she was all excited about how her Geography Graduate Orientation was going and wanted to share it with us, but we kept the pace at about 95% her max heart rate, cruel bastards we are.  Some husband, eh?!</p>