---
title: Flagstaff Ride Report
date: 2007-11-14 15:00:00
tags: sundry, 
---
<div class="center"><br />The Frenz should look into building a TIV (Tornado Intercept Vehicle)</div>
<p>Dave and I enjoyed a chilled but sun-soaked ride up Flagstaff this noonday.</p>
<p>We've gotten in the habit of going to the tippy top, which is a real pleasure now that the gate to the top is closed to cars.  No more worrying about folks who fancy themselves a race-car driver (a non-sport, by the way).</p>
<p>From this morning (Rob has since <a href="http://www.flagstafffrenzy.org/2007/11/14/flagstaff-ride-report-37#comment-557">responded</a>):</p>
<blockquote><p>It looks as though the gang at <a href="http://flatironsfever.blogspot.com/">Flatirons Fever</a> have organized activities too.  We are <q>The Frenz</q>, so what do you suppose they'll call themselves?  The Flatheads?</p></blockquote>