---
title: Marshall Mesa Ride Report
date: 2007-07-18 12:30:00
tags: sundry, 
---
<div class="center"><a href="http://picasaweb.google.com/lh/photo/_X24iAAJfzEX_CvbWmeisA?feat=embedwebsite"><img src="http://lh3.ggpht.com/_zoD15FRZxcs/SuHeLouramI/AAAAAAAABKQ/2cDWxCjTFjY/s800/frenzy_org.png" width="500" /></a><br />The new, piping hot Frenzy Org Chart, courtesy of Matt Burton</div>
<p>Flat rides are definitely cooler.  Greg, Matt, and I headed out for what was supposed to be a <em>calm</em> ride.  Naturally, it wasn't...as though the spirit of Dave himself were watching over us.</p>
<p>Anyhow, one correction to the org chart above: Greg should also be "King of the Sprints".  He whupped me again today.</p>