---
title: Sunshine Canyon Ride Report
date: 2007-06-11 12:12:00
tags: sundry, 
---
<p>Current temperature in Boulder: 91&deg;F!  Have I mentioned I <span style="text-decoration:underline;">don't</span> like heat?  I'll take those 16&deg;F days over these scorchers anyday!</p>
<p>Great crew out on the slopes today!  Greg was shot out of a canon, laughing at the <q>mere curb-cut</q> grades of Sunshine Canyon, then hurtling by us on the descent with nary a <q>Good Day</q>.  The rest of us&mdash;Adriana, Kev, Matt and I&mdash;wilted like willows under the sun.</p>
<h6>Important Notice (courtesy of Linda):</h6>
<blockquote><p>
Flagstaff Road:  Boulder County is replacing culverts in six locations between the Flagstaff House and the Amphitheater turnoff.  Cyclists should use caution and be prepared for rough pavement, construction activity, and construction machinery during weekdays through June 21.  Single lane closures are expected.
</p></blockquote>
<p>Dave, how are the grits, gravy, biscuits, and Waffle Houses treating you there in Atlanta?</p>
<p>Congratulations once again, Greg!</p>