---
title: Sunshine Canyon Ride Report
date: 2007-03-14 13:00:00
tags: sundry, 
---
<div class="center"><br />More from the film <em>H&ouml;llentour</em> (Hell on Wheels)</div>
<p>Dave Fuller joined the Frenzy faithful today, even though most of the faithful were infidels!  Only Matt had the courtesy of joining Mr. Fuller.</p>
<p>Dave U and I were AWOL</acronym> and Greg went to the gym to do aquatic dance.  Kevin was at Krispy Kreme.</p>
<p>I'll be out there tomorrow.  Perhaps we can take a stab at Neva.</p>
<p>Feel free to let me know if you want a screening of <em>H&ouml;llentour</em> (Hell on Wheels) sometime soon.</p>