---
title: Sunshine Canyon Ride Report
date: 2007-10-25 12:20:00
tags: sundry, 
---
<div class="center"><br />Dave asked that I bolster the Frenzy ranks with this footage from his talk yesterday</div>
<p>It's a bit cliché to say this, but it was picture-perfect this noonday; indeed, it seemed as though you would see cobalt brush strokes if you just peered behind the peaks&mdash;it was <em>that</em> clear!</p>
<p>Joining me today were Dave and Noel, who is the only faculty member whose calls I answer at 12p.</p>
<p>Dave showed his usual grit.  I'm tempted to give him my heart rate monitor and see if he can max-out it out.  I don't think it reads 106%.</p>
<p>Noel showed no signs of a fitness layoff, chit-chatting about this-n-that as though he were sipping chai at Amante.  What a brut!</p>
<p>Dave and I are out tomorrow.  Would someone care to take <em>The Replacement</em> out for a grueling time trial? He felt the last ride he came on was <q>way below</q> his caliber.</p>