---
title: Flagstaff Ride Report
date: 2007-10-22 16:00:00
tags: sundry, 
---
<p>As though he were part of a NASA launch, Dave blasted up Flagstaff Mountain, setting a blistering pace from the junction of Broadway and Euclid to the first parking lot.  There will be a lot of crossed-out stick figures in his riding log on this day.</p>
<p>Great riding weather these days if you can make it out....</p>