---
title: Post-Picnic Flagstaff Ride Report
date: 2007-08-15 22:35:00
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2007/08/z1.JPG"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/08/z1.JPG" width="500" /></a><br />Dave's son, Zack, fishes in the San Juans</div>
<p>Rob, Dave, Matt and I tested the new pavement on Flagstaff yesterday.  We approve!</p>