---
title: Fourmile Canyon Ride Report
date: 2007-10-04 14:25:00
tags: sundry, 
---
<p>This report is courtesy of Dave, who's filling in for me today:</p>
<blockquote><p>
While SB was stuck at home with a bad case of the flue, Greg, Kevin, and Dave hit 4 Mile on a picture perfect day.<br /><br />
A slight up-canyon breeze pushed the Frenz past the Elephant Buttress and Commando at an easy clip. 4-Mile was a piece-o-cake, especially after yesterday's switchback hell on Cedarbrook.<br /><br />
El Stauffer blasted back down Boulder Canyon at his usual breakneck pace, and Kevin and 
Dave mused that Greg's little wheels must've been spinning at around 3000 RPM. He doesn't need a pacer, he needs a tachometer.
</p></blockquote>
<p style="margin-top:1.2em;">Thanks for filing that report, Dave-O!</p>
<h6>Matt's Last Ride...Really!</h6>
<p>Tomorrow we'll be riding Flagstaff at noon with Matt.  This will be his swan's song sojourn with the Frenz, and there might just be refreshments at the Amphitheater, so join us!</p>