---
title: Fox-Hound After Work
date: 2007-08-04 07:02:00
tags: sundry, 
---
<div class="center"><br />Been watching AMC's <a href="http://media.amctv.com/originals/madmen/">Mad Men</a> lately. Here's the theme song</div>
<p>Like a tree falling in an empty forest, Cavs and Miccuci's masterful route through Boulder was unseen by Frenz eyes.</p>
<p>As Greg and I begrudgingly ascended and descended truckloads of staircases, we soon found ourselves besieged by sheets of rain, which washed away the course.  Being the smart cookies we are, we headed straight for the brewery, beating the foxes by some 15 minutes.</p>
<p>Hey, the beer and food tasted good!!</p>