---
title: Neva Loop Ride Report
date: 2007-09-13 12:36:00
tags: sundry, 
---
<div class="center"><br /><em>MythBusters</em> episode Kevin will enjoy</div>
<p>Neva Loop was great today.  The air is a little crisper and a little cleaner than it was in the summer.</p>
<p>Sir Brian Kent deigned to join us today, claiming the lords and constables "made him do it."  Despite his unwillingness to be there, he rode very strong...for a Brit.</p>
<p>Dave put the functioning chainring to good use, chasing down 18-wheelers, cheetahs, and girl scout troops with ease.  I hope he never gets a triple.</p>