---
title: Sunshine Canyon Ride Report
date: 2007-01-24 02:07:00
tags: sundry, 
---
<div class="center"><br />This is what people seem to think of my ideas</div>
<p>Wasn't such a dumb idea to go out today!  Sunshine Canyon was largely dry, except for one or two spots in the hollow at the bottom of the canyon.  Otherwise, smooth sailing&mdash;almost like summer.</p>
<p>Still, attendance continues to be down.  Given <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2007/01/analytics.gif">the number of lurkers on this site</a>, we should be seeing more folks!  According to Google Analytics, there are 379 visitors, 167 new ones!  Where are you?!</p>