---
title: Flagstaff Ride Report
date: 2007-10-10 12:42:00
tags: sundry, 
---
<div class="center"><br />Dave narrates his life in Alaska</div>
<p>Dave regaled us with more tales from the <em>Far North</em> on today's ride up Flagstaff, like the time he lost a paddle on the lake and had to swim in 33&deg;F water for 2.5 miles.  That guy's tough, I tell ya.</p>
<p>Adriana clung to our wheels like glue, claiming she was giving it all she had (but she was smiling the whole time). Or was that a grimace?</p>
<p>Dave's auditioning chumps who can put up a fight on two wheels.  Takers?  Dennis?  [No offense.]</p>