---
title: Flagstaff Ride Report
date: 2007-07-27 13:06:00
tags: sundry, 
---
<div class="center"><br />Not everyone should use YouTube! (submitted by Mark)</div>
<p>Given the forecast for storms before or around noon, we stayed close to campus, riding Flagstaff.</p>
<p>Like the Keystone Cops that we are, Kevin arrived on time, assumed he was late, headed up in hot pursuit, basically time-trialling.  Rob, also responsible, showed up on time <strong>ON FOOT</strong>, and ran Flag in near record time (only 26sec off, actually).  Not bad considering the mugginess.  NOTE: <em>He beat us all up and down</em>.</p>
<p>Meanwhile, Matt and I strolled to the start line late, minced our way to the base of Flag, then shot the breeze with the construction workers along the road.  Matt did finish the ride off with a punishing uphill sprint at least.  Good fun!</p>
<p>Have a good weekend, everyone!!</p>