---
title: May I Have AnotherRide Report
date: 2007-04-06 12:42:00
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/04/ice_bike_f2.jpg" /><br />Steve with his commuter bike on his <em>Across Antartica</em> tour (Frenzy archive)</div>
<p>Freezing drizzle and freezing fog make Steve's hands red and tingly.  Ouch!  That was the most painful ride ever.  Yes, I said <q>ride</q>!</p>
<p>I rode my commuter bike up to the Gregory Canyon Trailhead, locked up, and hit the trail with the goal of running <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2008/11/initiation_view.jpg">Initiation</a>.  After about 100 steps on the trail, I bagged that plan.</p>
<p>Every rock, root, and waterbar was covered with a veneer of treacherous ice.  And I worked on <a href="http://www.mountwashington.org">Mount Washington</a>, so I know deadly glazing when I see it.</p>
<p>I did an about-face, remounted the commuter bike, and pointed my front tire at Flagstaff, where the road still hadn't glazed over.  Everything else&mdash;trees, gutters, grass&mdash;had, though.</p>
<p>Riding up (made the gate) I wore a polypro sleeveless tank and my neon rain slick.  On the way down, I shed the tank and put on my fleece hat, fleece pullover, down vest, and rain slick.  If I had a pair of mittens with rain protection, I would've been fine.</p>
<p>But, dummy that I am, I brought gloves, which insta-froze on the descent.  Fortunately, I survived but only barely.  Harshest weather yet for me....</p>
<p>I saw a pro on a road bike heading up on my way down.  He had no descending gear, so I hope he turned around at Panorama Point!</p>
<p>We'll be watching <em>H&ouml;llentour</em> in Humanities tonight.  Lemme know if you're interested.  Otherwise, stay warm and safe this weekend!</p>