---
title: Back Alley Ride Report
date: 2007-04-12 12:32:00
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/04/police-van.jpg" /><br />The authorities caught wind of our plans and were ready for us</div>
<p>Greg and I successfully rode Back Alley today.  While some might deem our ride back to campus in a paddywagon the sign of an unsuccessful ride, we beg to differ.  Like Inspector Clouseau, police rides are par for the course with the Frenz.</p>
<p>It was nice to sneak a ride in before the impending storm.  I'm quite sure we'll be on foot tomorrow, so bring your running shoes!</p>
<p>Until then, enjoy the snow and drive/ride safely.</p>