---
title: Warm Flagstaff Ride Report
date: 2007-04-30 12:40:00
tags: sundry, 
---
<p>Instead of risking getting caught in a t-bumper (<q>thunderstorm</q> in Pittsburgh-speak), Greg and I decided to seek out the protection of Flagstaff Mountain.</p>
<p>For the second time in as many weeks, Greg has posted an impressive time, riding a 30:12 from College and 14th (not the official starting line).  I think that translates to somewhere around 28:00 from the official start.  We'll soon see.</p>
<p>It's going to be warm this week, but hopefully temperatures will cool down before any record attempts.  Besides, the gate is still closed at the top, making the course a little slower.  Perhaps it will open tomorrow!</p>