---
title: Flagstaff Ride Report
date: 2007-04-19 13:04:00
tags: sundry, 
---
<div class="center"><br />Winds are annoying here, but on Mt. Washington they make walls bow inward (120mph)</div>
<p>Despite the gusty winds, we had a lovely ride up Flagstaff today.  Actually, windy days are often the clearest, in terms of air quality, so our lungs are the pinker for it.</p>
<p>What made the day even better was stumbling upon the Asian Food Festival on Norlin Quad as we made our re-entry on campus.  The three of us were reminded of how great it is to work here and have such good colleagues.</p>