---
title: The Secret Life of Dave Underwood Report
date: 2007-05-02 12:20:00
tags: sundry, 
---
<p>While Kevin and I rode out east today, Dave rode on his own merry way &agrave; la <a href="http://en.wikipedia.org/wiki/The_Secret_Life_of_Walter_Mitty#Plot_summary">Walter Mitty</a> or <a href="http://en.wikipedia.org/wiki/Don_Quixote#Plot_summary">Don Quixote</a>.</p>
<p>So focused on tallying up victims for his log book was he that he missed not one but three turns along the route.  The planned Boxing Boulder ride was thus completely cast aside in favor of a Rube Goldbergesque itinerary.</p>
<p>I hope Dave caught Bernard Hinault or whomever he was conjuring ahead of him, because he created a lot of extra work for himself out there today.  Do conjured riders get crossed out in your log too, DU?</p>
<p>This tasty morsel from Kevin re: Greg's absence: <q>Tapering is something you do in the car on the way to your ride!</q>  Have fun in Moab, Greg, Cavs, Sean, et al.!</p>