---
title: Sunshine Canyon Ride Report
date: 2007-03-22 12:19:00
tags: sundry, 
---
<p>Matt and Dave powered up Sunshine Canyon this afternoon, proving that it takes brawn, not brains, to pedal a bike.</p>
<p>I spent my day putting in some new bamboo flooring.  We'll have to have a Frenzy after work party to celebrate the completion.</p>