---
title: Fourmile Canyon Ride Report
date: 2007-10-16 12:15:00
tags: sundry, 
---
<p>Boulder Canyon was breezy but pleasant today, and Fourmile Canyon featured a few tailwinds, so it was fun too.</p>
<p>Dave's still down for the count, so the Frenz have been flying solo for the past few days.  Not to worry, though.</p>
<p>A newbie has requested Neva Road tomorrow, and Dave's rear wheel won't be in arrears, so plan on a flat, fast ride.</p>