---
title: View Point Duathlon Report
date: 2007-10-11 12:30:00
tags: sundry, 
---
<div class="center"><br />Do you have your trail running shoes with you?
</div>
<p>Really, really nice weather today.  Dry, warm, and mostly sunny.</p>
<p>Dave sprinted down University to try to keep the ridiculous timetable I set (sorry, bud), then battled the slopes of the View Point trail valiantly.  No battling the views, though, as they were simply spectacular, especially on the rim sections.</p>
<p>We looked for Rob Leary, who rode his converted LeMond to the top of Flag, but he was far ahead.  He reports that the ride was great, though not quite as easy as on his road bike.  Good show, Rob!</p>