---
title: Flagstaff Ride Report
date: 2007-07-20 12:23:00
tags: sundry, 
---
<div class="center"><br />Mark just informed me of this...</div>
<p>Great day today, except for the sweltering heat.</p>
<p>Rob, Matt, and I rode Flagstaff at a "heat-reasonable" pace, staying hydrated and keeping the streams of sweat off our brows&mdash;not always successfully, though.</p>
<p>Looks like a fun Tour de France lineup this weekend through next Wednesday.  Enjoy and have a great weekend!</p>
<h6>UPDATE: 3:10p</h6>
<p>Would someone mind <a href="http://www.velonews.com/tour2007/news/articles/12851.0.html">carrying a shoebox</a> for me on next week's ride?</p>