---
title: Sunshine on My Shoulders...
date: 2007-02-08 15:17:00
tags: sundry, 
---
<div class="center"><a href=""><img src="" /></a><br />Dave's son Zack fishes the Big Thompson outside Estes Park</div>
<p>Ah, doesn't this photo make you want to get outside?  I suppose I should've looked at it myself today, for instead of spinning or striding or even strutting, I hunkered down in the Frenzy bunker and worked like a dog.  Well, there's always tomorrow.</p>