---
title: Flagstaff Ride Report
date: 2007-09-17 12:26:00
tags: sundry, 
---
<div class="center"><br />Some pix from this weekend's Jamestown Breakfast ride (<a href="http://picasaweb.google.com/flagstafffrenzy/JamestownForBreakfast?feat=directlink">gallery</a>)</div>
<p>Splendid afternoon for a bike ride. The air was cool yet humid, making the conditions ripe for intervals.</p>
<p>Dave felt <q>very good</q>, though he was still suspicious when Matt failed to overtake him.  I think it would've been a good duel just the same.</p>
<p>Mr. Burton was reeling from the effects of back-to-back rides this weekend (<a href="http://picasaweb.google.com/flagstafffrenzy/JamestownForBreakfast?feat=directlink">Jamestown-Ward-Lefthand</a> and Walker Ranch), so his bailing is excusable.</p>
<p>Greg decided to erode his joints and ran down the Creek Path, part of his preparation for a 5K this weekend.  Go, Greg!</p>
<p>Kevin and Adriana were spotted at the Rec Center.  I'm assuming K-No's taking it easy on his tweaked quad, and Adriana's still trying to rehab her sore back.</p>