---
title: Circle (South) Boulder by Bike Report
date: 2007-08-17 12:54:00
tags: sundry, 
---
<p>Mark's friend Linda, a fan of the blog, was in town today to tag along for our ride.  To give her a good sample of what we have to offer, we toured the <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=106412931864288195098.000001131ce5a18bd8fec&amp;om=1&amp;ll=39.995534,-105.232887&amp;spn=0.123355,0.32135&amp;z=12">bike paths</a> along Boulder and South Boulder Creeks.  For once, I don't think we scared someone off!</p>
<p>Indeed, Linda's a Frenzy convert, ready to move here from Minnesota.</p>
<p>Thanks to Dave, Kevin, Matt, and Linda for the great Friday afternoon company!</p>