---
title: Fourmile Canyon Ride
date: 2007-04-16 12:23:00
tags: sundry, 
---
<p>It was nice to see Dave out on the bike again today on Fourmile Canyon.  Thanks to him and Adriana for joining.</p>
<p>I just came home to the news about the massacre on Virginia Tech's campus, and my heart really goes out to them.  I'm very sad.</p>