---
title: As You Please Ride Report
date: 2007-08-22 16:51:00
tags: sundry, 
---
<div class="center"><br />A few pix from our Colorado Trail ride this past weekend (<a href="http://picasaweb.google.com/flagstafffrenzy/BurtonRidesTheColoradoTrail">gallery</a>)</div>
<p>So, turns out Adriana was alone on Flagstaff yesterday, carrying the torch for us slackers.  Apparently Greg and Matt rode later, so kudos to you guys!</p>
<p>Dave went down to the creek and swam against the current.  Strangely, he reported that while swimming, he brushed against a computer that had been jettisoned in the creek!  Dave, did it have a Media Services serial number on it?</p>