---
title: Olde Stage Ride Report
date: 2007-03-09 13:59:00
tags: sundry, 
---
<div class="center"><br />Matt has converted our stainless steel fridge into something more useful</div>
<p>Fun outing today on <a href="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Pleasant+St+%26+Macky+Dr,+Boulder,+CO+80302&amp;daddr=university+%26+9th+to:9th+%26+mapleton+to:9th+and+balsam+to:9th+St+%26+Hawthorn+Ave,+Boulder,+Colorado+80304+to:lee+hill+dr+and+olde+stage+rd+to:40.133741,-105.284729+to:N+Foothills+Hwy+%26+28th+St,+Boulder,+Colorado+80304+to:Macky+Dr+%26+Pleasant+St,+Boulder,+CO+80302&amp;geocode=Fe5-YgIdqq25-SkxtcjUM-xrhzHljgX3FHMQWg%3BFfaCYgIdroa5-SknXg41O-xrhzFetsAZICLvEQ%3BFfGpYgId5Hq5-Sk1vO0cnu5rhzHaq2RRdjnNYw%3BFWHCYgIdQni5-Sk7_W0Ume5rhzEtIBZuBN7oIA%3BFariYgIdDHi5-SmFWpaelu5rhzFnUbwX1JWj2A%3BFcdjYwIdfDi5-SkzXpH9L-9rhzEH6c92Ac81Yg%3B%3BFaBZYwIdpoa5-SmvDjBlHO9rhzET9TUCg7wWSQ%3BFe5-YgIdqq25-SkxtcjUM-xrhzHljgX3FHMQWg&amp;hl=en&amp;mra=pe&amp;mrcr=6,7&amp;mrsp=6&amp;sz=12&amp;sll=40.0673,-105.208511&amp;sspn=0.22622,0.270538&amp;ie=UTF8&amp;z=12">Olde Stage</a>.  Matt, Rob, Adriana, Kevin, and I endured lots of traffic and nasty crosswinds, but it was good to get out and see a route we haven't seen since Fall.</p>