---
title: Frigid Fourmile Ride Report
date: 2007-04-03 13:02:00
tags: sundry, 
---
<p>It's not summer yet, and mother nature reminded us of that on the descent of Fourmile Canyon.</p>
<p>Though there was an abundance of sunshine and temperatures <em>have been</em> warm of late, it was downright chilly out there today.  I hope there aren't any urgent communications, for Greg and Matt's fingers won't warm up for another couple hours.</p>
<p>Still, it was a very nice day to be on the bike (just with proper descent clothing).  The hamlet of Salina was as cute as ever, especially since Fourmile Creek is running well.  Greg says he saw some fish near the surface too.</p>
<p>Time for some soup.</p>