---
title: Valmont Reservoir Ride Report
date: 2007-07-09 08:29:00
tags: sundry, 
---
<div class="center"><img src="http://www.schmoker.org/BirdPics/Photos/Waterfowl/TRUS28.jpg" width="500" /><br />Valmont Res is a popular swan hangout</div>
<p>I had a nice solo ride out East today.  Blue skies, little to no wind, and reasonable temperatures.</p>
<p>I'd write more, but I need to get back to the important work of watching the home run derby.  Vlad just hit one 503 feet.  Sheesh.</p>