---
title: Freaky Frenzy Report
date: 2007-10-31 13:00:00
tags: sundry, 
---
<div class="center"><br />Some ghoulish characters showed up for today's ride! [<a href="http://picasaweb.google.com/flagstafffrenzy/SecondAnnualFreakyFrenzy">gallery</a>]</div>
<p>Ah, another cool day for Halloween!  It didn't stop the Frenz from celebrating, though.</p>
<p>Indeed, Dave, Rob, Sean, Adriana, and I sashayed our way to the top of our favorite climb&mdash;Sean with a <strong>single speed</strong> setup!  At the summit, we enjoyed treats and trash-talk.</p>
<p>Thanks to Mark and Jill for representing the "Frenzy Fleetfeet" and to K-No for showing up to take a picture (he still worked out at the Rec Center).  Deb, aka Velma, said she will join us next year.</p>