---
title: Thursday Night Cruiser Ride
date: 2007-08-30 20:17:00
tags: sundry, 
---
<div class="center"><br />Footage from Dave's misspent youth on Wallstreet (<a href="http://maps.google.com/maps?q=wallstreet,+co&amp;ie=UTF8&amp;oe=utf-8&amp;client=firefox-a&amp;ll=40.044175,-105.340004&amp;spn=0.123267,0.32135&amp;z=12&amp;iwloc=addr&amp;om=1">Wallstreet, Colorado</a>, that is)</div>
<p>The Frenz took part in the circus-like atmosphere that is the <a href="http://www.boulderbicyclecommuters.org/thursday_cruisers.html">Thursday Night Cruiser Ride</a> tonight.  It was lots of fun to parade through Boulder, hold up traffic, and wave at all the folks who looked on, all the while yelling Happy Thursday!</p>