---
title: Poorman Loop Ride Report
date: 2007-05-08 13:20:00
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/05/fourmile_poorman_sunshine.gif" width="500" /><br />Given the recent rain, Poorman's dirt will be hard-packed like pavement</div>
<p>Hey Frenz, you missed a good one, a perfect day for hitting Poorman. The lilacs are in bloom in Four Mile, and the creek is topped out and noisy. For once there was no wind and the temperature was perfect. I ended up riding alone, unless you count my imaginary foes just up the road. A perfect day for a classic ride, I just don't think it could get any better. Except for maybe tomorrow.</p>