---
title: Criminal Mischief Ride Report
date: 2007-10-30 14:00:00
tags: sundry, 
---
<p>Once again, Dave and I explored new frontiers of pain, combining Northwest Passage and Linden Loop into a route we're christening <em>Criminal Mischief</em>.</p>
<p>Our designs will not end there, however, as we're hoping to combine this route with one more "green monster" of our diurnal sojourns: Back Alley.  When completed, that ride will be called <em>Criminal Intent</em>.  Hope you can join us for that one!</p>
<h6>Again, Freaky Frenzy Tomorrow!</h6>
<p>Don't forget your costume tomorrow on the second annual <a href="http://picasaweb.google.com/flagstafffrenzy/FirstFreakyFrenzy?feat=directlink">Freaky Frenzy</a>, which will take place snow or shine!!!  Of course, if it rains, let's go bowling...in costume, of course.</p>