---
title: Order from Chaos
date: 2007-07-02 07:09:00
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2007/07/MessyDesk.jpg"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/07/MessyDesk.jpg" width="500" /></a><br />I commissioned MC Escher to knock out a still life of my desk. He titled it "Chaos."</div>
<p>With SB hiding somewhere deep in the northern woods and DU earthbound due to his pill-popping ways, it appears that the Frenzy has plunged into chaos. Maybe it would work best if the Frenz snatched the reigns of power today and wrote their own script. I'd advocate meeting at 12:10 at Humanities and choosing the route right there on the spot. (After all, democracy functions best in broad daylight.)</p>
<p>If anyone would like to join Dave on Anemone, let him (me) know.</p>