---
title: Flagstaff Ride Report
date: 2007-07-10 09:45:00
tags: sundry, 
---
<div class="center"><img src="http://bp1.blogger.com/_29q9cpLwOjY/RpO3_MQ0WpI/AAAAAAAAAAU/B7HrqPUMo4Q/s400/flagstaff.jpg" /><br />Pictograms, Frenzy style</div>
<p>Greg and I hit Flagstaff for a nice little climb.  It was a bit warm on the way up, but there was a nice breeze at the top.  We saw a familiar face and orange jersey as we were coming down, but I think I'm not supposed to say anything about it.</p>