---
title: Boxing Boulder Ride Report
date: 2007-10-17 12:26:00
tags: sundry, 
---
<div class="center"><img src="http://images.salon.com/news/feature/2007/09/14/bike_paths/story.jpg" width="300" height="350" /><br />Secretary Mary Peters is not one of my Frenz (from <a href="http://www.salon.com">Salon.Com</a>)</div>
<p>Well, <em>The Replacement</em> did quite well today, finding our pace "easy" and wondering if that was all we had.  He needs to get more gears to find out.</p>
<p>We did show him some Frenzy dirty tricks, though, attacking Dave just as he stopped to help another rider with a flat.  Frenz aren't good samaritans apparently.  Mr. Myers realized this when Adriana let out a loud, disconcerting cackle as she passed Dave.</p>
<h6>Beware! Blatant Political Pandering Below</h6>
<p>Secretary of Transportation Mary Peters <a href="http://www.salon.com/news/feature/2007/09/14/bike_paths/">recently said</a> bike paths are not related to transportation&mdash;and thus the Department of Transportation shouldn't waste money on them.</p>
<p>If you beg to differ with Secretary Peters, please consider <a href="http://capwiz.com/lab/issues/alert/?alertid=10193871&amp;type=cu">sending her a kindly worded note</a> telling her why she might reconsider.  Thanks!</p>