---
title: Flagstaff Mountain Ride Report
date: 2007-07-17 13:09:00
tags: sundry, 
---
<div class="center"><br />Ouch! The doggie and rider were apparently okay...where was the dang owner?!</div>
<p>I'm hot just thinking about the ride up Flagstaff today.  It was incredibly hot, and yet air quality is listed as good.</p>
<p>The air in my lungs didn't feel too good, though.  I was really suffering, despite swilling the liquid contents of two water bottles&mdash;one contained water, the other an electrolyte drink.</p>
<p>If it were fall, I would've kept the same pace on a tricycle.</p>