---
title: Fourmile Canyon Ride Report
date: 2007-08-08 12:49:00
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2007/08/312713-lg.jpg"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/08/312713-lg.jpg" width="500" /></a><br />My favorite time of year is just around the corner!  Enough with these hot temps!!</div>
<p>Meetings this morning prevented me from posting the ride before actually riding, so I apologize to the Frenz for the last minute phone calls.</p>
<p>Still, I did manage to round up Adriana and Matt to spin on Fourmile for a spell.  Nice weather, despite our lack of enthusiasm.</p>
<p>I smelled a hint of fall in the air yesterday and noticed some yellow aspen leaves on the ground this morning...I even looked at wool jackets online last night.  Anyone else feeling the urge to gather wood, buy warm clothes, or jump into piles of raked leaves?</p>