---
title: Flagstaff Ride Report
date: 2007-08-06 12:54:00
tags: sundry, 
---
<div class="center"><br />Dave, I may have figured out what's wrong with you</div>
<p>Though I didn't get in much of a ride (was turned around at the 'S' curves by construction), Dave did manage to make it up.</p>
<p>The road surface is as smooth as glass and will be conducive to fast times come fall.  It will also make descending less nerve-wracking, as all those pesky potholes have disappeared.</p>
<p>Kudos to Brian and Rob for running the trails!  It was a great day for it, what with the clouds and cooler temps!</p>