---
title: Neva Loop Ride Report
date: 2007-05-18 12:32:00
tags: sundry, 
---
<p>Great showing on Neva Loop aujourd'hui!  Kevin even deigned to join Matt, Rob, and I.  Greg, what gives?!  Fuller?  Kent?</p>
<p>Burton dropped off early, claiming he <em>just</em> wanted to <q>spin</q> today. We're all well-acquainted with MB's tricks by now, though, so we knew he'd let us go a ways ahead, then try to reel us in.  Another Walter Mitty in our ranks!</p>
<p>Speaking of surreal stories, I'm dying to find out how Floyd will respond to Lemond's testimony yesterday.  He and Basso (and the rest of them) should confess!</p>