---
title: Fourmile (and Poorman) Ride Report(s)
date: 2007-03-07 14:18:00
tags: sundry, 
---
<div class="right"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/03/smurfette.jpg" /><br />The popular new riding skirt<br />(made famous by Dave)</div>
<p>Conditions allowed us to go up Fourmile Canyon and down Boulder Canyon, though Kevin and I were nearly saw-dusted off the road by a logging truck, and Greg was rabbit-punched by a nasty pocket of semi air.</p>
<p>Dave was submarined once again by mechanicals today, but seeing Greg in a non-stationary saddle made up for the Frenzy Elder's absence.</p>
<p>Given this weather, I'd say we're all back in business now, so expect some Fox-Hound next week (after we <q>spring ahead</q>).  Stay tuned!!</p>
<p>Unbeknownst to us, Adriana was waiting for us on Poorman Loop, as her own ride report reveals:</p>
<blockquote>
<p>Oh poor man...you just got your butt kicked by a gal in a black mini-skirt.</p>
<p>And where were the rest of the Frenzy gaggle? Seems they were taking a gander, mosying their way up Boulder Canyon and Fourmile.</p>
<p>Meanwhile, the few males that dared attempt Poorman on this gorgeous spring-like day, in fact, resorted to merely coast down the steep dirt track. The ascent was simply too overwhelming, and they felt overcome before they'd even begun.</p>
<p>And so, the bomb in the black mini-skirt soloed the precipitous route, enjoying stunning views of the still snow-tipped foothills.</p>
<p>The most Poorman could offer in challenge were a few pitiful splashes of mud, nothing that a little water couldn't wash from a black mini-skirt.</p>
</blockquote>