---
title: Big Kahuna Ride Report
date: 2007-05-03 13:15:00
tags: sundry, 
---
<div class="center"><br />Dave finally remembered who Burton reminds him of: Nurse Ratched.</div>
<p>Beautiful ride on Fourmile Canyon today.  Dennis picked a nice day to tag along.</p>
<p>Mr. Burton crawled out of his den, forgoing physical therapy games like "pick up the cones" in favor of gear mashing.  Dave thinks the surgeons who operated on Matt's foot carefully excised the extra bone but forgot to take out the fiestiness.</p>
<p>Rob Leary partook in the fun as well, even though it was his day off.  Great showing, folks!  Thanks for coming.</p>
<p>Today's Adriana's birthday, and I'm sure she'd be honored by some trash-talk.</p>