---
title: Free-for-All Ride Report
date: 2007-09-12 13:25:00
tags: sundry, 
---
<div class="center"><br />Snippet from Dave's graphic design talks on campus</div>
<p>Sounds like there were just too many competing events for the Frenz today.</p>
<p>Still, Dave got out to represent the noon crew, encircling Baseline Rez with gears that worked.  I'm glad he can shift up to the big chainring again, because it was kind of sad watching him spin at 150rpm on our way the the Coffee with the Executive Director/CTO/ITS/ITBLOB.</p>
<p>I, too, managed to slip out the back door and spin.  I pointed my front tire at Flagstaff, though.</p>
<p>The temperatures are getting better, but you still don't need to carry extra warm weather gear, unless of course you're planning a weekend sortie on Mount Evans.</p>