---
title: Flagstaff (Secret) Ride Report
date: 2007-10-18 15:08:00
tags: sundry, 
---
<div class="center"><br />We skipped town for the "ride" today; Dave (red race suit) came out of nowhere!</div>
<p>Quick jaunt up Flag today.  No fanfare, other than the hundreds of nordic freestyle fans lining the woods.</p>