---
title: Neva Loop Ride Report
date: 2007-10-08 12:38:00
tags: sundry, 
---
<div class="center"><br />I want one of these for splitting wood tonight</div>
<p>Noticeably quieter out there today.  No deceitful <q>I think I'm going to take it easy today</q> statements, undermined by vicious attacks in the last mile.  No age jokes.  Nothin.</p>
<p>Despite the deafening silence, Dave and I encircled Boulder Reservoir and battled its relentless breezes, holding off a 70 year old nun who clung to our wheels like fresh tar on tires.</p>
<p>Hopefully we can do Fox-Hound at lunch sometime soon, and Dave's jonesin' for a duathlon.  Let us know if you have preferences.