---
title: Backwards Boxing Boulder Report
date: 2007-11-01 14:06:00
tags: sundry, 
---
<div class="center"><br />I just got <em>Twin Peaks</em>, and now I'm dying for a <q>damn fine</q> cup of coffee</div>
<p>Sometimes I can really sympathize with Homer. David Lynch is a strange man.</p>