---
title: Flagstaff Rainy Ride Report
date: 2007-09-24 12:10:00
tags: sundry, 
---
<div class="center"><br />I know not all of you like football, but this commercial is quite good!</div>
<p>Stepped out to ride up Flagstaff, and it was pouring...I received grave warnings of thunder claps but heard not a one. Perhaps it was the luck of the Irish, for as soon as I hit the bridge at Gregory Canyon, the rain stopped and some steamy sun even peeked through.</p>
<p>First winter gear ride of the season.  I wrapped a wool shirt and wool hat in a ziplock bag, and before the descent threw them on along with a puffy vest.  That was nice on the way down.</p>
<p>Great day overall, and I had the above video's song in my head ("Promonotory" from the <em>Last of the Mohicans</em> soundtrack), which helped with the intervals.  Did three intervals total: 1) <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;ll=40.00326,-105.292196&amp;spn=0.007758,0.020084&amp;t=h&amp;z=16&amp;om=1&amp;msid=106412931864288195098.00043ae6eeb5da567ccd0">from Gregory Canyon bridge to the first trail crossing</a>, 2) <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=106412931864288195098.00043ae6fbf3c06dda9ae&amp;ll=40.001435,-105.298891&amp;spn=0.003879,0.010042&amp;t=h&amp;z=17&amp;om=1">from Crown Rock to the top of Heartbreak Hill</a>, and 3) <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;ll=40.000728,-105.303118&amp;spn=0.007758,0.020084&amp;t=h&amp;z=16&amp;om=1&amp;msid=106412931864288195098.00043ae7123afb2a2eb7f">from The Wall to the top</a>.</p>
<p>Sorry if anyone was waiting for me at Telecom...I skipped right to 14th, as nearly everyone called to tell me I was crazy beforehand.  I'm not crazy, though.  I'm just from Northern New England.</p>
<p>Time for some soup.</p>