---
title: Back Alley Ride Report
date: 2007-09-26 13:16:00
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/11/back-alley.jpg" width="500" /><br />Who knows what lurks in back alleys??? </div>
<p>Good fun and good ride today on <a href="http://picasaweb.google.com/lh/photo/pjFl_x68koK1QxpaVPC16g?feat=directlink">Back Alley</a>!</p>
<p>Adriana led newcomer Liam up Linden while I waited for any potential 12:15ers.  There were none, so I followed the CIRES band.</p>
<p>They waited for me at the first (of many) confusing turns, and then we pounded the pedals up and over Area 53.  No police, no tazers!</p>
<p>Adriana says she'll be feeling the strain of the climb for some time, but she seemed pretty smooth to me.  Liam's going to be a climbing monster before you know it, especially if he keeps riding his rather heavy hybrid.  He did very well, and we hope he keeps coming!</p>
<p>I had fun with my new heart rate monitor.  Up to Linden hill, I kept my HR at 70-115bpm, except for the two hills on 4th where I hit 135.  Considering my warm-up zone is somewhere between 90 and 120, I'd say I did well to warm up.</p>
<p>On Linden hill and above, I kept my HR at 150, maxing out at 168, which is somewhere around 80% my max.  The HRM is great for keeping you honest...or at least in a healthy heart range.</p>
<p>I've got to try a max test to determine my upper limit more precisely, but last night I was able to find my resting low at 35-37bpm&mdash;not bad for someone Matt considers <q>way old, dude</q>.</p>
<p>Dave, how did Kacey Jones do today?</p>