---
title: Linden Loop Ride Report
date: 2007-03-05 13:34:00
tags: sundry, 
---
<div class="center"><a href="http://picasaweb.google.com/lh/photo/6DHOIrCbx5ec6GQ11UMceA?feat=embedwebsite"><img src="http://lh5.ggpht.com/_zoD15FRZxcs/SvTMlWzz2VI/AAAAAAAACQM/ntBXkFF3QeI/s800/steve-rule.JPG" width="500" /></a><br />The Steve Rule helps Frenz determine the grade of steep slopes</div>
<p>The FDA-certified, 100% organic <a href="http://maps.google.com/maps/ms?hl=en&amp;saddr=Macky+Dr+%26+Pleasant+St,+Boulder,+CO+80302&amp;daddr=Broadway+St+%26+Pleasant+St,+Boulder,+Boulder,+Colorado+80302,+United+States+to:University+Ave+%26+6th+St,+Boulder,+CO+80302+to:4th+and+spruce+st+boulder,+co+to:4th+and+kalmia+boulder,+co+to:Linden+Ave+and+4th+St,+Boulder,+CO+80304+to:linden+dr+and+wild+horse+cir+boulder,+co+to:linden+and+timber+ln+boulder,+co+to:4th+St+and+Kalmia+Ave,+Boulder,+CO+80304+to:4th+and+canyon+boulder,+co+to:University+Ave+%26+6th+St,+Boulder,+CO+80302+to:Macky+Dr+%26+Pleasant+St,+Boulder,+CO+80302&amp;ie=UTF8&amp;om=1&amp;msa=0&amp;msid=100713211184899290190.000477a944849ec7f4d2e&amp;ll=40.031558,-105.29417&amp;spn=0.082807,0.135269&amp;z=13">Linden Loop</a> is a great new addition to our cadre of lunch rides.  Kevin, Matt, and I noodled up and around in just about an hour exactly, so this will have to become more of a regular objective.</p>
<p>In a light discussion of the finer points of Chaos Theory, Matt and Kevin discovered a new mathematic formula, called the Steve Rule, which they think will help Frenz determine hill gradients more accurately.  Great work, guys!</p>