---
title: Flagstaff Ride Report
date: 2007-04-17 12:24:00
tags: sundry, 
---
<p>Dave was as limber as an earthworm today, though he does have some severe raspberries on his right shoulder from last week's mishap, which only adds to his <q>Easy Rider</q> appeal.</p>
<p>Adriana caved into Frenzy pressure and rode with us, taking the heavier, clumsier Trek mountain bike but still spinning like a champ.</p>
<p>The weather was alluring, with light fog and dry roads.  Beautiful day!</p>