---
title: Flagstaff Ride Report
date: 2007-06-04 12:45:00
tags: sundry, 
---
<div class="center"><br />This is how Dave teaches Photoshop...tough love</div>
<p>Well, <a href="http://www.flagstafffrenzy.org/routes#flagstaff">Flagstaff Mountain</a> was tough today, for it's getting a lot hotter out there.  Still, this is nothing compared to what it will be in a few weeks.</p>
<p>Dave wants us to do a duathlon with him this week.  I'm thinking Thursday.  Takers?</p>