---
title: Flagstaff Fielder's Choice Report
date: 2007-08-01 12:19:00
tags: sundry, 
---
<div class="center"><br />Like the French, the Frenz enjoy a good taunt</div>
<p>Though Dave is not <em>technically</em> supposed to ride, run, or blow his nose, he joined me for today's <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2007/08/choice.gif">Fielder's Choice</a>.  I chose to run Gregory Canyon while he biked Flag.</p>
<p>I made it to the top of Flagstaff, but I can't say the same for Dave, who did an about face.  I blow my nose at you, silly Englishman!</p>