---
title: Sunshine Canyon Ride Report
date: 2007-04-04 12:05:00
tags: sundry, 
---
<div class="center"><br />I think the Frenz need a gang sign</div>
<p>We (I) hit Sunshine Canyon today, prepared for chillier weather.  Putting on a dry shirt right before descending feels good!</p>
<p>If you're not too tired of my anti-doping drivel, take time out of your day to read Joe Lindsey's latest <a href="http://bicycling.com/blogs/boulderreport/2007/04/04/spin-cycle/">Boulder Report</a> post in <em>Bicycling Magazine</em>.</p>