---
title: Flagstaff Ride Report
date: 2007-05-07 15:12:00
tags: sundry, 
---
<p>Great ride today with Dave and Matt.  Mr. Burton's foot didn't bother him as much, but he's taking his recovery slowly, as he should.</p>
<p>Sounds like there's more drama with respect to <em>Operacion Puerto</em> in Europe.  My brother pointed out <a href="http://www.cyclingnews.com/news.php?id=news/2007/may07/may07news3">Ivan Basso's confession</a> and I draw your attention to the recent news about <a href="http://www.cyclingnews.com/news.php?id=news/2007/may07/may07news">Alejandro Valverde</a>!</p>