---
title: Damned Gated Communities Report
date: 2007-02-21 13:59:00
tags: sundry, 
---
<p>While the turnout was terrific on this sunny day (Adriana, Dave, Kevin, and Brian), the gate at the beginning of Canon View Road cast a pall over things.  If you have a teenager who's into vandalism or egging private property, I've got a socially acceptable target for them.</p>
<p>Fortunately, we regrouped and hit the Northwest Passage instead.  In spite of a touch of mud and patches of light ice, it was a great yet challenging climb.</p>
<p>Even the winds on the trip out and the sand on the ride down weren't too bad.</p>