---
title: Super-Sunshine Ride Report
date: 2007-08-02 12:54:00
tags: sundry, 
---
<div class="center"><a href="http://picasaweb.google.com/flagstafffrenzy/UnderwoodsAlaskaTrip"><img src="http://lh3.ggpht.com/_zoD15FRZxcs/SvZa1y_FZ9I/AAAAAAAACfQ/4VgwvTp78Bs/s800/zack-alaska.jpg" width="500" /></a><br />Geez, Zack, leave some for the lesser fishermen!</div>
<p>That's right: Super-Sunshine!  Matt foolishly agreed to go "all the way up" with me today.</p>
<p>Much to my chagrin, however, he labeled the ride "solid medium effort".  Either he's getting better or he's been inhaling more than his deodorant spray in the adjacent cube.  Mercy!</p>