---
title: Fizzling Out
date: 2007-06-25 08:49:00
tags: sundry, 
---
<div class="center"><img src="http://www.dickdiamond.com/blogimages/fry_egg_sidewalk.jpg" /><br />It was this hot today!</div>
<p>When I got back from a doctor's appointment today the temp was hovering right at about 99 degrees. Since I was in the seeking-medical-advice-state-of-mind, I decided it would be wise to avoid unnecessary outdoor physical exertion. Apparently Mr. Underwood is the only brave, or crazy, one among us (see his comment). Tomorrow promises to be cooler--highs in the 70s--and I don't have any meetings around the noon hour. I'll try to make up for my Frenzy fickleness then.</p>