---
title: Poorman Ride Report
date: 2007-05-24 09:32:00
tags: sundry, 
---
<div class="center"><br />Steve's handed me the keys to the site. Let's hope I don't drive it off a cliff</div>
<p>Greg, Rob and I had a nice ride up Poorman today.  Matt would have come along but a foot issue relegated him to the pool.  The sun hid behind the clouds for most of the ride, so it was a little cool at times.  The scenery was great, though, as all the rain has made everything lush and green in the canyons.  And aside from a few washboardy sections, Poorman Road was in good shape.</p>