---
title: Flagstaff Ride Report
date: 2007-05-16 12:13:00
tags: sundry, 
---
<p>Great to be back on the bike today with Greg, Kevin, and Matt, though sad not to see our familiar friend Dave and his pink bike.  We reminisced about you, DU, and wondered who you would've been crossing out in your log.</p>
<p>The route, Flagstaff, was uncharacteristically congested with traffic.  I don't know what was going on.</p>
<p>If anyone's interested in watching the Giro live on a big screen someday, let me know.  I've subscribed to the live feed, and the quality's great!</p>