---
title: Flagstaff Friday Ride
date: 2007-08-24 11:52:00
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/08/august-snow.jpg" width="500" /><br />Snow above 12,000 feet and <a href="http://foehn.colorado.edu/weather/atoc1/PAOSweather20070824.html">60s</a> down here at 5,000ft. We must live in Colorado!</div>
<p>Dr. Noel Lenski joined Matt, Dave, and me on Flagstaff today.  Conditions were perfect, especially in light of the heat we experienced earlier in the week.</p>
<p>Now it's off to talk to the French TAs about blogging.  What's that?</p>