---
title: Flagstaff Ride
date: 2007-11-13 06:43:00
tags: sundry, 
---
<p>I'm outta town today, but I hear it's gonna be windy, so you'd best take shelter in the nurturing arms of Flagstaff Mountain.  Of course, if you do something else, brag about it here.</p>