---
title: Valmont Rez Ride Report
date: 2007-05-09 14:09:00
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/05/funny_bike.jpg" /><br />Matt has modified his bike to accommodate his growing muscles</div>
<p>This weather is fantastic!  There were a total of six Frenz on the roads around Valmont Rez...almost seven, but Kevin had a flat.</p>
<p>Thanks to Dave, Rob, Matt, Adriana, and Marc for riding!  Marc is one of Adriana's colleagues from <a href="http://cires.colorado.edu/">CIRES</a> who enjoys cycling, trash talk, and filling out financial travel forms.</p>
<p>Dennis: Dave said he saw you running (he emphasized <em>running</em>, so you must have impressed him) around campus at lunch.  What gives?  All that pounding on the knees is bad for you...</p>