---
title: Reverse Poorman Ride Report
date: 2007-04-27 12:28:00
tags: sundry, 
---
<p>Exquisite day to be out and about.  At Dave's suggestion, we threw a wrench in the works by riding Poorman Loop in reverse.  It's amazing how riding something in the opposite direction opens up new vistas.</p>
<p>Greg pipped me at our sprint line once again today, so I'm just going to start calling him <a href="http://en.wikipedia.org/wiki/Mario_Cipollini">The Lion King</a> and bowing when I see him.</p>
<p>Thanks to Dave and Greg for the great ride!  Have a good weekend, everyone!</p>