---
title: Flagstaff Ride Report
date: 2007-10-15 12:34:00
tags: sundry, 
---
<div class="center"><br />Breck received 12″ of fresh snow today!</div>
<p>While Dave <a href="http://www.flagstafffrenzy.org/2007/10/15/flagstaff-ride-report-34#comment-526">did his own thing</a> today, I stuck to the plan, spinning up Flagstaff Mountain on a breezy, cool day.</p>
<p>The recent snowfall in the high summits was visible from the upper parking lot, and yet clouds still clung to the tippy-tops of the Indian Peaks, probably dumping more snow.</p>
<p>It was okay shorts weather, but I was glad I had a wool hat, puffy vest, arm warmers, and a windbreaker.  I think I ripped another seam on my jersey trying to stuff it all in the back pockets--or maybe I ate too much pizza a Beau Jo's on Saturday.</p>
<h6>Mount Evans Ride Report: Saturday, 14 October 2007</h6>
<p>That's right...Adriana, Espresso, Pam, and I tackled Mount Evans this past Saturday.  We started from Echo Lake, completing the 28 mile out-and-back in about 5hrs.</p>
<p>It was about 35F or so with snow flurries most of the way.  During the last few miles, we ran into snow squalls, but the road was dry so it was magical!</p>
<p>Espresso ran the whole way, plus all those sprints she put in after marmots and goats, which I try to discourage to no avail.  We rewarded her and ourselves with Beau-Jo's pizza afterward.</p>