---
title: A Classic Classic
date: 2007-07-03 06:54:00
tags: sundry, 
---
<div class="center"><br />Dave's pick for today's soundtrack. Anna Netrebko rocks the house.
</div>
<p>Hey Frenz! There's more to summer than moribund meetings and mundane mediocrity. Let's reaffirm life with a classic Flagstaff. Telecom at 12:10.</p>