---
title: Fourmile Canyon Report
date: 2007-06-05 11:24:00
tags: sundry, 
---
<h6>Reminder: Paula's Big Day!</h6>
<p>Frenz, join us tomorrow morning at 8am sharp at the junction of the Bear Creek Path and Martin Drive (<a href="http://www.google.com/maps?q=Martin+Dr,+Boulder,+CO,+USA&amp;ie=UTF8&amp;ll=39.992049,-105.246019&amp;spn=0.015486,0.040169&amp;z=15&amp;om=1&amp;layer=c&amp;cbll=39.98818,-105.253886">map</a>).  We're going to accompany Paula Vaughan on her run from <a href="http://pjsrun.blogspot.com/">Boulder to Michigan</a>...I plan on stopping at the Computing Center, though.  Don't be shy about donning your favorite tee-shirt either&mdash;yes, that's your Frenzy tee!</p>
<div class="center"><br /><em>Touching the Void</em> should be the Frenzy slogan</div>
<p>Rob and I joined forces and rode <a href="http://www.flagstafffrenzy.org/routes#fourmile">Fourmile Canyon</a> today, though Rob bravely carried on up Poorman while I headed to a ill-timed meeting.  Thanks for coming along, Rob!</p>
<p>I saw Dave heading over to his completely safe run route of Poorman Hill (on his bike).  Quit fooling yourself, Dave-O!  You're not fooling us.</p>