---
title: Criminal Intent Ride Report
date: 2007-11-09 14:07:00
tags: sundry, 
---
<p>Wow!  Breaking the law is exhilarating!</p>
<p>Dave and I set out for the new ride today and ended up picking up a third rider who was looking for a good route.  The dirt climbs were tough, what with all the loose, silty gravel, but the weather was just great!</p>
<p>We may tack on Poorman next time, just to add to the challenge.  Have a great weekend everyone!</p>
<p>I saw Dave Zabriskie while I was riding home on the bike path yesterday.  Makes sense too: the <a href="http://www.slipstreamsports.com/news.launch.html">Team Slipstream presentation</a> is next Wednesday at Boulder Theater!</p>