---
title: Neva Loop Ride
date: 2007-08-07 08:27:00
tags: sundry, 
---
<div class="center"><br />Rob wants to avoid hills today, unlike Jean-Yves Blondeau</div>
<p>Rob forgot his roller-buggy suit, so he's asked that we stick to the flats.  Let's point our front tires toward <a href="http://www.flagstafffrenzy.org/routes#neva">Neva Loop</a>, leaving Gate 5 at 12:10p.</p>