---
title: The Not-Quite-A-Record Ride Report
date: 2007-02-01 13:50:00
tags: sundry, 
---
<p>Well, though the Frenzy Biographers were disappointed, Dave and I were not.  Riding up Flagstaff in 18&deg;F temperatures was a real treat, and not as cold as we had thought it might be.  The 14&deg;F record is safe for now.</p>
<p>Due to the number of layers we had on, the ascent was toasty&mdash;sweaty even.  I had a full change of clothing and a down jacket I put on for the descent, and it was as though I were sitting next to a fireplace reading a good book.  Cozy.</p>
<p>After draping my ascent clothing on the Townie (while I put on dry clothing), all my sweaty garb insta-froze, transforming into plywood.  My water bottle had also frozen by the time we reached Headquarters again.</p>
<p>The road conditions were snowy with sand, but there was no ice on Flagstaff Road (not yet anyway).  It wasn't even that slippery...mind you, we were going about 5-8mph (I, with my feet dangling), so we weren't exactly trying to test Mother Nature.</p>
<p>Still, excellent ride and great company!</p>