---
title: Back Alley Ride Report
date: 2007-03-28 13:05:00
tags: sundry, 
---
<div class="center"><a href="http://picasaweb.google.com/lh/photo/pjFl_x68koK1QxpaVPC16g?feat=embedwebsite"><img src="http://lh5.ggpht.com/_zoD15FRZxcs/SuISlIYWtRI/AAAAAAAABjg/Wmj-6VtrI2U/s800/Back_Alley.jpg" width="500" /></a><br />The <em>Back Alley</em> route...names have been changed to protect the innocent</div>
<p>What an amazing ride!</p>
<p>Like Lewis and Clark, Dave and I pioneered a new route today, leaving the Frenz tire marks on uncharted GoogleMap territories.  I don't know about you, Gentle Readers, but for me it's always thrilling to put the <q>extra</q> back in the <q>ordinary</q>. It quickens the senses.</p>