---
title: Reverse "Little Buffalo" Ride Report
date: 2007-08-14 13:09:00
tags: sundry, 
---
<div class="center"><br />Matt wants everyone to know he hiked Grays and Torreys this weekend (<a href="http://picasaweb.google.com/flagstafffrenzy/BurtonHikesGraysAndTorreys">gallery</a>)</div>
<p>I did indeed dust off the Townie today, encircling Southeast Boulder by riding the <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=106412931864288195098.000001131ce5a18bd8fec&amp;om=1&amp;ll=39.995534,-105.232887&amp;spn=0.123355,0.32135&amp;z=12">Little Buffalo</a> route.  I rode in a clockwise direction, which was a fun change.</p>
<p>Always looking for a good time, I altered my route slightly by riding the dirt trail between Baseline and Marshall Road.  It was just me and the creek.</p>
<p>Speaking of which, this is the second time in a row I've had no one to draft off.  It doesn't count that I passed Kevin going to a 12:30p meeting on campus either!</p>