---
title: Flagstaff Ride Report
date: 2007-05-21 13:00:00
tags: sundry, 
---
<p>Man, we keep hitting it just right on our rides!  The clouds moved overhead, providing shade and relief from the mugginess.</p>
<p>Rob and Greg joined me on Flagstaff Mountain today, but poor Greg had to patch a flat again before even getting out of the gate.  Still, he's the fastest patcher in the West, so we ran into him along the way.</p>
<p>Looks like some nice t-storms are hovering about.  Hope one opens a can on us!</p>