---
title: Coudy Sunshine
date: 2007-06-26 09:44:00
tags: sundry, 
---
<div class="center"><br />Dave says we need motivation to get us back on our bikes. Enter the beer bike!</div>
<p>We've been bad lately and let meetings, appointments and even the weather keep us off the roads. Let's make up for it today with a ride up Sunshine Canyon. Maybe this symbolic act will help the sun break through the clouds. Humanities at noon. Takers?</p>