---
title: Back in the Saddle Report
date: 2007-07-05 08:43:00
tags: sundry, 
---
<div class="center"><img src="http://www.badlandsranchandresort.com/photos/dog_horse.jpg" /><br />Does this need a caption?</div>
<p>Not exactly a banner day in Frenzy land.  Matt fell down went boom, Greg had meetings and I didn't even make it out for the ride that I scheduled.  Playing post-vacation catch-up caught up with me and I ended up working through lunch.  Better luck tomorrow, Frenz.</p>