---
title: Flagstaff Ride Report
date: 2007-06-19 12:26:00
tags: sundry, 
---
<p>The heat was intense today.  Greg&mdash;trooper he is&mdash;spun up at a spirited clip, unfazed by the scortching sun.  Matt and I noodled at a more pedestrian pace.</p>
<p>Hot indeed!  It was the kind of day when the <a href="http://www.fs.fed.us/r6/colville/hfi/ecosystems/index.shtml">seeds from lodgepole pine are released</a>. I saw a few popping off trees like popcorn!</p>
<p>I'm ready for fall.</p>
<p>Construction on Flagstaff wasn't bad, though we did get held up on the return trip (they were taking lunch when we ascended).</p>
<p>We had to zip over a freshly set patch of asphalt during the descent, which conjured images of <a href="http://www.youtube.com/watch?v=h_8m5-sR6I4">Joseba Beloki in the 2003 TdF</a> for me.  Ouch!</p>