---
title: Flagstaff Ride Report
date: 2007-05-30 09:25:00
tags: sundry, 
---
<p>Rob decided the weather was too nice to ride and bailed, opting for a trail run instead.  Since I was going solo I chose to ride up Flagstaff rather than Fourmile Canyon.  I'm not a fan of the traffic in Boulder Canyon, and I was looking for a quicker ride because there's lots going on back at work.</p>

<p>It was a nice, sunny ride without much traffic on the road.  In the spirit of Dave, I passed a few guys on the way up.</p>