---
title: Flagstaff Ride Report
date: 2007-11-16 17:38:00
tags: sundry, 
---
<p>Yet another warm one today.  The winds from this morning died down, fortunately.</p>
<p>Sounds like Skeletor will be spinning with us on Monday.  Let's show him <em>Criminal Intent</em>.</p>