---
title: Super-Sunshine Canyon Ride Report
date: 2007-11-07 13:59:00
tags: sundry, 
---
<div class="center"><br />The weather's nice now, but <a href="http://www.bcna.org/images/wind_bymonth.gif">windstorm season</a> is just around the corner
</div>
<p>Dave may have forgotten that one of my favorite prefixes is "super", which I tagged onto our Sunshine Ride today.  Fantastic weather and unbeatable company!</p>
<p>As per K-No's request, tomorrow's ride will be a flat one.  Friday let's take a crack at <em>Criminal Intent</em>.</p>