---
title: Flagstaff Ride
date: 2007-09-11 08:21:00
tags: sundry, 
---
<div class="center"><br />Dennis, have you tried this kind of skate skiing before? Harsh!</div>
<p>Though not nearly as cold as the Susitna <a href="http://en.wikipedia.org/wiki/Ice_road">Ice Road</a>, today's nice, crisp weather is just right for Flagstaff.  Meet at Telecom at 12p.</p>