---
title: Flagstaff Ride Report
date: 2007-05-17 14:30:00
tags: sundry, 
---
<div class="center"><br />Bay at the moon! Howl the eternal howl! Ride with your Frenz!!</div>
<p>Well, I threw a real curveball, followed by a knuckleball, followed by a change-up today.  Due to an ill-timed 12-1p meeting, I did a last minute rescheduling of the ride, which threw the universe out of whack.</p>
<p>Fortune wasn't totally against me, though, as I ran into David Fuller on the bike path, and he and I proceeded to ride Flagstaff&mdash;twice in a row now for moi!  David and I, unfazed by the claps of thunder and the slate gray skies, pedaled up and down without getting soaked in rain.  Good timing.</p>
<p>Matt's asked that we ride Neva Loop tomorrow around noon.  Any takers?  I told Matt that he would have to persuade K-No, who despises that particular route.</p>
<p>Football enthusiasts: please take note of the numero uno team in ESPN's recently released <a href="http://sports.espn.go.com/nfl/powerranking?season=2007&amp;week=0">Power Rankings</a> for the 2007 Season.</p>