---
title: The Lazy Torch
date: 2007-05-10 13:28:00
tags: sundry, 
---
<p>No one rode today, though Kevin assures us he will ride to work after running home, so that counts for something.  Way to go, Kevin.  By the way, how did the ITS softball team fare last night?</p>