---
title: Flagstaff Ride Report
date: 2007-03-19 12:45:00
tags: sundry, 
---
<p>The just right temps made for a peachy Flagstaff Mountain ride today.</p>
<p>Dave and I decided the best way to recover from a ride up Lefthand Canyon is to ride Flag hard.  Tomorrow, I'm thinking Fourmile at a leisurely pace, followed by a fun game of Fox-Hound around 5:15p.  Hope you can come!</p>