---
title: Fourmile Canyon Ride Report
date: 2007-03-20 12:42:00
tags: sundry, 
---
<p>Dave and Matt braved Fourmile Canyon by themselves this afternoon.</p>
<p>Mr. U battled tire problems (and mental ones too), while Mr. Burton wondered whether he would pay for biking at lunch and after work.</p>
<h6>After Work Fox-Hound Ride Report</h6>
<p>Fantastic game tonight!  Kevin missed his co-hounds and took off on his own, managing to catch the foxes in half an hour.  The foxes cornered this sole hound and forced him to turncoat.</p>
<p>With three foxes against a mere two hounds, the hounds had their work cut out for them.  But, to their credit, they rode the challenging course and nearly caught us.  Good show!</p>
