---
title: Northwest Passage Ride Report
date: 2007-03-26 12:35:00
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/03/P1010087.JPG" /><br />Steve's dad helps install bamboo flooring...</div>
<p>Greg, Matt, and Adriana took time away from their busy spring break schedules to duke it out with the freakish dirt slopes of <a href="http://www.flagstafffrenzy.org/routes#northwest">Northwest Passage</a>.</p>
<p>In spite of a front puncture on the flats, Greg tucked into his aero bars and burned rubber up the 13% grades of Bow Mountain Road.  Matt was close behind, giving the seasoned communications liaison a reason to look over his shoulder on future rides.</p>
<p>Adriana wasn't heard breathing at all on the ascent but was overheard chuckling something roughly interpreted as "that was easy" at the top.  Though I could feel the spare-tire pounds (from four days of corn chips, beer, and kneeling), I didn't die on the ride.</p>