---
title: Back Alley Ride Report
date: 2007-04-18 12:53:00
tags: sundry, 
---
<div class="center"><br />We used to watch the Pink Panther series all the time when we were kids</div>
<p>No arrests on today's ride, so all is well.  Kevin was smart enough to bring his ski mask, but he forgot to leave his I.D. home.</p>
<p>Brian Kent joined Dave, Kev, and I, which was a real treat.  Of course, he was heard mumbling something to the effect that he would never ride with us again.  Hope that was a fleeting sentiment.</p>