---
title: Poorman Loop Ride Report
date: 2007-07-16 13:50:00
tags: sundry, 
---
<div class="center"><br />Steve and Adriana are all smiles now after riding Trail 401 in <acronym title="Crested Butte">CB</acronym> this weekend</div>
<p>Wow! <a href="http://www.google.com/maps/ms?hl=en&amp;doflg=ptm&amp;ie=UTF8&amp;msa=0&amp;msid=100713211184899290190.000477add2cc711144261&amp;ll=40.022093,-105.30653&amp;spn=0.083738,0.136471&amp;t=p&amp;z=13">Poorman Loop</a> was hot today.</p>
<p>Poor Greg had a front tire flat only half a mile from campus, so he had to walk back shortly after saddling up.  The Frenz recent front tire woes are getting a little disconcerting.</p>
<p>In spite of the heat, Matt rode like the burley-man he is.  I'm telling you, he's improving and will soon be beating us all...and letting us know he's beating us.</p>
<p>Hope Dave can find <a href="http://www.nps.gov/lacl/historyculture/proennekes-cabin.htm">Dick Proenneke's cabin</a> while playing with the mosquitoes in Alaska.</p>