---
title: Neva Flagstaff Ride Report
date: 2007-03-27 12:33:00
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/03/IMG_1099.jpg" width="500" /><br />Adriana's back up at Niwot Ridge, hopefully fixing the <a href="http://instaar.colorado.edu/tundracam/index.php">tundra cam</a> this time</div>
<p>Well, I'll be darned...thought Dave was outta town so I skipped Neva today.  Sorry, Dave.  I rode Flag instead.</p>