---
title: Easterly Ride Report
date: 2007-03-21 12:25:00
tags: sundry, 
---
<p>Frenz exercised their democratic rights today, vetoing the proposed Poorman Loop ride in favor of a flat, easterly one.</p>
<p>It was a great day for anyone riding in a southeasterly direction, as the winds were steady out of the northwest at 10-20mph.  So, even though we technically rode on the flats today, they sure felt like hills in the headwind.</p>
<p><strong>NEWS FLASH:</strong> Rob's proposed an after work <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2008/11/initiation_view.jpg">Initiation</a> run next Wednesday.  Those interested should contact him.  Sounds like fun to me.</p>