---
title: Flagstaff Ride Report
date: 2007-04-02 11:24:00
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/04/opening-day.jpg" /><br />The baseball season starts today, with the Rockies vs. the Diamondbacks @ Coors Field</div>
<p>Everyone bailed on me today, and they missed out on a wonderful ride.  Conditions were perfect for hammering up the blog's namesake: cool, partly sunny, and quiet.  Maybe tomorrow we can rally the troops.</p>