---
title: Boxing Boulder Ride Report
date: 2007-09-05 12:36:00
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2007/09/boxing_boulder.gif"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/09/boxing_boulder.gif" width="500" /></a><br />Put up your dukes...it's time for Boxing Boulder</div>
<p>With Kevin, Adriana, and Matt joining me, we had a great peloton to slice through the thick, humid air on Boxing Boulder today.</p>
<p>It was good to get out and practice echelons and other aerodynamic formations for Sunday's <a href="http://www.buffalobicycleclassic.com/">Buffalo Bicycle Classic</a>.  If you haven't signed up for it, do so pronto!  Space is quite limited now.</p>