---
title: SuperFlag Ride Report
date: 2007-01-11 15:45:00
tags: sundry, 
---
<p>Let it never be said that a guy who concentrates exclusively on running big miles on trails is a limp nancyboy on the bike. Okay, go ahead and say it... but it wouldn&#039;t be true; Sir Brian Kent jumped the pack (me - DU) en route to Lost Gulch like a bionic yak on diet pills today.  Screw "surge" in Iraq. We&#039;ll keep it here on the Frenzy where it was invented. Great ride, Brian. Hope you thaw out before Leadville.<p>
<h6>Morning Post</h6>
<blockquote>
<p>Last chance for a bit of pavement before the next big storm?</p>
<p>If Steve was here (instead of wasting away indolently in Florida), I&#039;ll bet he&#039;d want to go hammer on SuperFlag a bit before the snow flies again tomorrow. Let&#039;s keep him happy, eh?</p>
<p>Where: Super Flagstaff (to Lost Gulch)</p>
<p>When: From Telecom at 12:10</p>
</blockquote>