---
title: Flagstaff Ride Report
date: 2007-01-23 13:45:00
tags: sundry, 
---
<p>Yes, you've read the title correctly!  We rode up Flagstaff today, though I had to turn around at Panorama Point to get back for meetings with faculty.</p>
<p>As you might have guessed, Fair-Weather Frenz were nowhere to be found, but the hard-core (aka, dumb) Frenz rode to glory.  We even saw Bryan (paniers and all) heading up, so the road must be good!</p>
<p>Tomorrow, we'll hit it again, temperatures permitting.</p>