---
title: Best Wishes to Dave
date: 2007-05-14 16:06:00
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/05/DSCF0286.JPG" /><br />Steve post-wisdom teeth removal. I was told I'd look like Brad Pitt afterwards. I want my money back!</div>
<p>Well, Dave wasn't bitten by a spider today.  Turns out it's a little more serious.  We Frenz wish him well!</p>
<p>While I spent the afternoon napping and Burton spent it reading <em>Seventeen</em>, Kevin rode Sunshine Canyon and Greg rode Fourmile Canyon.  Their reports are filed in the comments.</p>