---
title: Sunshine Canyon Ride
date: 2007-12-05 09:18:00
tags: sundry, 
---
<div class="center"><br />I think this video's funny because the guy seems so ticked off at the wind</div>
<p>Too bad K-No couldn't join us today.  Dave and I found the temperatures and lack of clouds quite a pleasant change to yesterday's craziness.</p>
<p>The usual <a href="http://www.komotv.com/weather/asksteve/4347556.html">frost pocket</a> was not detectable at the base of Sunshine Canyon, and there were some tailwinds pushing us uphill.  What a treat!  We were so jazzed that we shimmied our way down Poorman and gingerly avoided the traffic stream in Boulder Canyon.  Great day.</p> 
<p>Wow, I set myself up for some smack talk today!  Read Dave's <a href="http://www.flagstafffrenzy.org/2007/12/05/sunshine-canyon-ride-2#comment-572">gut-busting comments</a> on my whiny post below.</p>
<h6>Steve's Wednesday Whining</h6>
<blockquote>
As an aside, I don't feel bad about not riding yesterday afternoon.  The ride home last night more than made up for it!
<br /><br />Because the darn RTD bike rack was full, I resigned myself to pedaling home at about 6pm.  With winds <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;t=p&amp;om=1&amp;msa=0&amp;msid=106412931864288195098.0004408c993b86bf89ea2&amp;ll=39.97245,-105.255632&amp;spn=0.055055,0.125999&amp;z=14&amp;iwloc=0004408cc1a82ff9ad6b8">squarely out of the west</a> at 25-30mph, gusting to 55mph, it was often a battle to remain upright.
<br /><br />The stretch along <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;t=p&amp;om=1&amp;msa=0&amp;msid=106412931864288195098.0004408c993b86bf89ea2&amp;ll=39.97245,-105.255632&amp;spn=0.055055,0.125999&amp;z=14&amp;iwloc=0004408c9d848253bec70">Greenbriar leading up to Fairview High</a> reminded me of the wind tunnel at NCAR&mdash;the force of the wind was steady enough that you could simply plug away and deal with it.
<br /><br />However, where <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;t=p&amp;om=1&amp;msid=106412931864288195098.0004408c993b86bf89ea2&amp;ll=39.97245,-105.255632&amp;spn=0.055055,0.125999&amp;z=14&amp;iwloc=0004408cb3474c5b988e8">Greenbriar bears left at Fairview</a>, the crosswinds were atrocious.  At one point it took everything I had (and I was on my 40lb truck) to keep from being pushed from the bike lane into traffic.  I figure I was pushed about 15ft from the curb.</p>
<br /><br />'Tis December, I reckon.
</blockquote>
<p>This won't be the last whining you hear from me!</p>