---
title: Sunshine Canyon Ride
date: 2007-05-22 20:26:00
tags: sundry, 
---
<p>Oops! Sorry, Kevin.  Adriana and I didn't see anyone outside Humanities, so we headed up Flagstaff.  It was chilly today.  Just right, actually!</p>