---
title: Flagstaff Ride Report
date: 2007-05-01 13:28:00
tags: sundry, 
---
<p>Apparently Kevin was in <a href="http://www.cyclingnews.com/road/2007/may07/romandie07/?id=results/romandie070">Romandy</a> today, but I swear I saw him foaming at the mouth on Flagstaff, ranting about having to give a hair sample to the UCI (at least that was what I think he was saying as I was descending by him at 35mph).  Unclear.</p>
<p>Despite the foaming rant, I was glad to see that he (or his doppelg&auml;nger) hasn't given up on the Frenz, even if he is dropping us with a little synthetic help.</p>
<p>Speaking of supernaturals, Dave joined me on the early edition ride today and spent the ascent targeting and reeling in victims, who will undoubtedly appear in his log as stick figures with an 'x' crossing them out.  [<a href="http://www.flagstafffrenzy.org/2004/10/24/extreme-lunch-brake">reference</a>]</p>
<p><strong><em>NB</em></strong>: The gate's open on the Amphitheater service road, so let the record attempts begin!</p>