---
title: Northwest Passage Ride Report
date: 2007-06-01 14:26:00
tags: sundry, 
---
<p>We conquered the dreaded <a href="http://www.flagstafffrenzy.org/routes#northwest">Northwest Passage</a> today without the use of banned substances.  Actually, that's a little bit misleading, as rumor has it Kevin's been working with Ricardo Ricco's <em>preparatore</em>:</p>
<blockquote><p>
Riccò also uses the services of controversial masseur Roberto Pregnolato who was Pantani's soigneur. Pregnolato was found guilty in possession of drugs and trying to get rid of them during the <em>blitz</em> at the Giro in 2001. <q>He's not my preparatore (trainer), he only gives me massage sometimes; he's from Modena and he's a good masseur,</q> Ricky acknowledges. [<a href="http://www.cyclingnews.com/road/2007/giro07/?id=/riders/2007/interviews/riccardo_ricco_giro07">CyclingNews</a>]
</p></blockquote>
<p>Enough with the rumors, though.  Everyone should wish Mark a Happy Birthday, as tomorrow is his big day!</p>
<h6>Special Friday Announcement</h6>
<p>Next Wednesday at 8am sharp, we'll be joining Paula Vaughan on her <a href="http://home.comcast.net/~pjsrun/wsb/html/view.cgi-home.html-.html">run from Boulder to Michigan</a>, so contact me if you're interested in joining (for the first few miles, of course).</p>