---
title: Flagstaff Ride Report
date: 2007-05-04 12:31:00
tags: sundry, 
---
<p>To be honest, I was just going to skip today's ride.  But when I saw Kevin and Brian show up, I knew I couldn't wriggle out of it&mdash;if it was just Dave, I would've had no problem ditching.</p>
<p>I'm glad I did ride, though, as we managed to slip in a good workout before afternoon showers and take in the greenery of springtime Boulder.  Thanks to Brian, Dave, and Kevin for motivating me to crawl out of the tunnels.</p>
<p>Have a great weekend, everyone!</p>