---
title: Matt's Last Flagstaff Ride Report
date: 2007-10-05 17:40:00
tags: sundry, 
---
<div class="center"><br />Ride on, Matt! The Frenz wish you all the best. [<a href="http://picasaweb.google.com/flagstafffrenzy/MattSLastRide">View Gallery</a>] </div>
<p>Though it's sad to see Matt go, it was great to send him off with the cheerful camaraderie we've come to expect from the Frenz.  Enjoy the hijinks through our <a href="http://picasaweb.google.com/flagstafffrenzy/MattSLastRide">photo gallery</a>.</p>
<p>Thanks to everyone for showing up, to Dave for the cooler, and to R L for driving all the way from Denver to run support!</p>
<p><strong>Good luck, Matt!</strong>  We'll see you in December.</p>
<h6>This Morning's Post</h6>
<blockquote>
<p>Since first joining our midday marauds in February 2006, MB has steadily plugged away, raising his fitness level from ho-hum to catch-me-if-you-can.<br /><br />
Indeed, not long after hitching his wagon to the Frenzy train, our flyboy <a href="http://flagstafffrenzy.org/2006/06/matt-burtons-napa-valley-ride-report">aimed higher and higher</a>, eventually winning the prestigious <em>Most Improved Rider</em> and <a href="http://picasaweb.google.com/lh/photo/TJUjU-_DxP4I7oqlDdT9_g?feat=directlink">Best Dressed Rider of 2007</a> trophies.<br /><br />
But now, Frenzy Faithful, Matt's moving on.  Let's send him off right with a farewell ride up Flagstaff.  Gather at Telecom at 12p.</p>
</blockquote>