---
title: Flagstaff Intervals Report
date: 2007-03-16 10:47:00
tags: sundry, 
---
<div class="center"><br />A different type of intervals</div>
<p>Due to silly lunchtime meetings, I hit Flagstaff early today, subjecting myself to four painful intervals in <q>The Hole</q>.</p>
<p>Overall, I think I rode at a wise pace that still delivered a tough workout.  The weather was perfect: slightly cool, dry, and not too sunny.  I hope the rest of you had good workouts, whether they involved hills, flats, or weights.</p>
<h6>Lefthand Canyon Ride</h6>
<ul>
<li>When: Sunday, 8am</li>
<li>Where: Meet near the <a href="http://www.google.com/maps?hl=en&amp;q=Greenbriar+Inn&amp;fb=1&amp;cid=0,0,14818891129727888314&amp;near=Boulder,+CO&amp;ie=UTF8&amp;z=10&amp;ll=40.215587,-105.261383&amp;spn=0.504407,1.2854&amp;om=1&amp;iwloc=A">Greenbriar Inn</a></li>
</ul>