---
title: Neva Loop Ride Report
date: 2007-10-29 14:50:00
tags: sundry, 
---
<div class="center"><a href="http://picasaweb.google.com/lh/photo/r2QC9bsv5eXE4iM7qg2hnw?feat=embedwebsite"><img src="http://lh4.ggpht.com/_zoD15FRZxcs/SuIJPDjFq5I/AAAAAAAABeM/hF5Jbpkq4GU/s800/07-10-28_OTS.JPG" width="500" /></a><br />OT Bogle and OT Burton, ready for Halloween (toy guns don't scare anyone tho')</div>
<p>Today, <em>The Replacement</em> filed this ride report:</p>
<blockquote><p>
Ah, October. The turning leaves, the smell of pumpkin pie in the air, the sight of a Trunk Monkey blazing past on the side of the road.<br /><br /> 
I guess some of us have different Octobers…<br /><br /> 
Neva Road was beautiful today; a bit chilly getting started, but downright warm by the end of things. Other than that, a pretty standard ride, with The Replacement going from one end of the pack to the other, Sparky keeping a pretty nice pace throughout (I think she was practicing for when she’s on the lam for setting her building on fire…), and OT Steve providing some of that cool optimism as always.
</p></blockquote>
<p>Matt has filed another report from Alabama:</p>
<blockquote><p>
The attached photo is of Officer Trainee (OT) Bogle and myself, OT Burton.  We just finished up our very first MREs, which were quite delicious.  We finished Small Unit Tactics I &amp; II that morning as well as land navigation.  Tactical communication and first aid comprised the afternoon after the photo.<br /><br />
We agreed that we would both do Super Flag ten times back-to-back instead of going through OTS if we could.
</p></blockquote>
<p>Don't worry, Matt.  We'll make sure you get your 10 Super-Flag wish upon your return in December.  Please come prepared.  Thanks for measuring the difficulty of OTS using the "Frenzy Scale".</p>
<h6>Save the Date!</h6>
<p><a href="http://picasaweb.google.com/flagstafffrenzy/FirstFreakyFrenzy">Freaky Frenzy</a> this Wednesday at noon!</p>