---
title: Northwest Passage Report
date: 2007-07-26 17:52:00
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2007/07/DopingSprinter.jpg"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/07/DopingSprinter.jpg" width="500" /></a><br />Matt's drug denials ring fatuous when you see his "results"</div>
<p>Greg, Matt, Adriana and I all endured the dizzying heights of Northwest Passage today.</p>
<p>Matt's been improving dramatically but denies working with the sulfurous <em>pr&eacute;paratoire</em> <a href="http://en.wikipedia.org/wiki/Michele_Ferrari">Michele Ferrari</a>.  Results of his doping tests, conducted today by the Frenz, will be published tomorrow at 10a.</p>