---
title: Flagstaff Ride Report
date: 2007-11-29 14:10:00
tags: sundry, 
---
<div class="center"><br />These are Deb's old stomping grounds (Dartmouth Outing Club)</div><p>It's really exciting to watch dark, billowing clouds enshroud the <a href="http://mms.nps.gov/romo/netcam.jpg">Indian Peaks</a> from the top of Flagstaff Mountain, especially when the winds are whipping by.  Unfortunately, that cauldron of snow won't reach us today.</p>
<p>Flagstaff was nicer today than on Monday&mdash;only patches of ice and much warmer temperatures.  Dave and I watched several riders whiz by us on the descent, but we weren't in a rush to get back.</p>
<h6>Happy Birthday, Sean!</h6>
<p>Can you believe <em>The Replacement</em> is only 22 years old?!  Geez, makes Burton look like a grizzled old man!</p>