---
title: Little Buffalo Ride Report
date: 2007-06-13 13:10:00
tags: sundry, 
---
<div class="right"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/06/P1010048.jpg" /><br />Bike Path Ride</div>
<p>Thanks to Matt, Greg, Adriana, Katie, and Rob for accompanying me on my photo-happy ride along the <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=106412931864288195098.000001131ce5a18bd8fec&amp;om=1&amp;ll=39.995534,-105.232887&amp;spn=0.124933,0.32135&amp;z=12">14-Mile Little Buffalo</a> course of the upcoming <a href="http://www.buffalobicycleclassic.com/">Buffalo Bicycle Classic</a>.</p>
<p>The photos are actually embedded in the map, so go have a look.</p>
<p>Speaking of the <acronym title="Buffalo Bicycle Classic">BBC</acronym>, if anyone wants to ride, there's a team conspicuously called <q>Flagstaff Frenzy</q>.  Not sure I'd ride with them, though; they've got a reputation.</p>