---
title: Super-Flag Ride Report
date: 2007-05-25 10:12:00
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/05/lost-gulch.jpg" width="500" /><br />A funky view of the Lost Gulch overlook (<a href="http://360vr.com/flagstaff2/#">photographer</a>)</div>
<p>It was so nice out today I thought to myself, "why stop at just the Flagstaff summit?"     I couldn't come up with a good answer (no 1 PM meeting today), so I kept going, past the Lost Gulch overlook, up to the park boundary.  It was a great ride and there were a bunch of other people out enjoying the weather.  It was 70 degrees and sunny, or as Steve might say, "too hot."</p>