---
title: Flagstaff Field Test Report
date: 2007-08-09 13:01:00
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2007/08/obstacles.JPG" /><br />Matt's never liked obstacle courses....</div>
<p>Talk of a "rest day" brought the Frenz out in force despite the heat or, as Kevin likes to call it, "The new 'comfortable.'" Dave surprised nobody by suggesting we make our way up Flagstaff Mountain despite the construction.</p>
<p>We made it about two miles up the road from Gregory Canyon before a lengthy <em>ten minute</em> wait kept us from going any further.  We pointed our wheels downhill and headed back to another afternoon of work.</p>
<p>The road surface is still quite tacky - <em>just like Steve!</em>  For much of the ride it sounded as if we were riding through light sand.  The flagman that capped our ride said that paving work was scheduled for completion tomorrow.  Striping and painting will occur on Monday and Tuesday.  Our namesake should be good-to-good by next Wednesday.</p>