---
title: Change of Pace Ride Report
date: 2008-04-03 13:31:00
tags: sundry, 
---
<div class="center"><a href="http://picasaweb.google.com/lh/photo/FsmUPzUYS5VQmOeuaFIn8w?feat=embedwebsite"><img src="http://lh5.ggpht.com/_zoD15FRZxcs/SvJAJVKJYVI/AAAAAAAAB9M/99aO45uZAZk/s800/DSC_0158a.jpg" width="500" /></a><br />On Tuesday, I accepted the Buffalo Bicycle Classic team fundraising award on behalf of the Frenz.</div>
<h6>Ride Report Courtesy of Dave</h6>
<p>Flagstaff was wicked cool today. Ragged little clouds, waves of grain snow hopping on the pavement like popcorn, and nobody around. I love how a little weather scares people off. I missed having SB and K-No along though; their effortless chatting about work while I hork my lungs is always comforting.</p>