---
title: Bike Path Spin Flagstaff Assault
date: 2008-09-08 12:27:00
tags: sundry, 
---
<p>Dave and I must have crossed our wires today. I missed chaperoning him to Flatirons Hospital.  Let's wish him well, as he finds out if it is indeed a ruptured disk.</p>
<p>Shortly after you wish him well, it's okay to make fun of him.  So here goes.</p>
<p>The reason I missed him was that he gave me the usual Monday morning phone call that runs something like this:</p>
<p><strong>DU</strong>: <q>Rush had some really salient points this morning...</q><br />
<strong>SB</strong>: [Puts down phone.  Gets up to make coffee.  5 minutes pass.]<br />
<strong>DU</strong>: <q>...Anyway, that's what G. Gordon Liddy thinks. You there?</q><br />
<strong>SB</strong>: <q>Thanks, Dave.  Gotta run.</q></p>
<p>Somewhere in that <q>exchange</q>, I missed that Dave might be running late and we should postpone until a few minutes after 12pm.  Oh well.</p>
<p>Good day out there just the same.  Saw a deer and <a href="http://en.wikipedia.org/wiki/Redd_Foxx">redd foxx</a>...oops, I mean a red fox. Today was the first day I got to wear my Smartwool beanie too.  Needed it!</p>
<p>I walked out of my office, having just looked at the <a href="http://www.colorado.edu/webcam/">webcam</a> (since I don't have any windows down in HQ). Darn thing was stuck on an image from yesterday&mdash;I missed the <strong>Important Notice</strong> warning!</p>
<p>Imagine my surprise when the promised sunny skies turned out to be fog and drizzle.  The temp at the <a href="http://tinyurl.com/yj2ffw">Mesa Lab</a> was 44&deg;F, which when combined with wet conditions means soup weather.</p>
<p>I'm just now getting the feeling back in my shins. Shouldn't have done the shorts today!</p>