---
title: Big Game Ride
date: 2008-09-18 08:08:27
tags: sundry, 
---
<div class="center"><br />If you missed SNL this past weekend, you missed a great Sarah Palin impersonation</div>
<p>No, we're not hunting big game.  There <em>IS</em> a big game between CU and West Virginia.</p>
<p>If you're interested in cruising around the bike paths either around noon or after 2pm, let us know by leaving a comment.</p> 