---
title: Fourmile Neva Airport Road Ride Report
date: 2008-07-11 12:45:00
tags: sundry, 
---
<div class="center"><br />Cavs and I agree: bring back the Coors Classic!</div>
<p>Sean Pease broke a record on today's ride, but unfortunately it wasn't the hour record or something else.  No, poor guy had four or so flats.</p>
<p>Still it was great to get out, despite the darn heat and dry wind&mdash;relative humidity currently: 4%!!!  Cavs also joined today's proceedings, and he reminded me that I have no business even pretending to sprint.</p>
<p>Thanks for coming today, guys!  Have a good weekend, everyone.</p>