---
title: Flagstaff Ride Report
date: 2008-07-10 12:15:00
tags: sundry, 
---
<div class="center"><br />I have great Frenz!  Thanks for joining today, everyone.</div>
<p>Noel, Kevin, Greg, Adriana, Dave, Mark, and I gave something back to the hills we love this morning.  Some of the interesting tidbits we found: car bumper, remains of car wreck, retirement diploma from U. of Illinois, and much more.</p>
<p>The most boggling thing was the cigarettes.  Come on, people!  We found lots of other interesting things too.  What was the most interesting find in your minds, guys?</p>
<h6>Today's Actual Ride Report</h6>
<p>Hot.</p>