---
title: Flagstaff Ride Report
date: 2008-08-25 12:12:00
tags: sundry, 
---
<p>Thanks to Dave for getting me out of the office for an hour!  It's too hot.  Someone turn down the thermostat and dial up fall, please.</p>