---
title: Orienting New People
date: 2008-08-19 08:41:00
tags: sundry, 
---
<div class="center"><br />In search of a motivational speech...</div>
<p>Today I'm attending and speaking at orientations for new French and Italian TAs, new faculty, and new Spanish and Portuguese TAs, so I won't be able to join you.</p>
<p>I'll bet Dave's rattling his cage over there, though, chomping at the bit to get outside.  Leave a comment for him if you're up for a ride.</p>