---
title: Flagstaff Ride Report
date: 2008-10-30 23:06:14
tags: sundry, 
---
<p>Dave, Rob, Greg, and I rode up Flagstaff under bluebird skies.  At the Amphitheater, we split into two factions: one tackled the summit and another the height-of-land on the road.  Boringly nice out.</p>