---
title: Flagstaff Ride Report
date: 2008-10-06 12:38:34
tags: sundry, 
---
<p>Dang it, guys!  My faculty appointment went past 12p.  Sorry.  I'll have to spin after work or take the pooches for a good trail run.</p>
<p>Note: You can now subscribe to Frenzy <a href="http://www.feedburner.com/fb/a/emailverifySubmit?feedId=1117861&amp;loc=en_US">posts by email</a> or by <a href="http://feeds.feedburner.com/flagstafffrenzy/">RSS</a>, and you can subscribe to Frenzy <a href="http://www.feedburner.com/fb/a/emailverifySubmit?feedId=2514074&amp;loc=en_US">comments by email</a> or by <a href="http://feeds.feedburner.com/frenzycomments">RSS</a>.</p>