---
title: Sunshine Canyon Flagstaff Ride Report
date: 2008-09-02 13:15:00
tags: sundry, 
---
<p>Here's Dave's report:</p>
<blockquote>
Like fair wingéd Mercury, Steve Bailey chased<br />
My vanishing shadow up Mapleton Place.<br />
"Toward Sunshine!" he cried, "Underwood's there!"<br />
"I'll render him pulp as the fox does the hare!"<br /><br />
Through turn after turn he tore like a fright.<br />
His lungs burned, his legs jelled, but no geezer in sight.<br />
For I, like the fox, chose Flagstaff instead,<br />
And let foolish young Bailey just race in his head. </blockquote>
<p style="margin-top:1.2em;">Like Amy Winehouse says, <a href="http://www.youtube.com/watch?v=HFVM5pVTwkM">you know I'm no good</a>.  I am indeed no good, as I stood Dave up.</p>
<p>Sorry, bud, but the only thing chasing you was your Walter Mitty imagination.</p>