---
title: Northwest Passage Ride Report
date: 2008-04-22 12:27:00
tags: sundry, 
---
<p>Thanks to all the clowns who carpet-bombed my office yesterday after work.  No wonder Greg was so antsy for me to leave: <q>You should go home, Steve.  No, really!</q>  Also, thanks to everyone for my funny card!</p>
<p>Northwest Passage was great today, though it was drier than one would expect for spring. Still, Dave, Rob, Adriana, and I managed to avoid any embarrassing bike rollovers.  The weather nowadays is perfect!  Hope to see y'all tomorrow.</p>