---
title: Sugarloaf Flagstaff Ride Report
date: 2008-07-22 12:49:00
tags: sundry, 
---
<div class="center"><br />A little ditty for Ricardo Ricco.  Catchy tune...  Hopefully CSC hasn't been <a href="http://www.bostonherald.com/sports/other_sports/general/view.bg?articleid=1108274&amp;srvc=othersports&amp;position=2">singing along</a></div>
<p>Still darn hot and dry.  But, today, there's hope that thunderheads will actually deliver.  Fingers crossed.</p>
<p>Dave had to be back early, so we stuck close to home and enjoyed our favorite ride.  Dave hit the creek after, as per usual.  Stay cool, all!</p>