---
title: Flagstaff Ride Report
date: 2008-08-22 12:13:00
tags: sundry, 
---
<p>Kind of a sad day today: the last before the students return to campus <em>en masse</em> and biking around becomes infinitely more dangerous.</p>
<p>Still, it was a nice one.  It's warm out, but there's still a hint of Greeley in the air, which is to say a smell vaguely resembling Kevin's biking gloves and which is to say the wind is blowing from the north and that Kevin's gloves need to be washed thoroughly.</p>
<p>Anyhow, good luck to all who are dealing with the return of the kids.  Have a great weekend!</p>