---
title: Three Times Lucky Flagstaff Report
date: 2008-03-26 12:27:00
tags: sundry, 
---
<p>Apparently, Sean isn't taking the bait&mdash;either that or he's fallen asleep over there in Telecom.  Not everyone is asleep today, though.</p>
<p>Kevin and Dave joined me on Flag this fine (slightly gusty) afternoon.  This was number 697 for Dave, whose wife wants him to reach 1000 before retiring.  Poor guy.  Do they let you work past 72?</p>
<p>The air was quite clean on the mountain, given the orographic winds blowing around.  At one point, a gust nearly knocked the three (stooges) of us right off our bikes.  Needless to say, we crept down rather carefully, for as Dave warned, the bridge at Gregory Canyon was <em>very</em> blustery!</p>
<p>Apparently, there's sufficient interest in a summertime Frenzy Tour de Colorado, so let's start planning.  Perhaps we can do a webinar in Second Life (all while gathered in the same room).  That way, we'll be sure to get absolutely nothing constructive done.</p>
<p>Sound like a plan?</p>