---
title: Fourmile Ride Report
date: 2008-07-07 12:51:00
tags: sundry, 
---
<p>It is reported that Mr. X "may have" joined the Frenz today.  This report has not been confirmed.  Sources close to Mr. X declined to comment, stating it would be a "gross affront to common sense" if Mr. X were to have ridden today.</p>
<p>And this reporter will not rat out his pals!  Unless it involves Scooter Libby of course.</p>