---
title: Northwest Passage Flagstaff Ride Report
date: 2008-03-25 12:08:00
tags: sundry, 
---
<div class="center"><br /></div>
<p>Indeed, I bailed on the planned Northwest Passage ride.  My dear wife was the only one who joined today, and she requested that we hold off on NWP.</p>
<p>So, Flagstaff it was.  Great ride, though there was the scent of burning foliage in the air, which later proved to be a fire over near Baseline Rez (hopefully a planned burn).</p>
<p>Chillier than I had thought it would be, but not bad for the descent.  The sun made it bearable.</p>