---
title: Neva Loop Ride Report
date: 2008-04-21 12:45:00
tags: sundry, 
---
<div class="center"><br />My favorite line: <q>You can't stop what's comin'. It ain't all waiting on you.  That's vanity.</q></div>
<p>Thanks to Dave, Kevin, and Greg for joining in! Wasn't a calm day out there by any means. Steady headwind on the way east, then crosswinds.  Still, fantastic day to be out.  It's cooler than it looks, tho!</p>
<p>Northwest Passage tomorrow?  Takers?</p>
<p>Hopefully something will blow in this afternoon.  I haven't had my fill of winter. Besides, I want to burn through my small pile of wood on the porch.</p>
<h6>Another Fun Quiz</h6>
<p>Once again, the Frenzy wants to know: Do you have a good eye?  This time it's for <a href="http://ajax.sayitaintslow.com/fontgame/">typefaces</a>?</p>