---
title: Upside Down Report
date: 2008-10-31 12:43:14
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2008/10/upsidedown2.jpg"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/10/upsidedown2.jpg" width="500" /></a><br />Mark sent this from Orlando...kinda feels like my workday</div>
<p>I did manage to sneak out with Greg and reach the Flagstaff House today.  Neither of us was dressed up, but Greg was <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2008/10/s640x480.jpg">riding a strange new bike</a>.</p>