---
title: Magnolia Super-Flag Ride Report
date: 2008-06-27 12:41:00
tags: sundry, 
---
<div class="center"><br />Dave says surgery went well, but his nurse isn't very nurturing</div>
<p>Knew chances of company were slim today, so when my inkling was confirmed outside Humanities, I decided to steer clear of Magnolia&mdash;like having an amigo when riding Boulder Canyon.</p>
<p>Thus amigo-less, I climbed high, nearly making the news myself when I barely avoided a low-speed collision with a fawn that walked right in front of me while climbing the 25% hairpin near Lost Gulch.  Fortunately, I was going about 1mph, so there would've been no real news story.</p>
<p>The timing of the accident would've been perfect, however, as I saw ABC Denver News reporter <a href="http://www.thedenverchannel.com/7newsteam/2551092/detail.html">Dayle Cedars</a> in front of the camera at the Gregory Canyon trailhead.  Wonder what she was covering?  She's pregnant, by the way!</p>
<h6>Report from Dave</h6>
<p>Mr. Underwood was in great spirits this morning when I talked to him.  The operation took four hours, and he hasn't needed any pain meds (no surprise, there).</p>
<p>He said he has "106 channels of crud to watch and a good book," so I think he'll make it through the day.  He has another angiogram today and will need to spend the night, but he should be home tomorrow.</p>
<p>Good to hear you're well, Davey!</p>