---
title: Bow Mountain Boogie Report
date: 2008-07-09 12:30:00
tags: sundry, 
---
<div class="center"><br />Tim Riggs joined us on today's hot ride of Bow Mountain</div>
<p>Wow!  Tim Riggs made his Frenzy debut today, showing everyone he's made of pure salt and vinegar by riding his 2.3 metric ton classic mountain bike almost all the way to Cedar Brook Road on his first ride!  Nice work, Tim.</p>
<p>Unfortunately, we lost Dr. Lenski somewhere along the climb.  We thought we caught a glimpse of him floating uphill far ahead of us, but we quickly realized it was just paragliders.  I think he felt the pace and itinerary were beneath him and took off for thinner air.</p>
<p>Dave and I took it easy.  It was just too hot to be ambitious.</p>
<h6>Tomorrow's Cleanup Day!</h6>
<p>Join your Frenz tomorrow either at 7a @ the <a href="http://maps.google.com/maps/ms?client=safari&amp;ie=UTF8&amp;oe=UTF-8&amp;near=Boulder,+CO&amp;fb=1&amp;hl=en&amp;msa=0&amp;ll=39.996586,-105.262928&amp;spn=0.048658,0.067205&amp;z=14&amp;msid=106412931864288195098.0004519985e788779f6e8">Southside Walnut Cafe</a> or at 8a @ the <a href="http://maps.google.com/maps?client=safari&amp;q=bald+mountain+park+boulder,+co&amp;ie=UTF8&amp;oe=UTF-8&amp;ll=40.025248,-105.298805&amp;spn=0.097274,0.134411&amp;z=13">Bald Mountain Parking Lot</a> to take part in our inaugural Sunshine Canyon Drive cleanup.</p>