---
title: Flagstaff Ride Report
date: 2008-11-26 13:12:36
tags: sundry, 
---
<div class="center"><br />Photos from yesterday's ride on Super-Sugarloaf</div>
<p>Shorts and short-sleeves.  Need I say more?</p>
<p>Yeah, the day before a little bit of weather moves in, conditions are just dandy in Boulder.  Lots of tourists on the mountain, but it's easy enough to ignore them for a day.</p>
<p>Now time to go hear my officemate, The Gammonizer, talk about his dissertation: "Persistently Present."  I've invited more people than he expects in order to simulate a real world dissertation defense.  Poor guy.</p>