---
title: Flagstaff Ride Report
date: 2008-11-03 14:03:32
tags: sundry, 
---
<div class="center"><br />More of Steve's music choices foisted upon you...</div>
<p>Saw Dave on his way down today.  He had to get back by 13h.  Adriana was able to join, though, so I wasn't alone.  For someone not having ridden in a while, she's in great shape!  Now that she's almost done applying for the NSF fellowship, we hope to see her more.</p>
<p>As an aside, NASCAR?!!!  Come on, guys!  Are garbage truck drivers "athletes" too?  They get thrashed around.  Pushing down on a gas pedal?!</p>