---
title: Change We Can Believe In
date: 2008-12-22 08:16:15
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/12/change.jpg" alt="Yes, we can" width="250" height="243" /><br />Yes, we can!</div>
<p>After four years of failed policies and the same old fear-based leadership, it's time for change. Won't you join me and my fellow Frenz as we march toward a new dawn?</p>
<p>(SB has foolishly left me at the controls again as he takes his well-deserved vacation. You'd think he'd learn. Flag looks good today; call me if you're interested. 2-2672)</p>