---
title: Flagstaff Ride Report
date: 2008-05-07 11:45:00
tags: sundry, 
---
<div class="center"><br />This is for Greg.  I'm excited to bike in London next week, but not this kind of riding!</div>
<p>Very nice conditions out there.  Cloudy, slightly cool, humid, and an occasional breeze.  It looks like it may rain again sometime today; let's hope it does!</p>
<p>I was surprised to wake up to thunder last night&mdash;thought our refrigerator was running loud or something at first.</p>
<p>I was also impressed with the volume of rain, which I later learned while biking to work was hail too.  Indeed, all along the bike path in front of NOAA were piles of hail.</p>
<p>So, lurkers, it's no longer too cold out.  Where are you?</p>