---
title: Somethin' New Ride Report
date: 2008-06-18 13:24:00
tags: sundry, 
---
<div class="center"><br />Tycho is a great <a href="http://tychomusic.com/">deejay</a>, but he's also a talented <a href="http://blog.iso50.com/">graphic designer</a>!</div>
<p>Fun spin out to Eldorado Springs this afternoon.  Dave, Rob, and I agree the bike path is not an ideal way to open up the throttle, but once you're out on Marshall Road you can glide.  Thanks, guys!</p>
<p>I'm out tomorrow, but I'll post a ride for anyone who wants to organize. Dave's out too.</p>