---
title: Fourmile Canyon Ride Report (and Gravatars Tip)
date: 2008-09-10 22:43:28
tags: sundry, 
---
<p>Dave and I got another taste of fall today while we were climbing up Fourmile Canyon.  A touch of yellow in the trees and the slightly lower angle of the sun, not to mention the cooler temperatures.  Good time!</p>
<p>You may have noticed that Frenzy comments now include avatars.  To get yours showing up, sign up for a <a href="http://en.gravatar.com/">free Gravatar account</a>, make sure the email you use to create the account is the same as the one you use to leave your comment, then leave a comment.  Simple as that.</p>
<p><em>Note: Unfortunately, your new avatar will not be retroactively applied to old comments, as they are not affiliated with your email address</em>.</p>