---
title: Skunk Canyon Run Report
date: 2008-12-15 13:50:44
tags: sundry, 
---
<div class="center"><br />Footage of Dave on Flagstaff today, courtesy of Sir Brian Kent's iPhone</div>
<p>The only person <del>crazy</del> brave enough to join me today was Mr. Leary, who was probably still a bit hypothermic from his run yesterday.  Despite our lack of good judgement, we had a fine day in the sub-zero conditions.</p>
<p>Yaktrax were a must this afternoon.  What would've been really nice&mdash;and Rob and I have agreed this is patent-worthy&mdash;is some kind of heated codpiece.</p>
<p>Dave has some such device, but last time he showed it to me, he got carted off like Inspector Clouseau.  Suppose the 29th Street Mall wasn't the best location.  For now, an extra pair of shorts will suffice.</p>