---
title: Flagstaff Ride Report?
date: 2008-06-23 16:29:00
tags: sundry, 
---
<p>I had to bail last minute on the Flagstaff ride.  How was it, Greg?</p>
<p>Instead of spinning up switchbacks, I spun home to meet the chimney sweep who was trying to keep birds from flying in my house&mdash;they've been swooping down the chimney like Tom Cruise.</p>
<p>I did manage to sneak in a little run on South Fork of the Shanahan with Espresso, tho.  Of course, later, when I returned home, there was a bird in my chimney again, despite the new screen.</p>