---
title: Fourmile Canyon Ride
date: 2008-05-12 07:08:00
tags: sundry, 
---
<div class="center"><br />For Kevin and Cavs</div>
<p>I'm not sure what time I'll be able to sneak out, but let's say gather at Humanities @ 12:20p.  If I'm not there, just go on ahead.</p>