---
title: Sunshine Canyon Ride Report
date: 2008-10-23 13:19:40
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/10/postcard.jpg" width="500" /><br />When your biking and trash-talk pal is a graphic designer, you should <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2008/10/postcard.jpg">always beware</a>!</div>
<p>Wonderful riding conditions these days.  There's a nice, crispy contrast between the mountains and the sky.  Likewise, there's a nice crispness to the air that dries jerseys in seconds at the pinnacle of the climb.</p> 
<p>Adriana finally figured out that the Tsunami signs in the video above aren't telling you to run towards the tidal wave but rather that you're entering a Tsunami danger zone.  Not very intuitive if you ask me.</p>