---
title: Secret Stroll Report
date: 2008-07-02 11:57:00
tags: sundry, 
---
<div class="center"><br />Sometimes I think Dave is my own personal Sgt. Doakes...</div>
<p>I got really swamped this morning, so I didn't have time to post anything.  Fortunately for me, however, the astute Dr. Lenski rung me up and said: <q>Get off your keester!  We're riding!!</q>  And so I did.</p>
<p>We spun out Marshall, Cherryvale, and Baseline Roads, reeling in and passing folks with spirit-crushing speed.  Subsequently, several ambulances were called to fetch the shattered remains of egos from the side of the road.</p>
<p>Good thing too, as those egos really get ripe in this heat.</p>