---
title: Back Alley Ride Report
date: 2008-09-24 13:52:32
tags: sundry, 
---
<div class="center"><br />Hinault is described as being in a <q>machine-like, detached state</q> in this video; so was Dave an hour ago</div>
<p>Fantastic day out there today!  The skies are crisp with nary a cloud.  The air clean.</p>
<p>Still, climbing up Back Alley is never a cakewalk.  The unrelenting grades are said to have buckled the tree-like legs of Hulk Hogan, leaving him curled in the fetal position and asking for his pink blanket.</p>
<p>But the Frenz are badgers.  Dave, Greg, and I tackled dirt and pavement alike with aplomb, intoxicated as it were with the poetry of suffering.  Or something like that.</p>