---
title: Back (in the Saddle) Alley Report
date: 2008-11-17 13:34:59
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/11/back-alley.jpg" /><br />There was light in the darkest recesses of <em>Back Alley</em> today</div>
<p>Man, someone pinch me!  It's summery out.</p>
<p>Dave and I managed to cajole Greg into joining us on what now merely qualifies as a semi-crazy ride, given the existence of <em>Patients of Job</em>, <em>Super-Sugarloaf</em>, et al.</p>
<p>It was actually refreshing to swoop down into the frost pockets at the base of Sunshine Canyon.  The 10-15&deg; temperature difference didn't chill us one bit.</p>
<p>Poor Greg, though: if you see him later today, ask him what he thinks of our "purge" method of recovering from a cold.  Somehow, I sense that he's worse off, which means it was a good ride, of course.</p>