---
title: Sunshine Canyon Ride Report
date: 2008-04-16 13:02:00
tags: sundry, 
---
<div class="center"><a href="http://foehn.colorado.edu/weather/atoc1/PAOSweather20080416.html"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/04/wx.jpg" width="500" /></a><br />Typical spring weather in Colorado these days.  Let it snow!</div>
<p>First time we've been on Sunshine in a while.  Nice to test the legs, which is pretty much unavoidable on the super-steep upper grades.  The snow flurries were gracious enough to wait until the end of the ride to start falling.  Next winter, we should look into <a href="http://www.icebike.org/">ice bikes</a>, huh?</p>
<p>This was Dave's last ride before the vampires get him tomorrow.  Good luck, bud!</p>