---
title: Happy Birthday, Angela!
date: 2008-12-13 07:40:37
tags: sundry, 
---
<p>Frenz, today is Angela Werner's birthday.  Happy Birthday, Angela!  See you sometime on one of our lunchtime outings?</p>
<div class="left"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/12/brian.png" /><br />Sir Brian Kent: 12/19</div><div class="right"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/12/dave.png" /><br />Dave Underwood: 12/28</div>
<div class="clear"></div>
<p>Big birthday month! Does anyone want to do a little 100 mile run with Brian? Dave just wants company on the next ice-cycle ride up Flagstaff.</p>
