---
title: Flagstaff Ride (Really!) Report
date: 2008-12-12 14:45:52
tags: sundry, 
---
<p>Thanks to Rob, I was able to get out on the roadbike today and enjoy the now much drier tarmac on Flagstaff Road.</p>
<p>While there are still a few sneaky, slush-ice sections, they can be avoided.  At least our weather's not as bad as <a href="http://en.wikipedia.org/wiki/December_2008_Northeast_ice_storm">what my hometown is experiencing</a> now!</p>
<p>Have a great weekend, all!</p>