---
title: Flagstaff Ride Report (Happy Birthday, Frenz!)
date: 2008-02-25 16:18:00
tags: sundry, 
---
<div class="center"><a href="http://picasaweb.google.com/lh/photo/_FkHFYm1Qu5Bm85pQEPpiA?feat=embedwebsite"><img src="http://lh6.ggpht.com/_zoD15FRZxcs/SuFEZxSpZcI/AAAAAAAAAqQ/pHzWfH1WNIg/s800/P1010037a.JPG" width="500" /></a><br />News Flash: neither Dave nor Steve won "best dressed" at the Oscars last night</div>
<p>The red carpet was rolled out for Dave and me (and some deer) on Flagstaff today.  Absolutely nothing to complain about weather-wise or otherwise.</p>
<p>Dave says the spring bug has caught him, and he's now counting the days.  I'm still good with winter, but these spring previews aren't unappreciated.</p>
<h6>THE FRENZY TURNS 3: FRIDAY SOIR&Eacute;E</h6>
<p>Since no one wanted to freeze in a small nylon tent this past weekend, we've decided on a more civil way to celebrate <a href="http://www.flagstafffrenzy.org/2005/02">three years of the Flagstaff Frenzy</a>.  Come join us for suds somewhere on Pearl; we'll leave Humanities around 5p.</p>