---
title: Fourmile Canyon Ride
date: 2008-03-13 09:15:00
tags: sundry, 
---
<div class="center"><a href="http://picasaweb.google.com/lh/photo/zN6XT2kpOuKx3FahkzGPWw?feat=directlink"><img src="http://lh5.ggpht.com/_zoD15FRZxcs/SuHeKwGUvbI/AAAAAAAABKE/J1sRN4LBfN4/s800/daily.jpg" width="500" /></a><br />Recent picture (from Colorado Daily) of Dave during his lazy lunchtime wanderings</div>
<p>After weeks of muscle atrophy and mental decay, Dave's hankering for some kind of lunchtime activity today.  He requested Fourmile, and so Fourmile he shall get (I was tempted to dial up Back Alley, but I'm feeling kind and generous...for a change).  So, gather at 12p @ Humanities.</p>