---
title: Fourmile Sunshine Canyon Ride Report
date: 2008-05-30 12:11:00
tags: sundry, 
---
<div class="center"><br />Had I known, I would've tried to visit last week</div>
<p>Heading down University into a noticeable headwind, I decided to forgo the planned Fourmile ride in favor of the less traffic-prone Sunshine Canyon climb.</p>
<p>Well worth it too.  The Indian Peaks are still coated with snow and stand in stark contrast to the cobalt blue sky.</p>
<p>But my motives for riding Sunshine went beyond a desire for nice scenery.  I wanted to see if the "Adopt-A-Road" sign marking the upper end of our territory was in place.  It is!  I didn't have a camera, though, so no pix.</p>
<p>Dave and Kacey Jones have invited me to tag along for a Jamestown ride to the Merc tomorrow.  K-No's outta town for a week or so, but anyone else wishing to join should present themselves at the Greenbriar Inn at 8am sharp.</p>
<p>Happy Weekend!</p>
<h6>Greg Wins Award</h6>
<p>For biking to work this week from the far off land of Broomfield, Greg has been awarded the Frenzy's "Commuter of the Week" award.  The award is sponsored by <em>The American Urinal Refurbishers Union</em>, a real force in the fight for your right to pee upright.</p>
<p>Congrats, Greg!</p>