---
title: Flagstaff Cubed Report
date: 2008-02-08 12:15:00
tags: sundry, 
---
<p>A quick, windswept ride today.  I tried to rendezvous with Dave at the Gregory Canyon bridge, but he must have been swept by an altogether different vortex.</p>
<p>I only made it to Panorama Point, where there was a Tibetan ceremony taking place.  Kinda cool, but there was a lot of traffic as a consequence.</p>
<p>Have a great weekend!</p>