---
title: Gimme Some Sugar-Loaf Ride Report
date: 2008-09-29 13:22:06
tags: sundry, 
---
<div class="center"><a href="http://tinyurl.com/47scou"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/09/betasso.jpg" /></a><br />Betasso Preserve, a nice ride with views.</div>
<p>It's distinctly cooler out there.  Mesa Lab is reading 60F.  There's also the typical swirling headwind in Boulder Canyon, which made pedaling down nearly as much of a workout as pedaling up.</p>
<p>Still, these are the conditions I like.</p>
<p>Hit <a href="http://www.bouldercounty.org/openspace/recreating/public_parks/betasso.htm">Betasso Preserve</a> today, turning around at the water treatment plant.  Fun ride.  Always impressive to see either Magnolia or Sugarloaf from one or the other side.</p>
<h6>Missive from Matt</h6>
<blockquote>
<p>Greetings!</p>
<p>Welcome to the big leagues -- Joint Primary Pilot Training!</p>
<p>Once again we find our hero -- okay, maybe that is took strong a word -- in the little hamlet of Milton, Florida just outside of sunny Pensacola, Florida.  I am now in formal pilot training at NAS Whiting Field.  Everything I did before was akin to the minor leagues leading up to this.  From here on out every grade on every test, briefing, and maneuver counts towards which plane I will fly in the future.</p>
<p>Yesterday I had my first flight in the T-34.  The experience was quite a rush; it was much different (read: faster and more maneuverable) than anything I had flown before.  The first two-hour sortie passed by quickly and I can't wait to get in the air again.  I love the smell of jet fuel in the morning!</p>
<p>Check out these YouTube videos to get a (humorous) look at flying the T-34 out of NAS Whiting Field.  No, I'm not in them -- I don't have the time or the inclination to get permission to haul a camera up with me at the moment.  Rest assured I will try to get some in-flight action shots before too long.</p>
<dl>
<dt>"Navy Flight School"</dt>
<dd><a href="http://www.youtube.com/watch?v=bx3Vjkqz9V8">http://www.youtube.com/watch?v=bx3Vjkqz9V8</a></dd>
<dt>"Making a Pilot, Vol. 1"</dt>
<dd><a href="http://www.youtube.com/watch?v=1iwSuWb2gMg">http://www.youtube.com/watch?v=1iwSuWb2gMg</a></dd>
</dl>
<p>I wish I could be a bit more verbose in my description of pilot training but the ability to write escapes me at the moment.  My buddies and are off to celebrate my return to the skies!</p>
</blockquote>