---
title: Happy Birthday, Kevin!  Flag Ride Report
date: 2008-10-20 14:04:46
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2008/10/steve_lava.jpg"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/10/steve_lava.jpg" width="500" /></a><br />Steve with camcorder in hand and lava flows behind</div>
<p>Thanks to Dave and Greg for joining me on my altitude re-entry ride.  Perfect conditions out there, though chilly on the descent.  Looking forward to the rest of fall!</p>
<h6>Happy Birthday, Kevin</h6>
<div class="center"><br />A little rappin' gift for K-No</div>
<p>It's Kevin's birthday today, so be sure to speak up when you see him.  The hearing aid is on order.</p>