---
title: Flagstaff Ride Report
date: 2008-07-21 12:33:00
tags: sundry, 
---
<p>Well, I had hoped there would be brooding clouds and looming thunderstorms, but alas, only sun and heat!</p>
<p>Still, it's always better to be a little uncomfortable while outside on a bike than comfortable in a chair at your desk.</p>
<p>Anyone see the new Batman?  I wasn't as thrilled as the critics, but it was worth going to the matin&eacute;e.</p>