---
title: Criminal Mischief Flagstaff Ride Report
date: 2008-09-19 13:36:19
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/09/corsair.jpg" width="480" /><br />Kimberly found this <em>ergonomic</em> keyboard for pirates; it is <a href="http://www.talklikeapirate.com/">International Talk Like a Pirate Day</a> after all</div>
<p>While I couldn't make the Pirate festival over in the Stadium today, I did block off time to ride.  I had to block off time, in fact, because Friday is "All Faculty Call Steve Day" (unofficially, of course).</p>
<p>With Dave's help, I slipped out the side door, disguised as a janitor.  Then, we hopped on our steeds and rode off into the sunset.  Good ride.  Still comfortable temps; no sun; and good company!</p>