---
title: Flagstaff Ride Report
date: 2008-02-07 13:12:00
tags: sundry, 
---
<p>No sign of Dave's bum knee as we headed up Flagstaff today.  There was, however, a rather pesky wind that stalked us at every corner, despite our offerings of frankincense and myrrh.</p>
<p>Still, thanks to the 8x8' bed of "The Truck", we were able to pack our down bags and <a href="http://tiger.gsfc.nasa.gov/ecw.html">ECWs</a>, thus staying nice and toasty on the descent.</p>
<p>Speaking of the South Pole, my friend Randy "Crunch" Noring just had a feature named after him down there.  Randy's spent some 14-15 years on the Ice, so he deserves it.  The new feature is named <a href="http://data.aad.gov.au/aadc/gaz/display_name.cfm?gaz_id=136231">Noring Terrace</a>.</p>