---
title: West Magnolia Bachelor Ride Report
date: 2008-10-04 18:26:14
tags: sundry, 
---
<div class="center"><br />Rob, Eric, Kevin, and I carved some turns without powder today!</div>
<p>Rob's my kind of guy: doing a bike ride for the bachelor party!</p>