---
title: Flagstaff Ride Report
date: 2008-04-25 12:25:00
tags: sundry, 
---
<div class="center"><br />In honor of the returning Mr. Burton...Strong Bad</div>
<p>Someone put an APB out for Mr. Underwood.  Haven't seen him since our tour in 'nam.</p>
<p>Rob wasn't MIA today.  He and I braved blustery conditions (even for Flagstaff) to finish the week off in style.  Fortunately, the temperatures were just perfect for endurance activities.</p>
<p>Mr. Leary was doubly-daring this afternoon, dual-thon'ing the workout by biking to Gregory Canyon then running the rest of the way.  Do we have a GEarth screenshot of the trail?  Perhaps we soon will.</p>
<p>Have a wunderbar weekend, all!</p>