---
title: Dicey Dalliances on Flagstaff Report
date: 2008-02-06 16:05:00
tags: sundry, 
---
<p>Phew.  Dave forgot to tell me to bring my snowmobile on today's ride, and all the way up to Chautauqua, my front wheel was shimmying on me like that bronco I rode back in '82.</p>
<p>Luckily, I survived the snow and riding in the lane of oncoming traffic.  I live to ride another day!</p>
<h6>And Now for Something Completely Different</h6>
<p>Caucuses are weird beasts, I must say.  At Southern Hills Middle School in SoBo, they tried turning us back at the door due to the throngs of folks.</p>
<p>Now, I wasn't with the hot-headed zealots who swore at the poor volunteers trying to turn us back, but I was one of the dudes who seditiously bum-rushed the door after they closed it and walked away.  That made the whole backwards, inefficient process worth it for me.</p>
<p>Need <a href="http://www.mariaclaudiacortes.com/colors/Colors.html">some visual stimulus</a> today?</p>