---
title: Flagstaff Avalanche Danger Assessment Report
date: 2008-03-31 12:00:00
tags: sundry, 
---
<div class="center"><br />Dedicated to WebComm who relaunched 'www' last week (courtesy of Noah)</div>
<p>Not only a cold commute but also a cold lunchtime foray!  Temperatures really haven't changed much over the course of the day.</p>
<p>The fog/mist and snow from this morning lingered indeed, enabling me to sport a nice steam coat on the ascent.  Still, despite the flurries and vapors, it was comfortable enough for short-sleeves.</p>
<p>Had the mountain to myself, except for two pro-looking riders (who also opted for mountain/hybrid bikes).  The road was actually in great shape&mdash;nary a puddle of water.</p>
<p>Now time to warm the core with some vegetable soup.  If only I can get Flyboy Burton's bargain microwave to work.  For those of you not familiar with the cheap, imitation of an imitation contraption, only the 3s and 6s work.  This means if your pre-packaged, highly processed meal requires numerals other than the aforementioned, you're in for a lot of cook-time babysitting, which <a href="http://ieeexplore.ieee.org/iel6/8203/24832/01123206.pdf?arnumber=1123206">apparently isn't good for you</a> (if you're a mouse?).</p>
<p>Note to self: now that students are back on campus, schedule rides outside of class-change times.</p>