---
title: Northwest Passage Ride Report
date: 2008-09-17 15:53:42
tags: sundry, 
---
<div class="center"><br />Dave and I felt as though we were frogs on the road today!</div>
<p>Great minds don't think, as they say!</p>
<p>Indeed, today Dave and I followed our misguided hearts, which called us to the Northwest Passage.  Like a Shackleton voyage, our journey was filled with hazards and objective dangers, but we survived with teamwork and determination.</p>
<p>Well, actually, it was just some basic bikehandling skills.  Still, great to dust that ride off the shelves.  Thanks, Davey!</p>
