---
title: Sunshine Canyon Ride Report
date: 2008-10-29 13:13:30
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2008/10/lenski.jpg"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/10/lenski.jpg" width="500" /></a><br />The Frenz honor <em>Late Antiquity</em> at a superbowl dinner party; iSean offers <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2008/10/lenski2.jpg">this redux</a>.</div>
<p>No one can cast aspersions on <em>Late Antiquity</em> anymore&mdash;not until tomorrow, anyhow.  Indeed, imperial attitudes were set aside, and pedals mashed instead.  As though the heavens condoned the beatific mood, there was neither a cloud in the sky nor a zephyr on the hillsides.</p>
<h6>This Just In...</h6>
<p>Rob just wrote me to suggest I take cover.  See video below.</p>
<div class="center"><br />How can I retrieve my mail-in ballot from the recycling?!  Dave, can you mock one up?</div>
<p>Eric Rudolph says he thinks I can make it in the mountains for a few months.</p>