---
title: Poorman Ride Report
date: 2008-02-13 23:59:00
tags: sundry, 
---
<p>Apparently, the lack of diversity in our rides of late has dissuaded all but the biggest Frenzy nerds.  But today, with Poorman Loop thrown in the mix and temperatures tickling 60&deg;F, some of the cool kids came out of the woodwork.</p>
<p>Yes indeed, K-No showed up in shorts, ready to ride.  Like clockwork, the winds picked up and batted us around with one-two combinations as we pedaled up Boulder Canyon.</p>
<p>As soon as we reached Fourmile, however, the blustery conditions vanished.  After that, there were no more obstacles, save a runnel of black ice that ambushed us to no avail on Poorman Road.</p>
<p>Descending Sunshine Canyon was as pleasant as a summertime ride in the Indian Peaks.  Even Dave's brakes cooperated allowing him to alight safely on Mapleton Road.  Great taste of spring!</p>