---
title: Flagstaff Sprint Report
date: 2008-09-25 12:41:42
tags: sundry, 
---
<div class="center"><br />My darling wife just had the above video published in the <a href="http://dotearth.blogs.nytimes.com/2008/09/25/video-alaskas-eroding-arctic-coast/">NYT Science</a> section</div><p>Man, this is like summertime!  I made it to Crown Rock before having to turn around, which is great.  Good little ride, and enough time to do the sink bird-bath, wolf down a salad, and go teach a 2hr class.</p>
<p>I've been itching for "Initiation" lately.  Anyone?  That means, Greg, of course!</p>