---
title: Poorman Ride
date: 2008-02-29 09:36:00
tags: sundry, 
---
<p>It's supposed to be a very nice day, so get out there and enjoy!  Don't think I'll be able to make this so don't wait for me.</p>