---
title: Bow Mountain Boogie Report
date: 2008-03-10 13:55:00
tags: sundry, 
---
<div class="center"><br />This is a great ad from the UK</div>
<p>Dave and I danced the Bow Mountain Boogie this afternoon, and while our skillz on the dance floor are questionable, at least we got out there and cut a rug.</p>
<p>Little bit of mud at the top of Roubaix Row, where only the inimitable Greg "Power" Stauffer can make it with his TT bike.  Otherwise, smooth, mudless sailing.</p>
<p>Dave says we're doing intervals behind the Rec Center tomorrow.  Sounds like a shady place for a workout, if you ask me.  I mean, how do you avoid cutting your hands on all those broken beer bottles Dave left down there?!</p>