---
title: Flagstaff Ride Report
date: 2008-10-24 12:27:01
tags: sundry, 
---
<div class="center"><br />More of Paul Frederick's fantastic work.</div>
<p>Warmer today&mdash;stuck with shorts and short-sleeves for the ascent, adding a vest, wool beanie, and arm warmers only for the descent.  The breeze has again cleared skies of haze and added a little refreshment to the climb, especially in the corners.  Have a great weekend!</p>
<p>The above video reminds me of the sugar maples in Sugar Hill, New Hampshire.  This video was shot in Rumney, NH near where my dad teaches computer science courses, <a href="http://www.plymouth.edu/">Plymouth State University</a>.</p>
<p>I don't see the Frenzy on Comscore's recent <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2008/10/web-ranks.jpg">domain rankings</a> for September&mdash;but WordPress is #33.  The Frenzy only had 120 unique visits in September.  Good news is that only 9% of our total hits were from folks using Internet Explorer.</p>