---
title: Ride with Dave
date: 2008-04-11 07:46:00
tags: sundry, 
---
<div class="center"><img src="http://lh3.ggpht.com/_zoD15FRZxcs/SvHyCmkTGnI/AAAAAAAAB8Q/FZN0sEACk_Q/s800/warmed_over.jpg" /><br />Soon it will be too hot for Dave and me to ride, and we'll be forced to retreat to more polar climes</div>
<p>I have my Friday 12-2p gig today, so join Dave.  He said today's ride is a "surprise," so show up at Telecom at 12:15p to see what he has in store.  I may try to sneak out at 2:10p to get in my fifth Flagstaff ride in a row.  You only live once.</p>
<p>Savor these cool temps, as it's going to be too hot to ride next week (72&deg;F on Monday).  All Frenzy activities will cease.</p>