---
title: Flagstaff Independence Ride Report
date: 2008-07-03 12:29:00
tags: sundry, 
---
<div class="center"><br />Since he can't ride up, Dave decided to bomb down</div>
<p>Just as well, <a href="http://flagstafffrenzy.blogspot.com/2008/07/flagstaff-independence-ride.html#c276404294646719666">Kev</a>, my meeting with a faculty member ran over (30min), so I didn't get out until 12:30p.  Sorry to anyone who may have been waiting for me at 12:10p.</p>
<p>But, as you can imagine, it was a fantastic day to be out.  It's a little more humid and hazy than normal, but not unbearable by any stretch.  The 73&deg; temps are a welcome respite from the 90s!!</p>
<p>Happy Fourth, All!!</p>