---
title: Magnolia Ride Report
date: 2008-09-23 13:30:15
tags: sundry, 
---
<div class="center"><br />I've been finding myself pining for cooler temps, like those found back home</div>
<p>With Dave out due to an MRI that <q>looks like the Isthmus of Ipswich,</q> I had to fly solo today.  What better way to celebrate the freedom of the road than with a little cruise up <a href="http://tinyurl.com/4l8ma8">Magnolia Road</a>?</p>
<p>Ouch!  That hurt.  Some of the driveways up there are quite literally on the brink!  I found myself constantly on the brink too...on the brink of a bonk, that is.</p>