---
title: Neva Loop Ride Report
date: 2008-06-20 12:40:00
tags: sundry, 
---
<p>It's true: Kevin's still working for CU-Boulder...or at least living nearby.  He joined "us" today for a great spin on Neva Loop ("us" being me).  Long time, no see, K-No!</p>
<p>It was kinda breezy the whole way, so chit-chatting was tough.  63rd was strangely busy with traffic, but instead of taking the Diagonal back, we followed 63rd to Valmont, which was less busy and thus more enjoyable.</p>
<p>So, Kev, when's the next screening of <a href="http://www.sho.com/site/dexter/home.do">Dexter, Season 2</a> happening?  Happy weekend, all!</p>
<h6>Bike to Work Day: Next Wednesday, June 25</h6>
<p>Don't forget.  Next Wednesday is <em>Bike to Work Day</em>, and our good Fox-Hound friend Dave Cavalieri has organized an ITS team.  So, <a href="http://www.drcog.org/btwd2008/dsp_registerIndividual.cfm">sign up now</a> and be sure to join the "University of Colorado at Boulder - ITS team".</p>