---
title: Flagstaff Ride Report
date: 2008-06-05 12:29:00
tags: sundry, 
---
<p>It's rainy here, and above 8500ft, it's snowing...in June!!</p>
<p>It's just this kind of day that makes me glad I live in Boulder!  Today's ride, despite the 47&deg; temps and rain, was spectacular.  Verdant green!</p>
<p>Venturing out in such conditions does require some preparation, however.  First off, I revived a trick my mom taught me for sledding in the wet New Hampshire snow: put plastic bags on your feet.  Then, I relied on some <a href="http://www.mountwashington.org">MWO</a> and <a href="http://www.fs.fed.us/r9/forests/white_mountain/">USFS</a> experience in bringing dry clothes (in a small backpack).</p>
<p>With all that, I was perfectly prepared; in fact, it was one of the warmer cold rides I've done.</p>
<p>Needless to say, I was alone out there: no other Frenz or even other cyclists.  I'm not sure why either.  With the steady, prolonged rain, all oils have long since been wrung out of the pavement, so one only needs to beware of the paint stripes.  Otherwise, the biggest concern is de-fogging your glasses.</p>
<p>Saw a touch of snow on some of the upper ramparts of the Flatirons.  Otherwise, just a lot of worms out on the road.</p>
<p>My dear wife left me a nice warm egg and cheese bagel, so life is quite good.  Now back to the craziness.  Tomorrow, be ready for an epic ride (something to do with Lee Hill); ask your boss for some extra time at lunch&mdash;or concoct some story about Dave's tire puncturing...that one ain't a stretch!</p>