---
title: Flagstaff Ride Ride Report
date: 2008-04-23 12:22:00
tags: sundry, 
---
<div class="center"><br />I have very sneaky friends...but they're great ones!</div>
<p>With Dave deciding that walking up Kohler Mesa was the quickest way to compost his knees, Kevin and I were left to our own devices on Flagstaff today.</p>
<p>Conditions are great these days, and I'm getting into that strange cycle of wondering what I'm forgetting as I walk out my office door (because I'm so light&mdash;no cold-weather clothes).  We put on our vests during the descent more out of habit than any true need.</p>
<p>On the way up, we served as rabbits for some dude who was determined to keep pace with us.  He spent the whole ride yo-yo'ing behind us and breathing rather hard.  I think he was actually a vessel for Dave reincarnate&mdash;a voodoo experiment gone desperately wrong.</p>
<h6>NEWS FLASH</h6>
<p>This just in from Mr. Burton:</p>
<blockquote>I'm flying into Colorado this Thursday. I have my fingers crossed that I can spend sometime in Denver/Boulder sooner rather than later.</blockquote>
<p style="margin-top:1.2em;">Now I don't have to shoulder Dave's smack-talk all by myself.  Thank goodness too.  That old codger's got the mouth of a sailor!</p>
<h6>K-No Proposes a Ride</h6>
<p>Perhaps Kevin's idea can coincide with Matt's visit?</p>
<blockquote>Now that it's getting nice and warm, what do you think about a weekend morning ride up to Jamestown for breakfast at the Merc?</blockquote>
<p style="margin-top:1.2em;">I think it's a great idea, Kev!  K-No's also proposing we play some frisbee golf out his way.  I'm game.</p>