---
title: Flagstaff Ride Report
date: 2008-12-10 13:19:04
tags: sundry, 
---
<div class="center"><img src="http://lh6.ggpht.com/_zoD15FRZxcs/SuHr0aqLCAI/AAAAAAAABXM/pHmuka0BAPo/s800/DSCN0019.JPG" width="500" /><br />The streets on The Hill are packed slush-ice</div>
<p>All in all, great ride today.  It's sunny, temps aren't too cold, no wind, and no one to share the road with.</p>
<p>But, despite the <a href="http://picasaweb.google.com/flagstafffrenzy/SlushIceOnFlagstaff#5395853087606646066">seemingly dry conditions on campus</a>, the roads on The Hill are in terrible shape, save 13th and 9th.  I'm really glad I took the truck.</p>
<p>While the traffic was light, I was nearly swiped by a snowplow and boxed out by a big SUV&mdash;one of those "I know how to drive in the mountains....FAST!" type dingbats.  No other bikers at all, however!</p>
<p>I'll say it again: when your work allows you to spend the lunch hour looking at ponderosa pines smothered in felty snow, you just can't complain!</p>