---
title: Flagstaff ride report
date: 2008-12-30 08:29:46
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/12/vane3.jpg" width="353" height="270" /><br />That's one tough chicken</div>
<p>Greg and I had a surprisingly nice ride up the hill today. The wind wasn't nearly as nasty up against the slope <i>and</i> we didn't get hit by any of those rogue gusts that try to take you off the bike. 

Kevin, here's your checklist for tomorrow:
_ helmet

You may want to print this off and take it home with you tonight.
</p>