---
title: Betasso Fa Shizzle Report
date: 2008-11-19 13:50:27
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2008/11/att147018.jpg"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/11/att147018.jpg" width="500" /></a><br />I may encounter a similar scene at home today; our own little puppy Baxter <em>loves</em> toilet paper</div>
<p>Great day again!  Thanks to Rob and Dave for keeping me company.  Guess what, Dave?  I'm pulling an Underwood right now: bought a Mountain Dew.</p>
<p>Anyhow, I have to admit, as much as I like the cold, nasty weather, I'm digging this prolonged summer.  Of course, that said, there was a hint of Greeley in the air, which can only mean one thing.</p>
<p>I'm wondering how bad this freezing drizzle will be.  On <a href="http://mountwashington.org">Mount Washington</a>, freezing drizzle (<a href="http://www.pilotpedia.com/wiki/index.php/METAR/TAF_Abbreviations">FZDZ</a>) was bad news.  It meant the constant de-iceing of instruments with a crowbar.</p>
<p>Hopefully for us, it will just mean carrying a few extra clothes.</p>