---
title: Easy-Peasy Flagstaff Ride Report
date: 2008-07-18 12:00:00
tags: sundry, 
---
<div class="center"><br />This is from the IT Community Event Keynote. Great piece!</div>
<p>It seemed cooler today. I think it was the cloud-cover.  Or maybe it was the fact that I rode the whole way in my granny gear?</p>
<p>It was nice getting a touch of rain yesterday evening&mdash;hopefully there will be more of the same this evening.  It would be swell if the rain would wait until after I'm home, though.  I'm tired of getting expensive tune-ups, only to have rain and sand immediately foul things up!</p>
<p>Not many folks riding up Flagstaff this afternoon.  Fine with me.  How were the trails, Davey?</p>
<p>Good weekend to all!</p>