---
title: Sunshine Ride Report
date: 2008-02-19 14:01:00
tags: sundry, 
---
<div class="center"><br />Dave and I enjoyed our first lives by fleeing campus</div>
<p>A real taste of spring today!  Shorts and short-sleeves for this pasty boy.</p>
<p>Yeah, the legs may be white, but the mud from wet roads still wipes off just the same.  Ah, not much longer before we're complaining about the heat.</p>