---
title: Flagstaff Ride Report
date: 2008-08-08 12:26:00
tags: sundry, 
---
<p>Kevin called not long before lunch to let me know his 1p meeting was cancelled.  He suggested we ride Flagstaff, so I said "Sure!"&mdash;we aim to please here at Frenzy HQ.</p>
<p>Kevin was kind to me today, for I had failed to eat this morning, save for a couple cups of coffee and a chocolate-chip muffin with sugar on top...a recipe for bonking if there ever was one!</p>
<p>I managed not to bonk, and Kevin didn't try to talk me into riding Super-Flag either.  Just as well, as we both would've gotten our butts kicked by <a href="http://www.rockracing.com/team/rider.php?sname=thamilton">Tyler Hamilton</a> (wearing Rock Racing's old <a href="http://pelotonjim.files.wordpress.com/2008/02/rr.jpg">red kit</a>), who cruised by us no problem.  Probably one of his easy days.</p>
<p>Bon weekend, all!</p>