---
title: Poorman Loop Ride Report
date: 2008-10-27 22:43:59
tags: sundry, 
---
<p>This weather has been splendid of late!  Dave and I took advantage with a quick spin up the smooth, tacky dirt on Poorman Road.  Still vest and arm warmer conditions.</p>