---
title: Sunshine Canyon Ride Report
date: 2008-07-30 12:52:00
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2008/07/card1648.JPG"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/07/card1648.JPG" width="500" /></a><br />Sean found this funny graph. Can we slap on an ITS logo, Dave?</div>
<p>Wow!  Our numbers more than doubled today, going from two to five&mdash;quintupled if you consider the fact that Dave and my collective intelligence equals that of a four year old child who's been locked in a closet.</p>
<p>Greg returned from steamy VA, and Hideo and Rob joined in.  We would've been six, but rumor has it Hideo pleaded with Julian not to ride with us.  His doctor says riding with Julian is bad for his health.</p>
<p>Sunshine was not really the coolest ride around; in fact, it may have been the hottest choice.  But, as Dave always says, it was a <q>character building</q> day.  I can't wait for cool fall breezes.</p>