---
title: Fourmile Canyon Ride Report
date: 2008-07-28 12:06:00
tags: sundry, 
---
<div class="center"><br />Mount Elbert hike <a href="http://picasaweb.google.com/icegulch14/MountElbertHike?feat=directlink">gallery</a>; no wonder my legs are sore.</div>
<p>Well, the brooding clouds <em>almost</em> scared me off, but not quite.  Indeed, I rode into the belly of the beast this noonday and re-emerged a changed man.</p>
<p>Just kidding.  Actually, it started raining at Crisman, and by the time I was in Salina it was a steady rain and noticeably cooler.  Luckily, I had brought my brand new wind vest, which is white and now somehow has grease on it(!!), so the trip down was comfortable.</p>
<p>Still lots of pain in my quads and calfs from yesterday's hike.  All those unused stabilizer muscles, I guess.  Sounds like I might activate them again this weekend with some type of Divide run.  Interest?</p>