---
title: Labor Day Vacation Reports
date: 2008-09-01 22:31:00
tags: sundry, 
---
<div class="center"><br />Our Labor Day Trip to the Bighorn Range, Wyoming</div>
<p>Send me your vacation report!</p>
<h6>Dave's Report</h6>
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/09/rednecks.jpg" /><br />Anyone know these guys? </div>
<p>Why, it's the Masons, Darryl, Dusty, and Buck, three generations of Saguache 
County game wardens. There's a little stone and plexiglass shrine to them at the 
entrance to the Mason Family State Wildlife Area on Cebolla Creek, our favorite 
place to lose the crowds on Labor Day. In fact, it was all ours this weekend, and 
except for the odd bits of so-called music escaping from the Fender Palomino 
and the patter of rain on the roof, the place was surreally quiet. No campers, no 
ATV's, no yuppies in Orvis waders, no Texans in RV's with 80-megawatt 
generators, no nada.</p>
<p>It's great knowing we can still find places to be alone in Colorado, even on 
holiday weekends. Frenz tell Frenz about treasures like this, knowing they'll be 
discreet. </p>