---
title: Recovery Ride with Rob Report
date: 2008-08-18 12:13:00
tags: sundry, 
---
<div class="center"><br />Adriana, Espresso, Baxter, and I hiked up Signal Mountain to see snow from this mid-August snowstorm!
</div>
<p>After seeing the giant welt on Rob's leg and hearing about the 20&deg;F temps, I'm thinking this <a href="http://www.pikespeakmarathon.org/">Pikes Peak Ascent</a> might be a rollicking good time.</p>
<p>Greg, Rob, and I spun up to the Amphitheater and tippy-top to take in views of snow-coated peaks today.  Impressive snow cover for August, if I do say so myself.</p>
<p>I had the fireplace going on Friday and Saturday nights.  I'm ready for cold weather, I think.</p>