---
title: Slipstream of the Jetstream Ride Report
date: 2008-01-15 14:57:00
tags: sundry, 
---
<div class="center"><a href="http://www.cafepress.com/monkeydantees.87550859?pid=2529374"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2008/01/blog-tee.jpg" /></a><br />Mark suggested I get this tee.  Hey, at least Dave reads my blog!</div>
<p>It was quite windy out there, even on Flagstaff.  Still, nothing like oxygen rammed down your lungs to ensure you breathe regularly.</p>
<p>A few patches of ice and lots of sand on the road, but nothing too bad.  I suspect we'll be running the rest of this week, given the forecast.  It was nice to get out and ride, though.</p>