---
title: Flagstaff Ride Report
date: 2008-06-30 12:01:00
tags: sundry, 
---
<p>Wow!  Great weather.  It's hot if you're just moping around in the sun, but on the bike, it's just dandy.</p>
<p>On the way up, I once again saw a deer grazing next to the road, completely unfazed by the traffic.  Made me a little cautious on the way down...as usual.</p>
<h6>Tour de France (Doping) News</h6>
<p>For those of you in doubt about the effectiveness of doping or the tests designed to find dopers, here's an excerpt from a recent <a href="http://www.nytimes.com/2008/06/26/sports/olympics/26doping.html?_r=1&amp;scp=1&amp;sq=epo&amp;st=nyt&amp;oref=slogin">NYT</a> article:</p>
<blockquote>The researchers were primarily interested in learning whether the young men’s athletic performance improved — it did, and markedly so. At maximum effort, the men’s performances improved by 9 to 16 percent. But at a slightly lower level of exertion, performance improved by 50 percent, Dr. Lundby said. Athletes taking EPO can go 50 percent longer at that somewhat lower level of effort, which can make a major difference in an endurance event like the Tour de France or a marathon, Dr. Lundby said.<br /><br />
[<a href="http://www.nytimes.com/2008/06/26/sports/olympics/26doping.html?_r=1&amp;scp=1&amp;sq=epo&amp;st=nyt&amp;oref=slogin">full article</a>]</blockquote>
<p style="margin-top:1.2em;">Between 9-16% improvement at maximum capacity?!  Up to 50% improvement at medium capacity?!  Anyone know the number of a good, unscrupulous doctor?</p>