---
title: Sugarloafers Ride Report
date: 2008-06-25 13:00:00
tags: sundry, 
---
<div class="center"><br />This is the first decent cycling video I've seen; takes place in <a href="http://tinyurl.com/47o4ba">Tenerife</a>, a <a href="http://boulderreport.bicycling.com/2007/06/index.html">shady place</a> for pro-cyclists</div>
<p>Well, Dave's last ride before going under the knife was a good one: nice cloud cover and pleasant temperatures.  In other words, Dave didn't have one of his "light-headed" episodes&mdash;his doctor frowns on that type of pre-surgery regime.</p>
<p>Anyhow, I managed to make it up to <a href="http://www.flickr.com/photos/joshualawton/420722786/in/set-72157601025687779/">the burn area off Sugarloaf Mountain</a>, which was quite nice.  Apart from being treeless, there's no real sign that the area fried a few years ago.  Au contraire, there were meadows of tall green grass and bright flowers.</p>
<p>Still, you can tell something's not quite right about the place.  Somehow your eye detects that this shouldn't be an alpine zone.  Funny that.</p>
<h6>Wish Dave Well</h6>
<p>Tomorrow at 0730, Dave gets cut open.  Wish him well this afternoon if you have a minute.</p>
<p>Funny, Greg, now that I think about it, <a href="http://www.flagstafffrenzy.org/2008/06/25/sugarloafers-ride-report#comment-770">your theory about this surgery</a> might not be that far from the truth.  Dave's been talking a lot about cyborgs and such of late, and I simply shrugged it off&mdash;as I do with most of the tripe that dribbles out of his dehydrated trap.</p>
<p>Let's keep an eye on him when he's back, particularly if he's "recovered" early.</p>