---
title: Flagstaff Amphitheater View Ride Report
date: 2008-03-20 12:14:00
tags: sundry, 
---
<p>Well, the conditions are certainly more spring-like these days.  The only trace of winter was the slush-ice atop the Amphitheater Road and the blustery conditions.</p>
<p>Dave and Zack are supposedly skiing Cameron Pass today.  Hope it's not windy up there, but somehow I think it will be.  Greg had a 1pm meeting.  Rob was getting his knee worked on.</p>
<p>So, I had the whole amphitheater to myself!  Reminded me of my wedding day&mdash;without the monkey suits and minus the alone part, of course.</p>