---
title: Don't Let Greg Down Report
date: 2009-12-17 15:33:45
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=YEm77vwz6-8&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00&hd=1]<br />Though not a whiskey fan, I am a fan of this Jack Daniels commercial. Lots of lovely <a href="http://new.myfonts.com/tags/fleuron/">fleurons</a>!</div>
<p>No worries, Greg. The only thing let down today was Dave's rear tire.</p>
<p>Yeah, poor guy had another flat right from the start. He's a good sport though, as you guys well know. He rode to Chautauqua with me, then tried to patch things up while encouraging me to "catch that guy ahead."</p>
<p>The guy ahead turned out to be a nice dude from Georgia, who recounted his personal battle with the infamous wall on <a href="http://www.pezcyclingnews.com/?pg=fullstory&amp;id=3969">Brasstown Bald</a>. Sounded fun.</p>
<p>At the first hairpin, I decided to go back and check on Dave to see if he was headed up by now. No sir-ee!</p>
<p>Like the cold-blooded animal he is, Dave was soaking up the sun on a rock. He had forgotten his bike tools, despite having a new saddlebag.</p>
<p>So, we packed it in and headed for campus, picking our way down the mostly navigable side streets connecting our ivory tower with the verdant foothills.</p>