---
title: (Super) Flagstaff Reoccupied Report
date: 2009-11-18 13:50:30
tags: sundry, 
---
<div class="center"><br />I give him a 10 out of 10 for acrobatics</div>
<p>Regrettably, I made Rob wait today.  Sorry, Rob.  When Dave cancels on me, I tend to unravel...mentally, that is.</p>
<p>Still, excellent ride.  My dear wife wasn't entirely truthful that it was "short-sleeve" weather, but it wasn't too cold on the descent!  Sandpits in the corners are also manageable, so no worries there either.</p>
<p>I do think it's funny that the guy on a mountain bike whom I passed felt obliged to say "Must be nice to have a light bike! This thing is heavy." Said a lot more about him than he probably knows.</p>
<p>It appears that New Englanders are a <a href="http://www.forbes.com/2009/11/16/unhealthy-healthy-states-lifestyle-health-states-top_chart.html">healthy lot</a>, as are Coloradoans.</p>