---
title: Poorman; counter-clockwise ride report
date: 2009-01-08 08:28:17
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/01/oldbailey.jpg" width="353" height="270" /><br />The locals call it "Slacker's Row"</div>
<p>No mud after all on Poorman today; Greg and I had an easy go of it. The canyon is in surprisingly good shape for mid-winter and the tail wind certainly livened things up. Great ride, Greg!</p>