---
title: Rain Check, Please
date: 2009-09-21 09:12:02
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/09/frenzy-to-the-rescue.jpg" width="500" /><br />If you get in trouble out there, don't worry! Dave and I will come rescue you</div>
<p>If we lived in the Pacific Northwest or New England, I'm not sure what we'd do.  Maybe weigh about 20lbs more?</p>
<p>Anyhow, today is former Architecture and Planning DATC Laura Malinin's going away lunch, so I won't be doing stairs, pilates, or even bowling at lunch.  I'll actually be eating!</p>
<p>Let's regroup tomorrow, okay boys and girls?</p>