---
title: Flagstaff Retry Report
date: 2009-01-21 19:18:58
tags: sundry, 
---
<div class="center"><br />Hiking to Gray Knob Cabin in New Hampshire's Presidential Range</div>
<p>Great company and ride up the hill today.  We even saw Brian Hutchison, who followed up Flagstaff with a short sprint up Poorman.  Yikes!  Shorts and short-sleeves.  Unreal!</p>
<div class="center"><br />For my dad's Christmas gift, I digitized some of his old 16mm films</div>
<p>My dad shot these scenes circa 1958-9 in Stark and West Milan, NH.  Can you spot the black bear?</p>
<p>The unique sleds were the invention of my great uncle Henry, whom you see at the ice falls in a red wool jacket in a place called Devil's Hopyard.  Uncle Henry had a crosscut saw world record (1935) and was renown in the north country for <a href="http://www.greatnorthwoods.org/milan/orchard/">grafting apple tree branches</a> (225 different species on one tree).</p>
<p>I think these digitized clips are fantastic.  I had them done professionally in Atlanta at an outfit recommended by Wired Magazine; they're called <a href="http://www.posthouse.com/">Cin&eacute;Post</a>.  They use a "wetgate" process to remove scratches and a scene-to-scene color-correction process.  Results speak for themselves!</p>