---
title: Flag Report
date: 2009-10-26 13:23:37
tags: sundry, 
---
<p>It was decidedly icier than we expected on today's ride up Flagstaff.</p>
<p>You can usually count on about four ice channels (caused by car tires) on the short shaded section before the first hairpin. But, this afternoon, most of the spots with even the slightest of shade had ice.</p>
<p>Still, Dave, Adriana and I soldiered up in the bright sunshine.  Adriana rode all the way down without gloves, because the loaners I gave her were "too thick" for braking safely.  Ouch!</p>
<p>Time for soup and salad.</p>