---
title: Leisurely Stroll in NoBo
date: 2009-07-13 09:39:25
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/07/garage_accident.jpg" /><br />The Bailey Thule cargo box did not fare well in "The Garage Incident"</div>
<p>This weekend, I decided to try patching the Thule cargo box Adriana drove into our garage door at 40mph (while backing out).</p>
<p>McGuckins had some amazing apoxy that sealed not only the cracks but also my left ring and pinky fingers (call me "The Claw" from now on).</p>
<p>Now I just have to go to Super Rupair in North Boulder and replace the mangled roof-rack crossbar.</p>
<p>So, if you'd like to join me on this mission, with slight detours up some of the steeper ramparts in town, gather at Humanities @ 12p.  I'll be riding the truck.</p>
<h6>Kudos to Adriana</h6>
<p>True, I do talk smack about her above, but I'm still very proud:</p>
<blockquote>
<p><strong>CU GRADUATE SCHOOL ATTRACTS RECORD NUMBER OF NATIONAL SCIENCE FOUNDATION FELLOWS</strong></p>
<p>The University of Colorado at Boulder has attracted 23 new graduate
students who have received prestigious National Science Foundation
fellowships, a record for the campus.</p>
<p><a href="http://www.colorado.edu/news/r/d7d6560cdb4fd753c43f8c074aa62eab.html">Full story from CU News</a></p>
</blockquote>
<p>This development now serves as a challenge to Dave's motto for us: "None of us is dumber than all of us."  What to do?</p> 
