---
title: Flagstaff Ride
date: 2009-05-05 09:29:07
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2009/05/frenzy-wordle.jpg"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/05/frenzy-wordle.jpg" width="500" /></a><br />Mark created a "wordle cloud" of frequently used Frenzy words...not sure why <em>fellowship</em> is so big?</div>
<p>I need a little extra time to get ready after a meeting.  So, how about we gather at 12:15p @ Humanities.</p>
<div class="center"><br />This video reminds me of that <a href="http://www.youtube.com/watch?v=3pib8_Vxz2A">Russian Spiderman</a>, except on a bike (courtesy of Gammon)</div>
<p>Dave used to do a lot of this over by the Dalton Trumbo fountain</p>