---
title: Winning the War on Germs
date: 2009-09-17 11:52:30
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/09/germs.jpg" /><br />Wash those hands often and join your fellow citizens in victory over illness!</div>
<p>The University has asked that we keep our sniffles to ourselves this flu season, and SB, ever the good soldier, is doing just that. He'll be self-quarantining today, valiantly limiting himself to a strict regimen of Oprah, Oreos, and Odell's. Lets all offer him thanks with a moment of silence.</p>
<p>There... thank you, Steve.</p>
<p>Today I'll be doing what I always do when nursing a serious injury; turning myself over to my personal demon and trainer, the Gunthenator. She claims my incessant whining is nothing more than self-fulfilling prophecy, and that a little jaunt up 4 Pines should cure what ails me. Yowser.</p>
<p>Back on wheels soon,</p>
<p>DU</p>