---
title: Sinkin' the Bismark
date: 2009-12-08 10:51:14
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/12/opie.jpg" alt="oprah" /><br />She always liked Steve better</div>
<p>Steve is out today, stricken w/ an illness that has his medical providers thoroughly vexed. While he endures a snowy afternoon of chills, nausea, aching joints and Oprah, I suspect I'll mosey up Kohler Mesa (aka <i>The Bismark</i>) and see what's shakin'.</p>
<p>I'll probably bike to Four Pines trailhead, then lock and go.</p>
<p>12:10, east side of ATLAS.</p>
<p>- DU</p>
<h6>Note from the Editorial Department, Family-Safe Content Division, Sector 3</h6>
<p>The views expressed by other Frenz, aka. "Fringe Frenz," are not necessarily condoned by HQ.</p>
<p>What is condoned, however, is DU's band. Listen to audio samples of some of their tunes at <a href="http://thebluesambassadors.blogspot.com">their groovy website</a>!</p>