---
title: Help, I've Fallen and I Can't Get Up
date: 2009-01-05 15:54:39
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/01/sol1.jpg" width="353" height="270" /><br />I think I'll be paying for this for a <i>very</i> long time</div>
<p>Forgive me, Steve, for today I have strayed. I totally spaced my duties to the Frenzy and now it's late afternoon and I'm feeling lower than the Dow.

Tomorrow, I promise, I'll mend my evil ways. Think a ride up Poorman in the mud will be good penance? 
</p>