---
title: Three Strikes
date: 2009-04-29 08:38:08
tags: sundry, 
---
<div class="center"><br />Gammon spent all day in the office trying to replicate this cat's feat; he's gonna be black-and-blue today</div>
<p>I'm out today.  I think Dave will be thrown out at first too.</p>