---
title: Flagstaff Ride Report
date: 2009-01-23 10:34:03
tags: sundry, 
---
<p>Dave soldiered all the way up, while I only made it to Crown Rock.  Still, beats not getting out at all!  Bon weekend!</p>