---
title: Sunshine Flag Ride Report
date: 2009-04-24 13:17:49
tags: sundry, 
---
<p>I need to build a shortcut into my post panel so I can say: "Bagged planned ride, rode Flag".</p>
<p>Anyhow, iSean joined me today and asked if we could do Flag instead. He made it all the way!! Kinda misty and cooler.  iSean's hands were purple after the descent.</p>
<p>Good weekend to all!</p>