---
title: Sunshine Canyon Ride
date: 2009-05-27 07:11:38
tags: sundry, 
---
<div class="center"><br />Dave's Buff Bike shared much in common with the classy Ford Pinto</div>
<p>Gotta leave early today. Gather at 11:40a @ Humanities.</p>