---
title: Flagstaff Ride Report
date: 2009-09-22 13:05:22
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/09/daves-brain.jpg" /><br />This is Dave's brain...this is Dave's brain on drugs. Scientists have failed to find a difference.</div>
<p>No, seriously, Mark passed along an article entitled <a href="http://chronicle.com/blogPost/Dead-Fish-Lights-Up-When-Shown/8130/">Dead Fish Lights Up When Shown Pictures of Humans</a> recently.  In all honesty, I wasn't surprised. Dave's brain has given false positives for the past five years.</p>
<h6>Ride Report</h6>
<p>Ah, what a day! Dave, you would've loved it: overcast, slightly humid but not rainy, and snow falling just off <a href="http://webcam1.eldora.com/axis-cgi/jpg/image.cgi?resolution=640x480">in the distance</a> at the summit. There was a light rain/sleet on the descent but no snow, unfortunately. I've begun <a href="http://www.intellicast.com/Travel/Weather/Snow/Cover.aspx">dreaming about</a> groomed nordic tracks!</p>
<p>Indeed, it was a splendid ride. The faces I saw on the way up and down were the same familiar faces one sees year-round, particularly in the winter months when the snow-birds spin on their trainers.</p>
<p>Kindred spirits!</p>
<p>Speaking of which, send positive thoughts to Adriana this afternoon, as she's slated to have a root canal. Do you think she'll be in a good mood when I pick her up?</p>