---
title: Northern Exposure Report
date: 2009-08-06 13:18:29
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=_FTqAtKkHHM&hl=en&fs=1&color1=0x234900&color2=0x4e9e00]<br />Dave at his swimming hole along Boulder Creek</div>
<p>Dave and I set our sights on Neva Loop this afternoon&mdash;spinning was the name of the game.</p>
<p>Leaving campus, we thought we must have been on the set of a Charlie Chaplin movie.  Cars were backing out at us, delivery trucks were honking their horns like we just stole their mothers' dentures, and god-fearing citizens popped out of nowhere, nearly torpedoing us.</p>
<p>We were just waiting for a grand piano to drop out of a window.</p>
<p>But, we survived the orchestrated chaos.  Dave took out his frustration on Folsom Street, smoking that thoroughfare like I've never seen before.</p>
<p>If you see him, tell him I think I found one of the screws that belongs in his left knee.</p>