---
title: Super-Flag Ride Report
date: 2009-10-23 15:02:11
tags: sundry, 
---
<div class="center"><br />Dr. Gammon found this great gift for me! How considerate of him.</div>
<p>The skies nowadays are either snowy or crystal-clear. Today we had the latter.</p>
<div class="center"><br />Steve and Greg ride Super-Flagstaff on a brisk October day</div>
<p>The ride up was quite toasty.  Later we realized it was due to a tailwind that lifted us uphill.</p>
<p>On the way down, we realized there was actually a strong, shrill, armor-piercing breeze that left Greg numb. Greg braved the conditions in shorts, summer gloves, and a long-sleeve jersey.</p>
<p>Wonder if he's thawed out?  Thanks for joining today, Greg!</p>