---
title: Early Bird Special (Flag, Of Course) Report
date: 2009-07-23 12:43:26
tags: sundry, 
---
<div class="center"><a href="http://failblog.org"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/07/fail-owned-adopt-a-fail.jpg" /></a><br />The folks at <a href="http://failblog.org">FailBlog</a> never fail to entertain; don't forget the Frenzy Sunshine Canyon cleanup on Tuesday!</div>
<p>Wow, Frenzy numbers continue to soar this summer despite the recession&mdash;our Madoff investments keep paying off.</p>
<p>Noel, Mark K (K-Mark?), Dave, and I all profited from the reasonable summer temps and light breezes on this sojourn.  Great stuff compared to previous scorcher summers.</p>
<h6>Fox-Hound Tomorrow at 5p leaving from Humanities (Norlin-Quad Side)</h6>
<p>Looks like iSean and Adriana will take off at 5pm, so let's start gathering then at Humanities on the Norlin Quadrangle side of the building.  We'll give them about 15 or so minutes to start leaving a trail.</p>