---
title: The Craziness Begins (Northwest Passage Ride) Report
date: 2009-08-24 14:01:10
tags: sundry, 
---
<p>Dave and Rob braved the frenzied waters leaving campus with me today.  Wow, what a difference a day makes!</p>
<p>Once on 4th, however, it was easy riding.  Atop Linden, Dave and Rob had time to continue down Northwest Passage, while I did a couple of laps on the Linden Lariat, as I call it.</p>
<p>How was it, guys?  Thanks for joining!</p>