---
title: BtW Day!
date: 2009-06-24 07:52:57
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/06/photo-225x300.jpg" /><br />Greg checks in with Frenzy HQ after the ride in</div>
<p>Happy bike to work day! Be safe out there, both riders and drivers!</p>