---
title: Quick Press
date: 2009-06-25 11:58:20
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/06/baileymow-194x300.jpg" /><br />DU, rather than go out for a ride, does some work around the house</div>
<p>What's with things being busy all of a sudden? It's like there's actual <strong>work</strong> that needs to be done. Crazy.</p>
<p>You're on your own, kids. God speed.</p>
<p>iSean</p>