---
title: In the Good 'Ol Summertime
date: 2009-07-08 10:24:08
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/07/warmed_over.jpg" /><br />Print this and keep it handy</div>
<p>I'm riding at 11:30 today if anyone would like to go along. I'm thinking Neva Road with a stop at the Gold Creek swimming hole. 2-2672</p>
<p>DU    </p>