---
title: Northwest Passage Ride Report
date: 2009-03-09 13:25:46
tags: sundry, 
---
<div class="center"><br />Herr Doktor Werner has some <a href="http://zenhabits.net/2009/03/how-to-get-bruce-lee-like-strength-without-ever-going-to-a-gym/">suggestions</a> for Frenzy strength training regimes</div>
<p>The northeast winds were a tad on the shrill side today, but we stayed warm by spinning uphill on the vaunted clay of Northwest Passage&mdash;Roland Garros, eat your heart out!</p>
<p>Dave knocked me off the bike at the crux with one of Bruce Lee's patented two-inch punches.  Fortunately, that packed dirt is really soft.</p>