---
title: Flagstaff Ride Report
date: 2009-02-02 13:29:39
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2009/02/snow_angels.jpg"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/02/snow_angels.jpg" width="500" /></a><br />Zack Underwood at Loch Vale. Dave says, <q>We should do this trail sometime!</q></div>
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2009/02/10th-mtn-hut-128-3009-073.jpg"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/02/10th-mtn-hut-128-3009-073.jpg" width="500" /></a><br />Not to be outdone!  Dennis at the 10th Mountain Hut near Tennessee Pass</q></div>
<p>Great ride today!  Dave and I enjoyed the cool but comfy conditions, and were only held back from the tippy top by one pernicious snow drift.  Thanks, Dave!</p>
<h6>Dave and Zack's Sunday Ski Report</h6>
<blockquote>The Park was beautiful today. Z and I skied up to Loch Vale. I'm beat to a pulp tonight from countless falls but they were all from being a bumbling klutz, not from vapor lock or whatever.</blockquote>
<p>Though Adriana and I weren't nearly as ambitious, we skied up the Rollins Pass Road a ways yesterday.  Because it was Superbowl Sunday, all the snowmobilers were absent, so we had the trail to ourselves.  Quite good skiing, in fact!</p>
<p>Before skiing, we did our taxes.  It was a romantic Sunday.</p>