---
title: Northwest Passage Flag-Neva Loop Ride Report
date: 2009-02-24 13:15:43
tags: sundry, 
---
<div class="center"><br />JG, you've seen <em>Helvetica</em>, but Dave's talking to Spielberg about a <a href="http://www.flagstafffrenzy.org/2009/02/24/northwest-passage-or-neva-loop#comment-1272">Si Bodwitz</a> documentary. Interest?</div>
<p>Haven't heard from Julian or Cavs as to how their ride went.  I'll bet it was nice, for it's in the 60s with little wind.  [Thanks again for the invite, guys!]</p>
<p>I bailed on the Northwest Passage idea for two reasons: it's less fun when riding solo (though still fun) but more importantly, I've gotta get home early this afternoon.</p>
<p>Flagstaff was chock-full of cyclists, runners, and wanna-be F1 racers.  I rode up in shorts and a short-sleeve jersey with the zipper down.  Rode down with a vest on, but didn't really need it.</p>
<p>I suppose our only hope for knee-deep snow this year will be March, which will mean a day or two of big snows, followed by banana-belt 70&deg;F weather.  C'est la vie!</p>