---
title: We need the moisture
date: 2009-04-17 08:51:43
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/04/flood.jpg" width="440" height="264" /><br /><i>Please watch for bass on highway</i></div>
<p>The FEMA guys just left. They think the sandbags around the ATLAS Building should hold, at least until midnight. If worse comes to worse, they've promised to airlift in a few palettes of bottled water and Pringles, so we're all set... After all, they did such a great job in N'Awlins.

Berly Edwards joins the Frenzy Follies today. We're going to slog up Enchanted Mesa or maybe the switchbacks to Royal Arch. Don't think we'll need sunscreen.

DU</p>