---
title: Backwards Alley Poorman Loop Report
date: 2009-11-12 13:20:44
tags: sundry, 
---
<div class="center"><a href="http://picasaweb.google.com/flagstafffrenzy/JulianSLittleSpin"><img src="http://lh4.ggpht.com/_zoD15FRZxcs/SvuO2f9DF7I/AAAAAAAACoE/p6XQ0nSdCGM/s800/julians-bike.jpg" width="500" /></a><br />Any guesses as to whose bike this is?</div>
<p>How can any ride compete with Julian's of yesterday?</p>
<p>It can't.</p>
<p>Though the above picture more than suffices as a "report," Julian filed this pithy ride summary in true Frenzy smack-spirit:</p>
<blockquote>
<p>I extended my lunch deciding that a 'real' ride to celebrate the weather should include riding until the snow prevented further elevation gain. Just so you know my off season isn't totally slack!</p>
</blockquote>
<p>Somehow, Julian, I don't think anyone would ever categorize your rides as "slack."</p>
<p>But I do have one question, Mr. Kinsman: Are you a camel? I notice you appear to have only drunk half of one bottle! All the more impressive.</p>
<h6>Today's Report</h6>
<p>In spite of gusty winds, Dave, Kevin, and I braved Boulder Canyon and were rewarded with a peaceful climb up Fourmile Canyon and Poorman Road.</p>
<div class="center"><img src="http://lh6.ggpht.com/_zoD15FRZxcs/SvxYRtb_FHI/AAAAAAAACok/7kEk5LWOMUU/s800/wheeler.jpg" /><br />Not to be outdone, Dave rode to Cape Cod this afternoon</div>
<p>Picking up the gauntlet that Julian threw down, Dave dropped me off at Humanities and rode over to Cape Cod on his old Wheeler ("to make things less slack").</p>
<p>Julian?</p>