---
title: Gammon Graduation Duel Ride Report
date: 2009-05-22 15:47:03
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/05/11158.jpg" /><br />Congratulations to Mark Gammon, who'll be wearing a "doctoral hood" at the UMass ceremony today</div>
<p>In a feat of superhuman strength, Dave rode up Flagstaff on one of the new, 50 ton Buff Bikes.  Simply amazing.  He'll definitely need that walker now.</p>
<h6>This just in!</h6>
<p>Apparently there is <a href="http://twitpic.com/5pqqq">air conditioning</a> at Mark Gammon's graduation!</p>