---
title: Sumpin' (Stupid and) Unusual Ride Report
date: 2009-08-20 14:00:38
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=D-bumYe5mfA&hl=en&fs=1&color1=0x234900&color2=0x4e9e00&hd=1]<br />"Scat," a term which applies to virtually every one of our rides (from Dave)<br />
I love the French Candian accent!</div>
<p>Well, I must say, even by my own warped standards, this ride was harebrained.  It's not even worthy of christening, as I have no intention of riding it again.</p>
<p>Thanks to Greg and Dave for humoring me at least.  Special thanks to Greg for following me into the unknown with a smile too!</p>
<p>Despite today's hike-a-bike snafu (<a href="http://picasaweb.google.com/flagstafffrenzy/SunshineLeeHillPassageExpedition">full gallery</a>), we did espy another route that merits another foolhardy foray.  Greg <a href="http://tinyurl.com/silly-crazy-ride">knows what I'm talking about</a>!</p>