---
title: Flagstaff Ride Report
date: 2009-07-30 13:04:03
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=AsoHP09Re94&hl=en&fs=1&color1=0x234900&color2=0x4e9e00]<br />Man, <em>The Electric Company</em> was a weird show...and for kids no less!</div>
<p>Today marked the first ever fully hydro ride, meaning it was raining during the entire outing.  It wasn't fun, no matter what Dave tells you.</p>
<p>To quote myself during the descent:</p>
<blockquote>
It's been a long time, but I reckon this is what a wet diaper feels like.
</blockquote>
<p>Despite having a dry wool shirt to change into at the top, arm-warmers, and a rain jacket, I still felt soggy and miserable all the way down; indeed, my fingers are still red and it's hard to type.</p>
<p>Dave was super-chipper through-and-through.  His attire: orange vest-shirt and cycling shorts.</p>
<p>That guy is nuts.  I'm glad he talked me into it, though.</p>