---
title: Poorman Loop Flagstaff Ride Report
date: 2009-03-25 13:28:57
tags: sundry, 
---
<div class="center"><br />I heard Rambo 4 was a lot like this, but probably not in French and not as campy</div>
<p>It must be spring break, for all the worker-bee Frenz were out today.  Not surprisingly, Dave lay low.</p>
<p>Noel, Kevin, Melissa, Adriana and I took a pass on Poorman in order to stay sheltered from the wind on Flagstaff.  It was still quite breezy up there, though.</p>
<p>To my surprise, Kevin informed me that there's a major storm on the way (well, "major" for this "winter" anyhow). Let's hope for a doozie!</p>