---
title: As You Were, Gentlemen Report
date: 2009-11-23 13:30:56
tags: sundry, 
---
<div class="center"><br />I completely sympathize with this guy; it's how I react to shots and needles</div>
<p>Ooouuuuch!!  My hands are numb&mdash;feels like I'm typing with stubs.</p>
<p>Anyhow, Dave and I decided to do Super-Flag this afternoon, mainly because the flag on Old Main appeared to be pinned to the southeast (meaning the winds were coming from the northwest) and we wanted to be as sheltered as possible.</p>
<p>On the way up you could tell the temperature was getting colder, and near the top you could see fuzzy snow clouds on the horizon. The temperature on campus was 41.7F while NCAR's Mesa Lab was reading 34.8F.</p>
<p>At the top, I almost lost the plastic bag I use to keep my dry shirt dry. I ended up having to chase it around as it danced about just out of reach. Dave was amused.</p>
<p>During our descent we crossed Julian, who was on lap one of two. Brave man that one! I could barely grab the brakes once we hit Chautauqua, so one lap was good enough for me!</p>
<p>Now it's time for important decisions: pizza or soup?</p>