---
title: Neva Witches of Eastwick Spin Report
date: 2009-09-15 13:02:49
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/09/dave_ice_bath.jpg" /><br />Nothing stops Dave from his post-ride routine</div>
<p>Excellent showing today! Hideo, Rob, Greg, Dave, and I took a nice ride around our fair town, riding a modified version of <em>Boxing Boulder</em>.</p>
<p>Though he peeled off early, Dave was later spotted creekside at his favorite watering hole, as shown above.</p>
<p>Thanks for the great ride, all!  These are the kind of rides that stay with you.</p>