---
title: Flagstaff (Again) Report
date: 2009-10-07 21:44:38
tags: sundry, 
---
<div class="center"><br />Got around to putting up pix from this summer's New England trip. Here's our 6-Day <em>Long Trail</em> album</div>
<p>Greg saved me from another day of riding alone. Yesterday was my fault, though. Dave actually stuck to the plan after I didn't show, and I just hit Flag.</p>
<p>Greg's been hit with the business end of a nasty chest cold that's leaving his lungs at about 10% capacity.  Hope he feels better soon.</p>
<p>Tomorrow looks like fun! Snow? Can you say "Initiation"? Loveland Ski Area <a href="http://www.denverpost.com/extremes/ci_13498572">opened today</a>.</p>