---
title: Happy Birthday, Brian Kent! (and Report)
date: 2009-12-18 14:08:31
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2009/12/2009-12-18-13.51.31.jpg"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/12/marks-sm.jpg" /></a><br />Drs. Gammon and Werner were hard at work over lunch today</div>
<p>Tomorrow is Brian Kent's birthday, folks. And even though he's a runner, we can still wish him well. Cheers, Brian!</p>
<p>Excellent ride with Dave today on Flagstaff! Cool temps, sun, and not much dirt.  Bon weekend!</p>