---
title: Poorman Hillclimb Report
date: 2009-09-03 15:49:41
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/09/poorman.jpg" /><br />Dr. G gettin' jiggy on Widowmaker.</div>
<p>Greg and I couldn't make SB's early launch time, took off at noon instead. We ended up doing a clockwise Poorman.</p>
<p>I'm thinking the standard track gears on my Clark Kent may be a bad choice for that last little whoop-de-do at the top. By the time I caught Greg in the alpenburbs, darkness was falling we almost missed curfew getting home.</p>
<p>DU</p>