---
title: Jailbreak Flagstaff Report
date: 2009-03-04 13:25:15
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2009/03/dsc02729.jpg"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/03/brian-bike.jpg" /></a><br />What can you do when both the rider and the bike are fast?!<br />Speaking of speed, who will be <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2009/03/comments.jpg">the one</a> to post #1000??</div>
<p>Great riding today!  Our numbers swelled to capacity, nearly shutting down Frenzy HQ for an hour.  We should've paid attention to the <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2009/03/churchsign.jpg">warning signs</a>.</p>
<p>To wit, Blistering Brian, Killer K-No, Gonzo Greg, Dynamo Dave, Rocket Rob, Speedy Sean, and <del>Sh*thead</del> Steve all gathered at Humanities to enjoy the 70&deg; temps and good company.  Thanks, guys!</p>
<p>Sean proposed Fox-Hound on Friday.  Anyone game?</p>