---
title: Super-Flagstaff Report
date: 2009-11-13 15:58:54
tags: sundry, 
---
<div class="center"><br /><em>Taken for a Ride</em>, a documentary about the dissolution of rail transit in the US by General Motors</div>
<p>Dave and I escaped the lowlands this afternoon, riding high up into the misty vapors hovering over town. The air was thick with humidity yet rich with oxygen, and the temperature was chilly.</p>
<h6>Happy Birthday, Burton!</h6>
<p>Tomorrow is our old pal Matt's birthday. Please wish him well either with a personal email or with a nasty comment here.</p>
<h6>Bon Voyage (and Happy Early B-Day) to Sean</h6>
<p>Safe travels to iSean, who leaves for Australia on Sunday for a long trip and bike tour. We look forward to a photo journal upon your return, Sean! Also, happy pre-emptive birthday (Nov 29)! You're 21 now, aren't you?</p>