---
title: Tough Week
date: 2009-08-10 10:12:23
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=BI0ctHjR9tg&color1=0xb1b1b1&color2=0xcfcfcf&hl=en&feature=player_embedded&fs=1]<br />Like Kermit, the Frenz are mere recreational riders, and proud of it!</div>
<p>It will be tough for me to get out this week, given the esteemed <a href="https://www.cu.edu/coltt/">COLTT conference</a>.  If there's any hope for an organized ride, it's Friday afternoon.</p>
<p>What can I say?  We're recreational riders.</p>