---
title: Sunshine Superman
date: 2009-06-16 06:31:44
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/06/1998.jpg" /><br />Inmates, or "artisans in residence" as they prefer to be called, of NH's Concord State Prison, take great pride in producing the nation's finest hand-crafted license plates. The state motto, however, confuses them.</div>
<p>Well, it's Tuesday, which means Adriana and Steve are well into their second gallon of Deep Woods Off™. We wish them luck; New Hampshire's mosquitoes have come to regard the stuff as a decent, if somewhat cloying, antipasto.</p>
<p>How does a ride up Sunshine sound for today? Or...?</p>
<p>Buzz me; 2-2672</p>
<p>DU</p>