---
title: DU, Mac Fan!
date: 2009-09-02 08:26:32
tags: sundry, 
---
<div class="center"><a href="http://failblog.org/2009/09/01/free-web-browsing-win/"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/09/dave-apple-store.jpg" width="500" /></a><br />DU's always called himself a Mac devot&eacute;e; I saw him at the Apple Store just yesterday in fact</div>
<p>I'm literally booked all day, so no lunch ride for moi.  Hopefully tomorrow??</p>