---
title: Cyber Monday Spinning Report
date: 2009-11-30 14:45:29
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/11/flagstaff-shopping.jpg" /><br />It's Cyber Monday! Let's try not to trample Dave again&mdash;virtual rug burns are as bad as real ones</div>
<p>Ignoring my very own instructions to gather at 12:10p, I sprung out the HUMN door at 12:07p thinking I was late for the pre-ride rendezvous. I'm losing it, what can I say?</p>
<p>I knew Kevin had been hamstrung by meetings, and I thought Dave was AWOL, so I just took off. Sorry, guys.</p>
<p>So, I spun up the <em>Linden Lariat</em> solo on what amounted to a grand late November day. Temps were in the upper 40s and winds were non-existent, which is rare at this time of year.</p>
<p>On the way down, I recognized the hunter-orange vest of my cycling pal Dave, as well as his companion-in-arms Brett. Feeling like a fool for not following my instructions to meet them at 12:10p, I accompanied them up to the saddle on Bow Mountain.</p>
<p>They soldiered on up the dirt (perhaps riding <em>Roubaix Row</em> at the top?), while I saddled up and returned to campus.</p>
<p>All things considered, it was a great ride. Sorry for ditzing it, fellas!</p>