---
title: Flagstaff Ride Report
date: 2009-05-18 13:35:15
tags: sundry, 
---
<p>Great ride today!  Apparently, iSean just missed us, but we picked up a third in the form of Tom Zeiler, who was decked out in Miguel Indurain gear!</p>
<p>That guy is hard-core. Hope we see him again!  I saw Dr. Lenski in front of Humanities, and he's threatening to join us again soon.  Wow, with the addition of 39:05 iSean and these profs, we've got some real firepower!</p>