---
title: Oy, Meetings
date: 2009-03-05 09:38:18
tags: sundry, 
---
<div class="center"><a href="http://www.stbaldricks.org/participants/shavee_info.php?ParticipantKey=2009-338961"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/03/picture-2.jpg" /></a><br />Consider <a href="http://www.stbaldricks.org/participants/shavee_info.php?ParticipantKey=2009-338961">helping Sean</a> (and the kids he's supporting)</div>
<p>Once again, I'm ham-stringed by noon-hour meetings.  Hopefully we can rally the troops for Fox-Hound tomorrow.  Four takers so far!</p>
<p>Meantime, I'd like to call attention to a great cause!  Sean Myers is participating in this year's St Baldrick's event, which is raising money for kids with cancer.</p>
<p>If you'd like to support Sean, watch him get his head shaved, or get more info about the on-campus event, check out his <a href="http://www.stbaldricks.org/participants/shavee_info.php?ParticipantKey=2009-338961">sponsorship page</a>.</p>