---
title: Back in the Saddle Report
date: 2009-01-15 17:05:56
tags: sundry, 
---
<p>Thanks to Dave's application of training wheels, I was able to remember how to ride my bike.  It was wobbly, but good to be back on <del>two</del> four wheels.</p>
<p>Thanks, Dave!</p>