---
title: Flagstaff...Yeah, Seriously Report
date: 2009-10-21 13:38:59
tags: sundry, 
---
<div class="center"><br />Some photos from today's snowy ride</div>
<p>Dave repeatedly reminded me that "this is the kind of ride that separates the men from the <a href="http://www.flagstafffrenzy.org/2009/10/21/flagstaff-yeah-seriously#comments">Stauffers</a>" today.</p>
<p>Really, though, it wasn't that bad. It was snowing most of the time, which meant our clothes stayed drier. There were no other bikers and only a few cars.</p>
<p>The combination of fog and snow was splendid. The sun tried to peek through a number of times, but I'm glad it didn't. I only had my clear "sunglasses."</p>
<p>Upon returning to campus, I went to unbuckle my helmet and realized it had been unbuckled for some time. Not sure how long. Suppose that's one of my nine lives.</p>