---
title: Flagstaff Ride Report
date: 2009-04-14 16:35:41
tags: sundry, 
---
<div class="center"><br />They took the Mythbusters video down already, so here's a good clip from "The Office"</div>
<p>Dave and I had fun on Flag this afternoon.  Though the sky looked drab and cold, it was deceptively warm on the slopes.</p>
<p>On the descent, we were able to sit in the draft of two motorcycles, which was great for picking good lines. I had the added treat of meeting Adriana at the base of Baseline to get some bagels for lunch.</p>