---
title: Re-Flag Ride Report
date: 2009-12-15 13:11:25
tags: sundry, 
---
<div class="center"><a href="http://catfish.colorado.edu/~adrianar/"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/12/adriana-webpage.png" /></a><br />Adriana's <a href="http://catfish.colorado.edu/~adrianar/">first webpage</a> for Atmospheric Science 5600; I'm very proud</div>
<p>Wow, the pack ice caking the streets that feed Chautauqua is melting fast, especially on 16th, 14th, and 9th. This is good news for Cryo-Frenz.</p>
<p>Today temps were such that a jersey and vest were sufficient to keep warm on the ascent. On the descent, you basically just needed to zip up (and perhaps throw on a hat, if you're a real creature of comfort like me).</p>
<p>Pretty sure I saw <a href="http://tomdanielson.com/">Tom Danielson</a> on his way down today. I was hoping he was doing laps so I'd get to watch him fly up, but apparently he was intimidated by my baggy tights and overall amateurish appearance.</p>