---
title: A Wrinkle in Time Report
date: 2009-01-06 08:57:15
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/01/dream.jpg" width="353" height="270" /><br />"Hey, Buddy! Hey! Wake up! The meeting's over! Hey, Buddy? Hey!"</div>
<p>I got a late start today, but at least I got out, meeting be damned. I put in a blustery hour's worth of spinning out east... the Baseline Rez drill, clockwise. It was uphill and cold all the way back.  
</p>