---
title: American Idle
date: 2009-04-15 09:08:48
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/04/couch-potato.jpg" width="440" height="264" /><br />As SB says, "Why fight it?"</div>
<p>Steve is spending a few days face-down in meditation, so to speak. While he contemplates the deeper meaning of <i>robust indolence,</i> let's contemplate cows on a spin east past Boulder Rez and beyond. Gate 5 at 11:50.

DU</p>