---
title: Flagstaff Ride Report
date: 2009-03-30 13:02:33
tags: sundry, 
---
<p>Brrrr....chilly out there.  The road was actually clear of ice, snow, and almost all sand, which was surprising given all the recent snow.  I didn't go beyond the gate, not because of snow on the road but because of snow piled up at the gate.</p>
<p>Great ride overall, but quiet without Dave.  Wherefore art thou, Dave?</p>
<h6>Steve's Mothering</h6>
<p>Speedy recovery to my bro, who broke two ribs and partially deflated his lung this weekend in a bike accident.  I spoke with him Saturday and Sunday, and he was in good spirits and not too much pain.</p>
<p>I should mention that he was only going about 15mph, but even at that speed he cracked his helmet in two spots near the left temple.  Please wear your helmets, as it definitely spared Scott serious injury.</p>