---
title: Flagstaff Ride
date: 2009-08-17 12:20:57
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=bG2OcW_Hwkg&hl=en&fs=1&color1=0x234900&color2=0x4e9e00&hd=1]<br />I love anything that mocks NASCAR</div>
<p>I don't think I managed to ride Flagstaff at all last week, so let's see if anything's changed up there today.  <del>Gather at Humanities @ 12p.</del></p>
<h6>Update: Faculty Calls Overwhelm Bailey</h6>
<p>I'm going to have to postpone my ride until later.  Sorry if you were waiting for me.  A million requests for help today.  Here we go....</p>