---
title: Ask and Ye Shall...
date: 2009-08-14 13:52:54
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=Vn29DvMITu4&hl=en&fs=1&color1=0x234900&color2=0x4e9e00&hd=1]<br />Dave wanted to dedicate this to iSean who's searching for a new bike with fewer than 10 gears</div>
<p>I got my wish today: cooler temps.  Despite rain on the ascent, I stayed warm (warm rain). No rain coming down.</p>