---
title: NASCAR Driver As "Athlete" of the Year? Report
date: 2009-11-24 13:52:36
tags: sundry, 
---
<div class="center"><a href="http://sports.yahoo.com/nascar/blog/from_the_marbles/post/Forget-Kobe-Tiger-Brady-Jimmie-Johnson-is-tod?urn=nascar,204180"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/11/grandma-driving.jpg" /></a><br />The new face of athletics: say hello to the modern American athlete</div>
<p>It's a sad day in sports.</p>
<p>How many of you want your kids to grow up thinking driving a car is an athletic endeavor? There's an <a href="http://sports.yahoo.com/nascar/blog/from_the_marbles/post/Forget-Kobe-Tiger-Brady-Jimmie-Johnson-is-tod?urn=nascar,204180">article in Yahoo News</a> that may interest you, then.</p>
<p>I was compelled to leave a comment.</p>
<h6>Ride Report</h6>
<p>Adriana joined Dave and me on Sunshine Canyon this afternoon. Yay!</p>
<div class="center"><br />Another "cycling tutorial" from Brian</div>
<p>Things didn't start well, though. As I came down the HUMN steps, I realized I had a flat. Instead of taking the time to fix it, I grabbed the truck, threw my down jacket in the back (might as well go in style), and followed the roadies off campus.</p>
<p>Adriana and Dave were flying up Sunshine, so I took Timber Trail for some added fun. At Poorman, we did an about-face, but Dave and I decided to go down Timber Trail. It was a hoot!</p>