---
title: Sunshine Canyon Ride Report
date: 2009-02-23 13:56:41
tags: sundry, 
---
<div class="center"><br />Just chilled beats and melodies over here in HUMN 1B60</div>
<p>Though it was overcast, it was warm today, so much so that I wished I just had shorts.  Oh well.  Good steady pace, not many cyclists, and only a few ribbons of sand alongside the road.</p>