---
title: Flagstaff Regroup Ride Report
date: 2009-11-02 15:10:41
tags: sundry, 
---
<div class="center"><a href="http://picasaweb.google.com/flagstafffrenzy/DaveAndZackFishingTheGunnison"><img src="http://lh5.ggpht.com/_zoD15FRZxcs/Su8d9JC1fvI/AAAAAAAABtE/PWWRozscKpg/s800/z1.jpg" width="500" /></a><br />Zack on Saturday on the Gunnison; he fished, Dave hiked...</div>
<p>Well, I don't think the garbage truck that pulled in front of us on the descent was a sign.  It sure was pungent, tho!</p>
<p>Great day to be on the bike, although the temperature fell two degrees to 37F while we were out. Still, Frenz will rejoice, as the Amphitheater is now closed for the season!</p>
<p>No more worrying about traffic on the upper section of the road. Heck, Dave and I rode down blindfolded to celebrate!</p>