---
title: Thirty Seven; the New Sixty Report
date: 2009-04-22 14:10:45
tags: sundry, 
---
<div class="center"><a href="http://picasaweb.google.com/flagstafffrenzy/FrenzyFunnies#5400274914583946354"><img src="http://lh4.ggpht.com/_zoD15FRZxcs/SvGhbEU6pHI/AAAAAAAAB44/2gJ7JQksjdI/s800/bailey.jpg" width="500" /></a><br />Coming soon to a PDA near you</div>
<p>Thanks to everyone for a fantastic ride, great presents (Pringles, tee-shirt, coffee mug, scissors, and cards), even better company, and <a href="http://picasaweb.google.com/flagstafffrenzy/SteveSBirthdaySurpriseTakeTwo?feat=directlink">first-rate pranks</a>.  I have the best Frenz a guy could ask for!</p>
<p>SB</p>
<h6>Dave's Morning Invitation</h6>
<p>SB takes another step toward the hole today as he celebrates his thirty-seventh birthday. Let's try to lift his spirits with a "celebratory" ride up Four Mile.</p>
<p>I know, I know; I've seen the quirky little movements myself, and I've heard the incessant, obscenity-flecked twaddle as our brave comrade struggles through yet another workday. Indeed, the signs are all there; he's aging faster than deviled eggs in a parked car. We roll our eyes in meetings and wonder what the students must think as he shuffles about the Humanities basement looking for his office.</p>
<p>Celebrating this super-slo-mo trainwreck might feel like staging a Christmas play in a prison camp, but I want to do it, darn it, and I need spotters.</p>
<p>So bring a candle and a smile and meet us on the north steps of Humanities at 12:10. I'll run inside and wake him up.</p>
<p>-DU</p>