---
title: Meetings and other Soul-Sucking Adventures
date: 2009-06-23 10:39:16
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/06/crash1.jpg" /><br />Too many meetings. No time for Smack Talk.</div>
<p>Anyone up for a ride today in the noonish timeframe? Perhaps Flag?</p>
<p>Give me a jingle: 2-4778</p>
<p>iSean</p>