---
title: A Kinder, Gentler Bailey
date: 2009-08-11 14:44:47
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/08/clockwork.jpg" /><br />Steve seems to be holding up tolerably well on this, his second full day of treatment.</div>
<p>SB has abruptly signed off on the Frenzy this week, telling us he's up to his scuppers in "important meetings" and "thought-provoking presentations."</p>
<p>Whatever... if that's what he wants us to think, that's fine by me. But when he emerges emotionally gelded and wobbly after day four of the University's new "Workers of Tomorrow" program in the Humanities basement, don't be surprised if he goes pale at the first sight of conflict. The <a href="http://en.wikipedia.org/wiki/Ludovico_technique">Ludovico</a> is funny that way.</p>
<p>As for me, I've managed to run free, well clear of the clinic walls. I had a robust argument yesterday w/ La Gunther on the Ski Jump Trail and a steamy ride over Poorman (counterclockwise) today.</p>
<p>DU</p>