---
title: Fox-Hound @ 5pm
date: 2009-07-24 13:51:00
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=E_GOv50Dgik&hl=en&fs=1&color1=0x234900&color2=0x4e9e00]<br />Saw Danielson again on my way home yesterday; apparently, he's in real good shape!</div>
<p>So, gather ye chalk-sticks while ye may.  Today is Fox-Hound.</p>
<p>Adriana and iSean are foxes, and the rest of us are hounds.  Hounds should gather at the Humanities building at 5pm (Norlin Quad side of the building).  See you then!</p>
<h6>Wasted Report</h6>
<p>Between the two of us, Dave and I shed 20lbs on today's ride up Lee Hill - Lefthand - Old Stage.  I was not feeling good.  This weather is for the birds.</p>