---
title: Flagstaff Ride Report
date: 2009-03-16 13:15:34
tags: sundry, 
---
<div class="center"><br />Wish Dave would learn how to park that new car of his...</div>
<p>Actually, there was almost no wind outside today.  Great conditions!</p>
<p>Unfortunately, I did not check the temperature ahead of time and overdressed.  Part of the reason I wore my pants and wool shirt, though, was due to the fact that I forgot to wash my jersey and shorts this weekend.</p>
<p>I took my laundry home <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2009/03/churchsign.jpg">to prepare</a>.</p>