---
title: Get Out There!
date: 2009-03-10 11:19:14
tags: sundry, 
---
<div class="center"><a href="http://i.gizmodo.com/5167137/this-is-the-worlds-most-advanced-bike-and-it-has-an-on%20board-computer"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/03/beru-f1systems-factor-001-bicycle.jpg" /></a><br />Sean thinks ITS should have a fleet of <a href="http://i.gizmodo.com/5167137/this-is-the-worlds-most-advanced-bike-and-it-has-an-on%20board-computer">these</a>. Would they be OK locked to a bike rack in the snow all winter?</div>
<p>I have a 1pm presentation, so I need to prepare for that.  I hope to get out and take advantage of the extra sunlight this evening.  Back in the saddle tomorrow!</p>