---
title: Belated Flagstaff Ride
date: 2009-09-08 10:01:29
tags: sundry, 
---
<p>Whirlwind trip this weekend to Canada. Adriana's flight to Denver got delayed, so she arrived 2.5hrs later than I in Edmonton. Still, amazing 24hrs in Jasper Provincial Park!</p>
<p>Professor Tom Zeiler asked us to hold up normal proceedings and ride with him at 1:15p. Wish granted.  Gather at 1:15p @ ATLAS main entrance.</p>