---
title: Flagstaff Ride Nothing to See Here Report
date: 2009-01-20 22:07:22
tags: sundry, 
---
<p>I didn't make it out today.  But I rode back and forth to Fleming twice.  That counts for something, right?</p>