---
title: Flagstaff Ride Report
date: 2009-08-25 14:24:11
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=YZRq3XxCZXo&hl=en&fs=1&color1=0x234900&color2=0x4e9e00&hd=1]<br />One of my favorite shows on TV</div>
<p>Once again the usual suspects, Rob, Dave, and I, headed out in questionable conditions to test our legs in Boulder's Foothills.  It was a welcome respite from the hustle-and-bustle of campus.</p>
<p>Today was a drencher, for the humidity was high.  Fortunately, however, despite the ominous skies, we stayed high and dry (from rain).</p>
<p>I pinpointed the noise on my bike recently&mdash;actually, a mechanic at <em>Full Cycle</em> did but who's keeping track? Anyhow, my seatpost is what's making a racket, preventing me from sneaking up on Dave and pulling the old banana peel trick.</p>
<p>Beware, Underwood!  I will soon have a new seatpost.</p>