---
title: Northwest Passage Fourmile Ride Report
date: 2009-08-05 13:49:56
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=U4mri5ohd40&hl=en&fs=1&color1=0x234900&color2=0x4e9e00]<br />Poor Duzer! <del>Anyone know a bike shop that could help him out back there?</del><br />UPDATE: Duzer's back in business! Someone was able to fix his bike. He's got 40mi left of the x-c trip.</div>
<p>Dave and I decided against <em>Northwest Passage</em> for fear it would be too much like riding in a sand trap at this time of year.</p>
<p>Fourmile was a great alternative! We had the benefit of a tailwind, which was refreshing, even though temps were a comfortable 76&deg;F.</p>
<p>The back end of my bike developed a wobble on the way down and I wondered if my new seat's cushiness might be the cause.  Nope.  Turns out I had a slow leak, so I was glad I stopped to air up before descending the dreaded Canyon.</p>
<p>Time for a new tube.</p>