---
title: Fend for Yo'selves
date: 2009-08-04 09:18:15
tags: sundry, 
---
<p>Sounds like a busy day for all. Dave's still on vacation too.  Regroup tomorrow?</p>
<p>Wow, I thought about heading north yesterday too...<a href="http://www.dailycamera.com/news/2009/aug/03/cyclist-struck-lightning-north-boulder/?partner=yahoo_headlines">glad I didn't</a>.  Hope she's okay.</p>