---
title: Adriana's Last Day! Report
date: 2009-08-26 13:34:44
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=jIFeSHCviuU&hl=en&fs=1&color1=0x234900&color2=0x4e9e00&hd=1]<br />Adriana and I will have to try this out when we see <em>Cirque du Soleil</em> in Denver</div>
<p>Today is Adriana's last day of work at <a href="http://cires.colorado.edu/">CIRES</a>, and yesterday was her first day of PhD classes.  Hurray for her!</p>
<p>To commemorate this, we're giving you the day off.</p>
<p>Not Greg and me, though. We rode up Lee Hill and back over Olde Stage. Once again, my back tire flatted, and to top it off, the spare tube came with a leak. Wunderbar!</p>
<p>Oh well.  Good ride, and we made it back safe. Now time to wash the grease off my hands and face.</p>