---
title: Northwest Passage Flag Report
date: 2009-02-27 13:30:49
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/02/nuclearicebreaker.jpg" width="500" /><br />I feel like I dipped my fingers in these waters. Frigid descent!</div>
<p>Well, today, once again, we bailed on our intended course. The winds were too high and too shrill for heading north, so we stuck close to home and bagged Flag.</p>
<p>We were joined by Cavs, James (from Regent), and Julian, which raised the total value of our bikes from $1020 to $10200 (conservative estimate).  Seriously, it was good to have company. Thanks for tagging along, gentlemen!</p>
<p>Now it's time to thaw my fingers. Please excuse any typos.  Bon weekend!!</p>