---
title: Testing the (Non-Existent Frozen) Waters Report
date: 2009-12-14 13:13:00
tags: sundry, 
---
<p>My fears were <strong>completely</strong> unfounded.</p>
<p>Flagstaff was as dry as the bar at a Mormon wedding. Heck, the sandpits weren't even that bad.</p>
<p>I could tell things were cooling off over the course of the ride, though. The northwesterlies I faced this morning have made up their mind and become full-on westerlies, which provided a cold slap in the face on the ascent.</p>
<p>Really, not much different than chit-chatting with Dave.</p>
<p>Speaking of whom, I was privileged to accompany my good buddy up to the University of Colorado's <a href="http://www.colorado.edu/mrs/fac.html">Mountain Research Station</a> last Friday for a day of strategic planning.</p>
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/12/000_0008.JPG" /><br />The Academic Technology Unit doing strategic planning for AY 2010 at CU's Mountain Research Station</div>
<p>We had a great time chewing the fat over breakfast and talking about life's finer points on the drive up. Unfortunately, we toted up our skis for naught, as the snow was a crusty mess of powder and dirt.</p>
<p>Oh well. Thanks for the good company, Dave!</p>