---
title: Flagstaff Rain Dance Report
date: 2009-03-23 13:52:04
tags: sundry, 
---
<div class="center"><a href="http://picasaweb.google.com/flagstafffrenzy/MayflowerGulchSkiReport#5395854057802870562"><img src="http://lh3.ggpht.com/_zoD15FRZxcs/SuHsrVcwryI/AAAAAAAABXs/fQVzhw3VHXs/s800/mayflower.jpg" width="500" /></a><br />Dave skis into Mayflower Gulch on a bluebird day</div>
<p>Dave and I enjoyed a wonderful ride up Flagstaff this afternoon, with only the occasional reminder of the gusty conditions afoot.</p>
<p>Luckily, neither of us crashed and <a href="http://www.cyclingnews.com/news.php?id=news/2009/mar09/mar23news3">broke a collarbone</a>.  Given my latest poll question (and vote), one might consider me clairvoyant.  Knowing the Frenz, tho', I doubt it.</p>