---
title: Maloney Retirement Ride Report
date: 2009-08-19 12:54:20
tags: sundry, 
---
<div class="center"><br />Drafting behind this crew was a dream! Like swimming with the current in Hurricane Bill</div>
<p>Wow!  What a great cast today!!</p>
<p>Joining Dennis on the spin sendoff were: Julian, Nick, Hideo, Greg, Rob, Kevin, DU, Cavs, and moi.  I think I actually pedaled once during the whole tour, thanks to "the tall guys."</p>
<p>We all wish Dennis good luck in his next great adventure.  As a preview, Dennis sent us his to-do list for Tuesday, September 8th (his first day of real retirement):</p>
<blockquote>
<ul>
<li>sleep in</li>
<li>chew and enjoy breakfast</li>
<li>ride 26 miles, while daydreaming</li>
<li>yoga</li>
<li>shoot 9 holes of golf</li>
<li>go to grilling class with daughters</li>
<li>make plans to repeat without forgetting water cooler duty on Wednesday</li>
</ul>
</blockquote>
<p>Ambitious, if you ask me. Thanks to everyone for joining the fun today!</p>