---
title: Last Dip (maybe) of the Season Report
date: 2009-10-19 13:43:58
tags: sundry, 
---
<div class="center"><img class="aligncenter size-full wp-image-1722" src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/10/NO.jpg" alt="We really mean it" width="377" height="413" />
Don't even ask!</div>

<p>The signs at Boulder Rez proclaim "NO SWIMMING" in no ambiguous terms. But what are you supposed to do if you trip on the windsurfer's dock and fall in? <i>Sink?</i> 

I <i>had</i> to save myself, didn't I? Took about twenty minutes... I feel just awful about it.

It was a great day for schussing along country lanes, though, absorbing as I did the clatter of dancing leaves woven through the thin hiss of roadside grasses, whose stalks scraped and bowed with besieged dignity under the scudding clouds of a flannel sky. (<i>Oh, gag me.</i>)   

DU      
</p>