---
title: Rangers from the North Report
date: 2009-06-05 21:44:19
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/06/ranger1.jpg" /><br />Don't forget your quiver of arrows on today's ride, rangers</div>
<p>Dave and I rode <em>Back Alley</em> today. I think Dave is rubbing off on me, for I did the whole ride with an empty water bottle.</p>