---
title: Jamestown Ride Report
date: 2009-07-18 11:25:56
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=kOrL-qxishM&hl=en&fs=1&color1=0x234900&color2=0x4e9e00]<br />Greg tested his iPhone 3GS on this weekend's Jamestown ride</div>
<p>On Saturday, a motely crew of nine Frenz headed up to "The Merc" at the wee early hour of 7:30a.  Here are some pics:</p>
<div class="center"></div>
<p>Great time, all!  Thanks for organizing, Rob.</p>
