---
title: Flying the Friendly Skies Report
date: 2009-05-29 08:15:09
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/05/cannon.jpg" width="500" /><br />Smoking or non-smoking?</div>
<p>In case you haven't heard, iSean gave a free-flight clinic in Boulder Canyon Wednesday as he vaulted effortlessly over the handlebars of his mighty green Bianchi. He was  just entering the much-dreaded <i>venturi</i> near the Elephant Buttress when the winds began to play Tom Doodle with his line. A wobble here, a wobble there, and in a short heartbeat the single-speed king found himself airborne.</p>
<p>EndoSean may be a good flyer, but he ain't much of a lander. He thumped himself pretty good on touchdown, and now we hear the Boulder County Highway guys are demanding he come back to fill in his divot.</p>
<p>Could've been worse, though... Any time you find yourself unhorsed in Boulder Canyon there's reason to sweat; the druids from Nederland purposely aim for road kill.</p>
<p>Way to shake it off, Sean. We'll look for you on Flag today!</p>
<p>DU</p>