---
title: In Limbo
date: 2009-12-16 08:36:21
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=3p5PLR-bbcY&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Mark sends all his Minnesota pals (and his "outsider" Frenz) Holiday Greetings</div>
<p>I'm out today. Give Dave a ring if you're feeling ambitious.</p>