---
title: Marshall - Cherryvale Spin Report
date: 2009-02-13 13:26:16
tags: sundry, 
---
<div class="center"><br />Yay! Ryan Van Duzer applied for that <a href="http://www.islandreefjob.com/">dream job</a> off the Great Barrier Reef.  He's perfect!  Go, Duzer-Cruzer!!</div>
<p>Today was a first: I didn't see Dave try to chase anyone ahead of us.  He showed real restraint, which is a good thing since he had surgery only hours ago.  I think our little boy is becoming a man!  I'm so proud.</p>