---
title: Panic Attack Report
date: 2009-12-02 14:05:19
tags: sundry, 
---
<div class="center"><br />It's official: <strong>nothing</strong> stops Dave from riding (<a href="http://picasaweb.google.com/flagstafffrenzy/DaveRidesFlagInDeepSnow">view gallery</a>)</div>
<p>I'm speechless and guilt-ridden.  After seeing Dave's <a href="http://picasaweb.google.com/flagstafffrenzy/DaveRidesFlagInDeepSnow">ride pix</a> from today, I'm ashamed to admit that I didn't ride to work because the hill I have to descend is "too steep when icy". Yes, that's the tiny hill on Greenbriar.</p>
<p>I suppose there are also freshly-licensed teens driving to high school that I have to contend with, but still, such pitiful excuses ring fatuous in view of Dave's escapades. I'm not worthy!</p>
<h6>From This Morning</h6>
<div class="center"><br />Hollywood just offered this YouTube director $1M and a $30M budget to direct his film (courtesy of MarkG)</div>
<p>Maybe we should get an HD camcorder and beef up our AfterEffects skills.</p>