---
title: Four Mile
date: 2009-05-20 11:59:16
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/05/4mile.jpg" alt="4mile" width="284" height="423" class="aligncenter size-full wp-image-1722" /><br />Great Scot! It's our favorite ride!</div>
<p>Maybe we can escape the heat in Four Mile Canyon today, eh?

North side of Humanities at 12:40

DU</p>    

