---
title: Barnstorm Betasso Flag Report
date: 2009-06-08 13:52:44
tags: sundry, 
---
<div class="center"><br />From the good folks at <a href="http://failblog.org/">FailBlog</a>...</div>
<p>Thanks to Mark Knowles for joining today.  Dave got his wires crossed, but we still ended up riding the same route.  We share the same brain.</p>
<div class="center"><br />The new "Wii Fit", courtesy of Deb</div>
<p>Please keep the good parodies, etc coming! You all know this blog could use some funny.</p>