---
title: Oui, Nous Avons Le Soleil!
date: 2009-09-11 08:13:30
tags: sundry, 
---
<div class="center"><br /><em>Et moi, et moi, et moi</em> par Jacques Dutronc</div>
<p>I missed out on the sunshine yesterday, so I'm hitting it today. Gather at Humanities @ 12p.</p>