---
title: Sunshine (Really!) Report
date: 2009-03-13 13:15:07
tags: sundry, 
---
<div class="center"><br />When will the Frenzy be exposed for all the lies? When we have more than five readers...?</div>
<p>Finally, we make good on our word.  Dave, Greg, and I headed up Sunshine today, then threw in a little twist: <a href="http://tinyurl.com/boqqbg">Timber Trail</a>.</p>
<p>Have a great weekend, all!</p>