---
title: Flagstaff Ride Report
date: 2009-06-12 15:20:18
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/06/einstein-bike.jpg" /><br />Those profs and their bicycles...</div>
<p>We should've christened the day "Flagstaff Faculty Friday" or donned "Brain Powered" tee-shirts, as Noel accompanied us on the ascent and I'm fairly confident I saw Mark Knowles heading down.</p>
<p>The brain-pooling crew was of course on hand as well.  Who gets the brain while I'm on vacation, Dave?</p>