---
title: Sidelined Part Deux
date: 2009-05-07 11:07:50
tags: sundry, 
---
<p>I'm going to go riding with Microsoft Excel and CULearn this afternoon. Have fun on your own rides and send along a report if you have time.</p>
<p>Hopefully tomorrow we can finally do <em>Criminal Intent</em>.</p>