---
title: Louisville Lariat Sprint Home Report
date: 2009-09-16 13:00:37
tags: sundry, 
---
<div class="center"><br />The Frenz aren't the only ones who know how to handle a lasso<br /><strong>Little Known Frenzy Fact</strong>: Dave was cast as "The Falcon" before being replaced by Mike Brady</div>
<p>So, I headed out solo on today's intended ride when around Baseline I espied smoke emanating from the vicinity of my house. Needless to say, my ride plans changed there on the spot.</p>
<p>As it turns out, there's a <a href="http://www.dailycamera.com/news/ci_13347135">controlled burn</a> in the Boulder Mountain Parks today up on Shanahan Ridge (looks like it's above the junction of the Mesa and Big Bluestem trails&mdash;you can kinda see it in the middle left of <a href="http://boulderflatironcam.com/">this webcam</a>).</p>
<p>Still, for about 13 minutes, I wondered if I'd have time to pull my dogs out of the smoke.  The ride there was no warm-up lolly-gag for sure.</p>
<p>All is well, though. Lesson learned: we need to make sure the spare key to the house is put back in its hiding place; otherwise, I'm going to have to go Kanye on my sliding door.</p>
<div class="center"><br />And now for a real television show...</div>
<p>Can't wait for the start of Season 4!</p>