---
title: Waltz of the Walking Wounded
date: 2009-02-06 16:14:40
tags: sundry, 
---
<div class="center"><img src="http://lh5.ggpht.com/_zoD15FRZxcs/SuHsXczOSJI/AAAAAAAABXk/3K8o4AgIqG4/s800/feel_the_burn.jpg" width="500" /><br />The Frenz sporting the latest in hi-tech cycling gear...wait a minute...is that <em>The Hungry Toad</em>?!</div>
<p>Despite explicit instructions from his doctor, Underwood was out on the bike today, helmet-less among other things.  Happy Friday, all!</p>