---
title: Happy Birthday, Rob!
date: 2009-06-10 07:23:47
tags: sundry, 
---
<p>If you see Mr. Leary today, be sure to wish him the best as he turns 23. Have a great day, Rob!</p>
<p>There's a meeting over the lunch-hour, so perhaps we should regroup tomorrow.  If you're headed out and want company, though, just post a comment.</p>