---
title: Sunshine Sashay Report
date: 2009-02-10 13:15:48
tags: sundry, 
---
<p>It clouded up by the time I hit the road, so conditions were cool but not cold.  It was nice to try to ride Sunshine "easy", for it's normally so darn deadly!</p>