---
title: The Last Ride Before Classes Start
date: 2009-08-21 10:45:43
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=z1zda_S92V8&hl=en&fs=1&color1=0x234900&color2=0x4e9e00&hd=1]<br />Keyboards have feelings too... (submitted by Angela Werner)</div>
<p>Recovery day for me, buy y'all are welcome to storm Flag's ramparts or putt along.  As you like!</p>
<p>Gather at Humanities @ 12:10p.</p>