---
title: No Me Today
date: 2009-03-17 13:40:33
tags: sundry, 
---
<div class="center"><a href="http://www.hddenver.com/"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/03/dave-stpattys.png" /></a><br />In addition to his illegal run on <em>Back Alley</em> today, Dave's kept the neighbors awake with that rock-n-roll music</div>
<p>Sorry...meetings.</p>