---
title: Betasso Super-Flag Ride Report
date: 2009-02-16 22:25:07
tags: sundry, 
---
<div class="center"><a href="http://www.nytimes.com/interactive/2008/02/22/travel/escapes/20080222_MARTIN_FEATURE.html"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/02/martin-guitar.jpg" /></a><br />Came across <a href="http://www.nytimes.com/interactive/2008/02/22/travel/escapes/20080222_MARTIN_FEATURE.html">this great story</a> yesterday while researching audio slideware. The use of tech is exemplary.<br />And since my dad re-builds Martin guitars&mdash;we visited the factory in PA once&mdash;I found the story compelling too</div>
<p>Too bad Dave lost <em>The Battle of Leaky Knee</em> today.  Excellent weather for a jaunt up Super-Flag, and Greg and Rob were great stadium pals.  Though the sandtraps were out in full force, there were nearly clear pathways through them.</p>
<p>Hope everything's sealed up, Davey!</p>