---
title: Flag Smokehouse Report
date: 2009-09-01 13:58:49
tags: sundry, 
---
<div class="center"><a href="http://www.colorado.edu/webcam/"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2009/09/boulder-smoke.jpg" /></a><br />Smoke has a choke-hold not only on Boulder but even as far away as The Great White North</div>
<p>The California fires have rendered our skies smoky and unhealthy.  The moon was a deep, burnt orange last night, which made me glad I was nowhere near Gammon...he's from the underworld.</p>
<p>Anyhow, Dave cajoled me out of my oxygen-rich den here at Frenzy HQ and accompanied me up Flag. We're having our lungs x-rayed later.  We'll keep you posted on the results.</p>