---
title: New Sponsors!
date: 2010-11-19 00:07:48
tags: sundry, 
---
<figure><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/11/ff-urinal-puck.jpg" /><figcaption>We can keep the lights on for another month here!</figcaption></figure>
<p>This past week's conference was fun and all, but I'm in desperate need of a spin. Hope you can make it out today or during this coming Monday's <a href="http://www.flagstafffrenzy.org/routes#mistyvale">Misery Loves Company</a> ride.</p>