---
title: Flagstaff for the 800th Time Report
date: 2010-04-08 20:20:09
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=xEYInUvLalQ&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Mark wanted me to post this to make fun of DU, but I would never do that</div>
<p>Dave and I chalked up number 800 today, an unceremonious but spirited ride to the top of our favorite hill.</p>
<p>You'd think local riders would show some respect to the Frenzy Elder, but no! Dave was chastised by a local pro rider for not protecting his noggin with a crash helmet.</p>
<p>Ah, Boulder.</p>
<h6>Happy Birthday!</h6>
<p>Happy 50th to Greg! Have a great Birthday, Bro! You don't look a day over 49!</p>
<p>- DU</p>