---
title: Moby Dick
date: 2010-11-28 11:03:16
tags: sundry, 
---
<figure><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2010/11/text-in-path.png"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/11/text-in-path.png" /></a><figcaption>Nothing like messing with Photoshop on a Sunday morning</figcaption></figure>
<p>I've been remiss in publishing the next installment of <cite>Crosscurrent</cite>, but I assure you I'll have Chapter Two up tomorrow.</p>
<p>So, we need to get serious in planning the next FAC. Greg has suggested after the ITS Winter Staff Appreciation Party. When is that, Greg?</p>
<p>Sounds like the weather tomorrow will be fun. Hope it's not too icy. If so, I'm thinking I might run up Gregory Canyon.</p>