---
title: Poorman Bike Wash Report
date: 2010-04-09 13:28:47
tags: sundry, 
---
<div><br />After today's spin, Dave's stopping at the...</div>
<p>Since Eric Sherrill has generously offered to swap out Dave's crankset this weekend, Dave endeavored to sneak in a bike wash as part of our Friday ride.</p>
<p>With the car wash at the west end of Canyon as our goal, we decided to climb Poorman, the perfect route for looping back to Canyon. And, yes, he did stop to wash his bike <strong>after</strong> riding.</p>
<p>Have a great weekend, all!</p>