---
title: Leveling Up
date: 2010-09-20 14:53:41
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=V2_ueohYRhU&fs=1&hl=en_US&color1=0x234900&color2=0x4e9e00]<br />The Marks equipped themselves with a little "four wheels of fury" today. Congrats, blokes!</div>
<p>HQ was very happy for two of its lurker members who leveled up today. I wish I could've been there for the announcement (so I could've made a scene), but duty called.</p>
<p>Unfortunately for Dave and me, HQ was inspired by the proceedings and is angling to replace us both. It's a shame too. We were about to launch a print version of the Frenzy that would've been a roaring success and assured our long-term tenure.</p>