---
title: Knuckle Sandwich
date: 2010-11-12 11:23:30
tags: sundry, 
---
<figure><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/11/whitebarsweb.jpg" /><figcaption>Next time Underwood crosses me.... (courtesy of Noah)</figcaption></figure>
<p>It's still snowing in Frenzyland. Sorry about that&mdash;I haven't had time to change the header graphic. You should still trust the view from your window...if your office has one.</p>
<p>Speaking of which, some prankster put a window in Chamber 185a of Frenzy HQ. Interesting to watch the night crawlers, though.</p>
<p>It appears the <i>Immortal Blues Ambassadors</i> are jamming tonight at the Outlook Hotel, so bring your appetites and rotten tomatos (I hear the chicken wire has weakened).</p>
<p>And in sad news, the "Mortal Blues Ambassadors" passed away this past Tuesday.</p>
<p>Frenzy FAC here in the very near future. Stay tuned. Meantime, bon weekend!</p>