---
title: The Gleaners
date: 2010-04-21 09:18:55
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/04/gleaners.jpg" /><br />Hey Maritia, you missed a really good one over here!</div>
<p>I noticed the extra attentiveness paid by the grounds crews this morning as they worked the Quad. The little 4/20 tweakers left the field quite the mess yesterday, and today's clean-up appeared to be taking place w/ surgical precision.

Hmmm...

I'm headed up Four Mile at 11:30 today. Buzz me if you're game - 2-2672.

DU
</p>
