---
title: Gird Your Loins Report
date: 2010-04-27 19:01:59
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/04/gird-loins.jpg" /><br />The venerable Dr. Zeiler has been known to play dirty</div>
<p>Not only did Tom Z deign to ride with the Frenz today, but K-No himself graced us with his presence. And if we had had time to dally, Adriana and Christine would've joined our ranks too.</p>
<p>Indeed the mountain was an endless procession of spandex on this sterling day. Soon we'll have to re-open some of our more daring rides: Criminal Intent, Back Alley, and the like.</p>