---
title: Bonjour M. Bailey
date: 2010-04-26 08:23:40
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/04/french.jpg" /><br />Cette moustache me fait-elle la graisse de regard?</div>
<p>
Vous n'avez toujours pas payé la facture de fumigation et notre 
approvisionnement en alcool de frottage n'a été jamais complété le niveau.

Je sais vous pensez que nous Français sommes de petites souris idiotes, mais 
nous rappelons, mon jeune ami, souris avons des dents!

Envoyez-nous le paiement intégral maintenant, ou préparez pour sentir le plein 
choc du système penile. Est-ce que je me rends clair?

M. Claude Clounes 
Gardien en chef
La prison de Lyon
</p>

