---
title: Someone Help Me!
date: 2010-08-10 10:00:04
tags: sundry, 
---
<div class="center"><a href="http://www.shapeways.com/model/143039/road_popper.html"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/08/photo20395.jpg" /></a><br />For those casual Frenzy rides...Behold! The <a href="http://www.shapeways.com/model/143039/road_popper.html">road popper</a>!! (courtesy of iSean)</div>
<p>I <strong><em>need</em></strong> to get out. Howsabout we gather at HUMN @ 12:15p?</p>
<p>MarkW has postponed his maiden voyage (well, it'd be his second, technically), but he promises to join us soon.</p>