---
title: Terrance Hayes
date: 2010-11-29 14:00:50
tags: sundry, 
---
<figure>[youtube http://www.youtube.com/watch?v=P2fFCaHoOqU&w=480&h=390]<figcaption>Terrance was a star grad student at Pitt and used to play hoops with us</figcaption></figure>
<p>I was very happy, but not surprised, to hear that Terrance Hayes was <a href="http://www.newyorker.com/fiction/poetry/2010/11/29/101129po_poem_hayes">recently published in the New Yorker</a>. This just adds to an already impressive résumé (or "cv" in academe-speak), including a National Book Award, a Pushcart Prize, and more.</p>
<p>I never thought it was fair of my grad school buddies to make me guard Terrance during our basketball practices&mdash;he's about 6'5". Most of his poems made me laugh, especially when he'd start laughing half-way through.</p>
<p>Terrance is now a professor at Carnegie Mellon (our very own Mark Werner's alma mater). Now Adriana and I have one more reason to go visit!</p> 