---
title: Favorite Openings (No Opening Report)
date: 2010-01-26 14:36:19
tags: sundry, 
---
<div class="center"><br />I've always been partial to the opening paragraph of Jack London's <em>White Fang</em>. Your faves?</div>
<p>Dave and I were pinned down by enemy fire this afternoon. Not to fret, however. We've dug a trench and <a href="http://www.youtube.com/watch?v=LhmnOpoGAPw">begun testing secret weapons</a>.</p>
<p>If riding's not in your temporal budget, why not post a few of your favorite passages? A few others I'm fond of:</p>
<ul>
<li><a href="http://books.google.com/books?id=mYC3yRvvXxMC&amp;lpg=PP1&amp;dq=%22in%20cold%20blood%22&amp;pg=PA3#v=onepage&amp;q=&amp;f=false">In Cold Blood</a> <em>by</em> Truman Capote</li>
<li><a href="http://books.google.com/books?id=goVB8U5ruwoC&amp;lpg=PA68&amp;dq=cynthia%20ozick%20shock%20of%20teapots&amp;pg=PA68#v=onepage&amp;q=cynthia%20ozick%20shock%20of%20teapots&amp;f=false">The Shock of Teapots</a> <em>by</em> Cynthia Ozick</li>
</ul>
<p>Maybe next it'll be favorite opening scenes of movies....</p>