---
title: Fourmile Canyon Reoccupied Report
date: 2010-03-30 14:48:11
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/03/porta-potty.jpg" /><br />Just when Dave thought he'd found a peaceful moment, the Albuquerque Balloon Club showed up</div>
<p>Glorious day to be on two wheels! Dave and I found the going easy, as winter loosened its grip on Boulder Canyon, leaving the roads relatively dirt- and obstruction-free.</p>
<p>Fourmile Creek was beginning to roar its muddied-water roar. Dave didn't dare dive in, which means it's still <strong>really, really</strong> cold. Polar bear cold.</p>
<p>Reminds me of the time Adriana and I <a href="http://picasaweb.google.com/icegulch14/DenaliNationalPark#5402252883639291090">crossed that river in Alaska</a>. Painful!</p>