---
title: Furlough Friday Ride Report
date: 2010-03-26 16:13:10
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2010/03/lee-hill-ride.jpg"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/03/lee-hill-ride.jpg" width="500" /></a><br />Dave, Adriana, Steve, and iSean at Amante Coffee (photo by Greg)</div>
<p>Because the Edmonton Frenz thought it was "too cold" to ride with us today (40F?), we decided to skip the flats and head for the hills.</p>
<p>And there aren't many hillier rides than the Lee Hill - Lefthand - Old Stage Loop. Adriana, Greg, Dave, iSean, Kevin, and I were reminded of this when battling the 15% ramparts of Lee Hill, which come right at the beginning of the ride.</p>
<p>Still, what a grand day! The climbing kept us quite cozy, and the only place where it was noticeably cold was in Lefthand Canyon, and much of that was due to the headwind sweeping up the canyon.</p>
<p>Great way to spend a day off, Frenz. Thanks!!</p>
<p>Slightly off-topic (but not so much for this venue), sometimes I think New Hampshire natives just <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2010/03/the-roads-are-wicked-slippery-traffic-sign-hack.jpg">appreciate adverbs</a> more than other Americans. [I miss those snowmobile-crossing signs too.]</p>