---
title: Buff Biking Report
date: 2010-04-14 14:16:27
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=lhmjnYKlVnM&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />The Frenz saw the potential of the Internet long ago</div>
<p>A real dandy out there today.</p>
<p>Dr. Werner joined Sean, Dave, and me on a cruiser ride along the bike paths on a warm, cloudless spring day.</p>
<p>Our plans to "tag" Kevin's office were foiled when we ran across him on the Boulder Creek Path&mdash;spray paint cans are hard to roll up in your pantlegs.</p>
<p>The consensus after the ride was that we need to do more of these, perhaps even stopping for lemonade afterwards.</p>