---
title: A Word from Our Sponsors
date: 2010-09-01 00:43:23
tags: sundry, 
---
<div class="center"><a href="http://picasaweb.google.com/lh/photo/705Kh7icVJ8EK7aP8PAGXw?feat=directlink"><img src="http://lh3.ggpht.com/_zoD15FRZxcs/TH5eA2ItDVI/AAAAAAAADeI/iJpyV6Ojv3Y/s800/dave-divorce-parties.png" width="500" /></a><br />Look, folks! It's our first sponsor. I'm glad we decided against AdWords.</div>
<p>The Frenzy's about to undergo a major facelift in the coming week: Dave's taking the wheel. Yesterday, he informed me he already has four posts written and "they're good."</p>
<p>This is bad news for me.</p>
<p>Looking forward to being lampooned! Until I return, have a great Labor Day. Get out and enjoy this lovely riding weather!</p>