---
title: Japanese Spiderman
date: 2010-08-13 08:24:14
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=cYdpBNonxA4&fs=1&hl=en_US&color1=0x234900&color2=0x4e9e00&hd=1]<br />Dave is to the Frenzy what Masato Akamatsu is to baseball: Spiderman!</div>
<p>Let's do some kind of spin. 12p @ HUMN.</p>