---
title: Duel Cruel Ride Report
date: 2010-02-19 13:54:19
tags: sundry, 
---
<div class="center"><br />Some like it hot. Not us.</div>
<p>Conditions were <a href="http://picasaweb.google.com/flagstafffrenzy/ColdCruelRideOnFlagstaff#">perfect</a> this afternoon, if your idea of perfection includes hypothermic shock: 22.8F at the Mesa Lab and overcast with light snow.</p>
<p>I had dressed lightly, thinking I'd ride "the truck" to Gregory Canyon, lock up, and run the rest of the way. But no, I let Underwood hoodwink me into riding the whole way.</p>
<p>Good times! It was fun to see icicles on the rocks. Dave's brakes were like gelato dispensers, so kudos to him for keeping the crank-arm turning. It was a feat of something or other.</p>
<p>Time to go shiver under some wool blankets. Gammon says it's been in the 50s in Orlando. I don't feel bad for him, though; after all, he's <a href="http://yfrog.com/37adnlj">pimped out his parents golf cart</a>.</p>
<p>Have a great weekend, y'all!</p>