---
title: Dousing
date: 2010-06-11 12:34:31
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=_bozCcl4E8M&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Another JD commercial by the <em>Brand New School</em>. Not as good as <a href="http://www.youtube.com/watch#!v=YEm77vwz6-8">the first</a>, which is one of my all-time faves.</div>
<p>The deluge has yet to begin, which meant Rob and I were able to get out and ride Poorman.</p>
<p>It's a little cooler than yesterday but still short-sleeve weather. One benefit of riding in the pre-summer storm hours is great tailwinds blowing up the canyons, making one feel light and airy. Or maybe that was the car fumes.</p>
<p>Tried out Leonards Road right after climbing the Poorman steep pitch. It'd be so fun to find a passage back to Sunshine&mdash;a passage that wouldn't entail gunfire.</p>