---
title: Re-Capture the Flag
date: 2010-07-29 08:19:45
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=JbOwWqboHec&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Ol' Bret proving once again that still waters run deep (courtesy of DU)</div>
<p>Sorry, guys. I had to bail on the ride today.</p>