---
title: Fugue State Report
date: 2010-05-17 23:47:40
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=Tlmho7SY-ic&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00&hd=1]<br />YouTube turns 5 today.</div>
<p>We had a re-awakening today on Super-Flag. I realized that I was grossly out of shape, and Dave realized once again that Super-Flag is very steep. It's always good to jog the memory.</p>
<p>It was the first borderline "hot" day too (67F), which reminded us that it's hard to wipe sweat from your brow when you're out of the saddle on a 15% slope in your granny gears. Still, it was great to dry almost instantly on the descent and not feel cold as a result.</p>