---
title: Hold the Onions and Pretty Much Everything
date: 2010-06-01 07:42:16
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=i-hXcRtbj1Y&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00&hd=1]<br />Coke experiment (courtesy of MarkW)</div>
<p>Despite the splendid weather, we're wandering into the "no fun zone" this afternoon.</p>