---
title: How to Live a Longer, Happier Life
date: 2010-12-06 08:07:17
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/I-jk9ni4XWk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>It's never too late to try to be happier</figcaption>
</figure>
<p>Once again, congratulations to Rob and Maria! We're very happy for you and hope you're safely ensconced in your home.</p>
<p>Doesn't look like the snow in Northern New England will affect tonight's Pats/Jets game. Damn! I did see that UNH advanced to the quarterfinals in the Division I Football finals, and that UNH Hockey is ranked 5th currently (and beat Vermont 5-1 yesterday).</p>
<p>Unfortunately, the Flagstaff Frenzy still ranks last in inconsequential matters such as good taste, hygiene, and basic human decency.</p>