---
title: First Day of School
date: 2010-10-11 09:55:01
tags: sundry, 
---
<div class="center"><br />My boyfriend's back and making me carry his books</div>
<p>It's Gammon's first day on the new job, and HQ will be there to document his whole day as part of a new MTV series...as yet unnamed. They're leaning toward G$.</p>
<p>Oh no, looks like there's a new <i>Dear Dave</i>. Riggs appears to be the latest victim.</p>