---
title: Dave's Breakfast Serial
date: 2010-11-14 14:29:39
tags: sundry, 
---
<figure><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/11/cover.jpg" /><figcaption>Dave's serial is finally here!</figcaption></figure>
<p>Frenzy posts are a lot like cafeteria mystery meat, but Dave's new series <a href="http://www.flagstafffrenzy.org/2010/11/14/crosscurrent-chapter-one">Crosscurrent</a> is a true mystery, complete with a plot and well-wrought prose.</p>
<p>Things will never be the same around here.</p>