---
title: Graduation Day Report
date: 2010-05-07 13:26:04
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=lpwBQlOSJ3I&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00&hd=1]<br />It's not quite Everest, but <del>Flagstaff</del> Sunshine is still a good climb</div>
<p>At the corner of University and Broadway, Dave got a call on the bat phone and had to do an about-face, poor guy. So, TZ and I soldiered on up Sunshine Canyon.</p>
<p>It was chillier than expected, with temps in the low 40s and a not-so-subtle breeze. Even so, we enjoyed the climb and spectacular views of the Indian Peaks, which are still totally white and enshrouded by spindrifts.</p>
<p>Have a great weekend, all!</p>