---
title: Sixty Degrees or Bust Report
date: 2010-03-16 14:20:19
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/03/doomsday-vault.jpg" /><br />Norway's <a href="http://en.wikipedia.org/wiki/Svalbard_Global_Seed_Vault">doomsday vault</a> has floorplans eerily similar to those of <a href="http://picasaweb.google.com/flagstafffrenzy/FrenzyFunnies#5401144960895183746">Frenzy HQ</a></div>
<p>We were right! The thermometer out of the blue zone, old Frenz stumbled out of their dens and joined the "really old Frenz" for a ride up Poorman today.</p>
<p>Before we were even out of the gate, iSean and Dave were at each others' throats with uncharacteristically blunt trash talk&mdash;we usually talk trash via figures and tropes, so this literal stuff caught Kevin and me off guard.</p>
<p>Despite the dearth of "as it weres," "so to speaks," and "if you wills" (which we borrow from LeCarla), we made it off campus safely and then up the canyon (just barely safely). From there, it was blissful. Fighting words and slanderous barbs were forgotten&mdash;whisked away by the gentle zephyrs tumbling down Fourmile Creek.</p>
<p>Or something like that.</p>
<h6>Dave Questions "Success" of Norway's Doomsday Vault</h6>
<p>It's true. I picked up my monthly installment of <em>Real Estate for High Rollers Like Dave</em>, and here's what I found:</p>
<blockquote>
<p><strong>Tightly-built country getaway, adjacent to open space</strong></p>
<p>Enjoy a cup of hot cocoa in this snug yet spacious Arctic redoubt. Private drive leads through impressive steel gates to a soaring grand entrance, designed by Norse architects to withstand the cruelest of Armegeddons.</p>
<p>Once inside, you and your guests will be wowed by acres of polished concrete and gleaming stainless steel. This faux-industrial beauty fairly screams, 'It's safe here, relax and try to ignore the deep rumbling and sickly green deathclouds roiling outside.'</p>
<p>Well-stocked fridge included.</p>
</blockquote>
<p>Anyone want to go halfsies with me?</p>
<p>-DU</p>