---
title: Numero 799 Report
date: 2010-04-05 23:58:39
tags: sundry, 
---
<div class="center"><a href="http://sports.espn.go.com/boston/mlb/columns/story?columnist=bryant_howard&amp;id=5056257"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/04/red-sox.gif" /></a><br />Always tough to lose the home opener; fortunately, the Sox didn't. Damn Yankees!</div>
<p>Dave racked up his 799th Flagstaff ascent today. We only added one <a href="http://www.flagstafffrenzy.org/2004/10/24/extreme-lunch-brake">crossed out stick figures</a> to his log book.</p>
<p>First day in a while on the Amphitheater Road, though. Just delightful, the more so since no one else was there!</p>
<h6>From the Morning</h6>
<p>The Spring Classics are underway, and Paris-Roubaix is upon us. I may have the <a href="http://www.universalsports.com/news/article/newsid=464433.html">Vuelta ciclista al País Vasco</a> as background noise in my office today. Yay for streaming video!</p>