---
title: My Boyfriend's Back
date: 2010-09-03 20:46:28
tags: dear-dave, 
---
        <p>Dear Dave,</p>

<p>This past week, I&#8217;ve been immersing myself in the haute couture of Switzerland with my new European amis. Today, my Joe-Blow American beau showed up, in a ratty Frenzy tee and jeans. Mon dieu!</p>

<p>How do I tell the dude that I have developed more sophisticated tastes?</p>

<p>-My Boyfriend&#8217;s Back</p>
<hr />
<p>Dear Boyfriend&#8217;s Back,</p>

<p>I know the type&#8230; Shows up with a sense of entitlement bigger than a school bus, dressed like a ragpicker, and thoroughly incapable of appreciating anything in life finer than PowerBait with a Bud chaser.</p>

<p>And there you are, sitting in a gaufre chambre with some cat named Clos, sipping absinthe, when El Dufo walks up and says, &#8220;Favre is coming out of retirement again and I get stuck here in Heidiland.&#8221; C&#8217;est bummer!</p>

<p>Here&#8217;s what I&#8217;d do: tell him you want to meet him back at the hotel for a little &#8220;fun with CSS, if you know what I mean.&#8221; Then split.</p>

<p>I can&#8217;t believe I have to figure this stuff out for you. Pathetic.</p>

<p>Without Feeling,</p>

<p>-Dave</p>