---
title: The Examined Life
date: 2010-12-13 13:59:09
tags: sundry, 
---
<figure>
  <%= image_tag("feltron-annual-report-covers.jpg", :class => 'img-fluid') %>
  <figcaption>Dave, where's my printed annual report?!</figcaption>
</figure>
<p>As the new year approaches and resolution lists are made, I found Nicholas Felton's attention to detail intriguing. What stat about your life would stick out?</p>
<p>For me, I think I'd be curious to know how many lumps of sugar I put in my coffee over the course of a year. I'd undoubtedly be mortified.</p>
<p>Do you think leading a <a href="http://en.wikipedia.org/wiki/Walden#Synopsis">deliberate life</a> requires leading an examined life? Feel free to opine below.</p>