---
title: Announcing Activity Announcements
date: 2010-08-17 13:37:21
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/08/activity-post-type.png" /><br />Utilizing WordPress's relatively new "custom post types" to generate mini-blogs here on the Frenzy!</div>
<p>That's right! No more sifting through the sea of banal observations this blog is known for to find the ride route and meeting time. If all you want to do is join the ride, cast your eyes toward the new "Activity" box (top right of sidebar).</p>
<p>Sorry it took so long!</p>
<p>Typophiles rejoice! I saw yesterday that Typekit has <a href="http://blog.typekit.com/2010/08/16/typekit-and-adobe/">announced an agreement</a> with Adobe for many of their well-known typefaces. Zehr cool!</p>
<h6>Announcement from MarkW</h6>
<p>Mark caught the following announcement in the <em>Buff Bulletin</em>:</p>
<blockquote>
<h5>USED BIKE SALE!</h5>
<p>On Wednesday, Aug. 25, 9 a.m.-5 p.m. (while supplies last) in the UMC Fountain area, the CU Bike Program is hosting a bike sale. Held in conjunction with Community Cycles and Full Cycles, with an emphasis on providing low-cost sustainable transportation, many affordable new and used bikes and accessories will be available. If you've been thinking about getting a bike, this is your chance!</p>
<p>Additional information: <a href="http://ecenter.colorado.edu/transportation">http://ecenter.colorado.edu/transportation</a></p>
</blockquote>
<p>Good eye, Mark!</p>