---
title: Nerd Flash
date: 2010-10-11 12:50:28
tags: sundry, 
---
<p>Adriana won an <a href="http://www.ametsoc.org/">American Meteorological Society</a> award for <i>Best Paper</i> recently! Read the <a href="http://atoc.colorado.edu/research/award_arb.php">announcement</a> on the ATOC website. Congratulations!!!</p>