---
title: Passing the Torch (Flagstaff Ride Report)
date: 2010-05-25 14:38:25
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/05/jones2.jpg" /><br />Hey! Why isn't she out job hunting?!!</div>
<p>New blood in the pack today. Kacey Underwood and my ol' pal Jon joined Mr. Bailey and I on a quick trip up the hill. For a couple of tweakers they showed remarkable moxie; precious little whining and incendiary bursts of speed. 

Scary.

DU
</p>

