---
title: Always the Last to Know
date: 2010-12-13 09:14:21
tags: sundry, 
---
<figure><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/12/CameraImage.png"><figcaption>Wonder what the Daily knows that we don't? (Courtesy of Greg)</figcaption></figure>
<p>Can someone confirm this story? I need to move my mini-fridge if it's true. Besides, we'd need to start planning some big party.</p>
<p>In case you missed it last week, there's a <a href="http://www.flagstafffrenzy.org/2010/12/10/crosscurrent-chapter-three">new installment</a> of Dave's serial <cite>Crosscurrent</cite>, so be sure to carve out some time.</p>
<p>Anyone up for some big adventure over winter break, especially if Old Man Winter stays away a little while longer?</p>