---
title: Cleared for Takeoff
date: 2010-08-05 08:55:00
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/08/ottopilot.jpg" /><br />DU will once again take to the airways with his trusty pal "Otto Pilot"</div>
<p>Yes, that's not a typo! Dave was cleared to ride this afternoon by his doctor (or that's what he told me...someone get Ronna on the horn!).</p>
<p>I have a 12:30p meeting, so I was thinking of heading out at 11:30p, meeting at HUMN. Hope you can join us for the sashay!</p>
<h6>Linda's New Pal</h6>
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/08/penny.jpg" width="500" /><br />Frenzy HQ would like to extend a warm welcome to Penny of Longmont</div>
<p>Congratulations to Linda, who adopted a new pooch recently. Penny is three years old and full of energy, like all of the Frenz.</p>
<h6>Cheating News: Doping Comes to Bass Fishing</h6>
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/08/fake-shark.jpg" width="500" /><br />When they start <a href="http://www.grindtv.com/outdoor/blog/19468/cheating%20scandal%20at%20us%20open%20rocks%20bass-fishing%20community/">cheating at bass fishing</a>, it's not just the judges who get mad</div>
<p>MarkW sent this sad story along, in view of all the recent doping news. I suppose money is a real corrupting force in this world. Dave, has Zack ever stuffed a lure into a trout to impress Frenz?</p>
<h6>Tour of Colorado!</h6>
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/08/quiznos.jpg" width="500" /><br />Personally, I think the "Red Zinger Classic" had a better ring to it, but I'll settle for Quiznos Pro Challenge!</div>
<p>Many of you already heard the news, but Julian wanted us to know that the non-annual <em>Tour de Frenz</em> will now have competition from the annual (late August) <a href="http://www.cyclingnews.com/news/lance-armstrong-announces-the-quiznos-pro-challenge">Quiznos Pro Challenge</a>. Can't wait to hear what the stages will be!</p>