---
title: Under the Eves
date: 2010-12-24 10:50:21
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/16599509?color=ffffff&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>  </iframe>
</div>
  <figcaption>Two of my favorite things: New Hampshire in fall and cycling</figcaption>
</figure>
<p>I really like the work of Tom Guilmette, who's a total HD video geek! He does a lot of vignettes with background music, but my favorite is his <a href="http://vimeo.com/1100678">narrative account of hiking Mount Moosilauke</a>.</p>
<p>Frenz will likely be more impressed that he has survived numerous strikes atop Fenway's Green Monster, including a Manny Ramirez bomb.</p>
<p>It appears the above video was shot at Attitash Ski Area, which I remember because of its summertime <a href="http://www.youtube.com/watch?v=VV7lwdNrcQc">alpine slides</a>! But, the fall colors are the stars of this short clip.</p>
<p>Hope you're enjoying Christmas Eve!</p>