---
title: Happy Birthday, Kevin
date: 2010-10-20 08:56:23
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/10/original_ro-dam_airbag-450x599.jpg" /><br />Kevin, we got you a new airbag helmet! (courtesy of iSean)</div>
<p>These <a href="http://davidreport.com/blog/201010/the-invisible-airbag-bicycle-helmet-hovding/">invisible airbag helmets</a>, which appear to be bulky yet fashionable scarves at first blush, are all the rage in Stockholm. Now Kev won't have to worry about getting hair product in his helmet or showing up to project meetings with helmet head.</p>
<p>As we've always said here at Frenzy HQ, fashion trumps safety!</p>