---
title: Should I Call Orkin?
date: 2010-09-13 20:45:16
tags: dear-dave, 
---
        <p>Dear Dave,</p>

<p>An employee keeps asking me to bike up Flag with him over the lunch hour. My level of fitness could best be described as &#8220;lightly above couch potato.&#8221; My BMI is 30. I&#8217;m afraid I might collapse if I actually biked up Flag. Do you think he&#8217;s just trying to help me get in shape in the mode of <a href='http://www.youtube.com/watch?v=JhlWddAXSRA'>Sarge the Therapist</a>? or do you think he&#8217;s trying to kill me? Or both? What should I do?</p>

<p>Sincerely,</p>

<p>Not Sure in the Stadium</p>
<hr />
<p>Dear Not Sure in the Stadium,</p>

<p>Whenever I deal with an issue like this, I like to back up and get the big picture.</p>

<p>Is this an employee who&#8217;s actually worth keeping? I&#8217;d bet not, based on the little you&#8217;ve told me. In fact, I&#8217;ll bet this is one of those peabrains who was accidentally hired due to a minor clerical error, then burrowed in, draped his smelly workout clothes all-the-hell over the place, and never left. And now, much like the state of Texas, you&#8217;re stuck with him or her, and have no clue how it ever came to this.</p>

<p>So maybe the problem isn&#8217;t really should you or shouldn&#8217;t ride a bicycle up Flagstaff&#8230; Indeed, it might simply be a matter of cross-checking HR records against the state comptroller&#8217;s classified employment archives, pulling a form 223B, filling out the fifteen-page Request for Evaluative Evaluation (REE), obtaining sponsorship of someone from within the Attorney General&#8217;s office for an Appraisal of Legitimate Investigative Action (ALIA), then attaching your request to the quarterly HR employment survey. It&#8217;s really easy and it only takes about twelve years.</p>

<p>How soon do you retire, by the way?</p>

<p>It&#8217;s pitiful I had to help you with this,</p>

<p>Dave</p>