---
title: When Your Knees Go...
date: 2010-10-04 14:55:44
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=WtI1GP147Cs&w=500&h=305]<br />If I took this up Flag, would it count as an "ascent"?</div>
<p>This thing seems fraught with danger. Therefore, the FF is investing.</p>