---
title: That Just Happened!
date: 2010-06-24 13:46:36
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=wacmF9_6WqU&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Watching the Red Sox get pipped by the Rox last night, I thought of this great Will Ferrell line</div>
<p>Busy morning with lots on our minds. HQ is concentrating its energy on its esteemed founder.</p>
<h6>Flagstaff Report</h6>
<p>Rode up Flag today with my buddy in mind. Even tried to 'x' out a few folks in his honor. Looking forward to Mr. Clean Pipes' return.</p>