---
title: In and Out Report
date: 2010-02-18 12:45:17
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=qP4d5paLECs&hl=en_US&fs=1&hd=1]<br />Brooksley Born is my new hero. Fighting the fat cats!</div>
<p>Dave had to make a <a href="http://www.youtube.com/watch?v=fTGQC3RP4XA">bank transaction</a>, so I headed up Flagstaff solo just now. Conditions were perfect, despite the absence of my partner in crime.</p>
<p>Indeed, a light snow squall overtook me near <em>The Boat Ramp</em>, making for a magical climb and descent.</p>