---
title: The Routine Report
date: 2010-05-18 14:09:35
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=teTmNgxi41c&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />I wonder if this is how I hurt my back.</div>
<p>Back in business today (pun intended). My doc cleared me to ride, so Dave, Kevin, and I headed up Flag for a pleasantly paced ride.</p>
<p>It's threatening to rain, but it held off during our sojourn. My friend Scott is out in Lamar storm-chasing today&mdash;he's an NCAR weather nerd. You can see him on <a href="http://www.spotternetwork.org/google.php">this map</a> (2:11p MST). Be careful, Scott!</p>