---
title: Frenz in Training
date: 2010-10-08 12:24:34
tags: sundry, 
---
<div class="center"><br />We're not getting any younger, so we had to start training our replacements</div>
<p>Another lunchtime hijacked. That rounds out the week. I know what you're saying "Suck it up, Bailey." I hear you loud and clear.</p>
<p>Mark W has dug up some handy <a href="http://finance.yahoo.com/career-work/article/110944/new-rules-of-business-etiquette?mod=career-worklife_balance">office etiquette tips</a> for us to ponder. NB: <i>These do not apply on rides</i>.</p>