---
title: I Resemble That
date: 2010-08-19 00:18:52
tags: sundry, 
---
<div class="center"><a href="http://www.bbc.co.uk/news/magazine-10965608"><img src="http://lh5.ggpht.com/_zoD15FRZxcs/SuIHcL_KPZI/AAAAAAAABcU/GVrOPyhqi5I/s800/IMG_0273.jpg" width="500" /></a><br />Could it be that the Frenz are <a href="http://www.bbc.co.uk/news/magazine-10965608">Mamils</a>? (courtesy of Julian)</div>
<p>Oh well, I suppose we all have to admit at some point that we're not the rebels we once thought we were. In the eighties we called this yuppification.</p>
<p>The best part of the above article, though, was surely the conclusion!</p>
<blockquote>
<p>...I conclude with a message from my own Mrs Mamil to other cycling widows. She's discovered a precise form of retaliation. If your portly husband buys another stupid fluorescent jersey, buy yourself another pair of shoes.</p>
<p>That way, at least one of you can look good.</p>
</blockquote>
<p>Wear your fluorescence with pride, fellow Mamils!</p>

