---
title: The Blues Ambassadors
date: 2010-09-24 08:55:40
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=aUs1AbUs_V4&fs=1&hl=en_US&color1=0x234900&color2=0x4e9e00]<br />Don't think Dave will try stage diving again at tonight's show</div>
<p>That's right. Don't miss the Immortal Blues Ambassadors gig tonight, unless of course you're meeting with your parole officer. Details: Friday, September 24th, 2010, <i>Casa Alegre</i>, 1006 Pine St, Louisville, CO, 5:30 to 8:00 PM. No cover to boot!</p>