---
title: I Don't Give a Rip about Alabama
date: 2010-09-15 20:04:57
tags: sundry, 
---
<p>Frenzy HQ is jazzed about the following political ad because it's teeming with something our fair blog utterly lacks: machismo! So, get your rifles, truck nutz, and a case of Bud and listen up, Frenz!</p>
<div class="center">[youtube http://www.youtube.com/watch?v=jU7fhIO7DG0&fs=1&hl=en_US&color1=0x234900&color2=0x4e9e00]<br />Dale Peterson is important!</div>
<div class="center"><br />And the inevitable spoof....</div>
<p>Not enough testosterone for ya? Well, Pamela Gorman from Arizona will just pop a cap in your @$$!</p>
<div class="center"><br />Sub-machine guns aren't just for gangsters anymore</div>