---
title: Wizards and Warlocks
date: 2010-11-10 09:49:51
tags: sundry, 
---
<figure>[youtube http://www.youtube.com/watch?v=Su1LOpjvdZ4?hd=1&w=1280&h=750]<figcaption>Just over a week left</figcaption></figure>
<p>Looks like we just got a taste of snow yesterday with a brief respite today. Tomorrow, we're supposed to get 1-3".</p>
<p>In its wake, yesterday's squall left some <a href="http://www.nps.gov/webcams-romo/glacier_basin.jpg">really picturesque landscapes</a>, but the roads are still enticingly dry. What great riding weather!</p>
<p>Dave is close to publishing a serial for our "renowned" <i>Arts and Culture</i> section. It's a mystery complete with its own cover and graphic inserts (of course!). Stay tuned.</p>
<p>If any of you gentle readers would like to publish an essay, short story, poem, or "choose your own adventure," let us know. We're always short on content but chock-full of pomp and circumstance.</p>