---
title: Shake It Off
date: 2010-03-15 13:40:06
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/03/outlook.jpg" /><br />Don't forget to come out for <em>The Blues Ambassadors</em> on Friday at the Boulder Outlook</div>
<p>There was nary a chill in the air this afternoon as Dave and I set sail from the port of TCOM. The thin, gauzy clouds dissipated as we tacked uphill, allowing the sun to splash on our sloops.</p>
<p>Anyhow, after exchanging stories about all the strident, self-righteous jerks that, like prairie dogs, pop out of the ground from time to time in Boulder, we just enjoyed the sound of our tires passing over the sand.</p>
<p>A great respite! Thanks, Dave.</p>