---
title: Northwest Passage Report
date: 2010-04-15 14:20:59
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=Q9NP-AeKX40&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Some call it the iPaw</div>
<p>The Coast Guard had it spot on: there were open channels rendering the Northwest Passage navigable. Thanks to a sextant and Rob's keen eyes, we made it back to campus safely.</p>
<p>The passage was not without peril, though. Indeed, the moondust that builds up in <a href="http://bit.ly/da5WL7">the hairpin corners</a> tugged at our front wheels on the ascent. We usually don't see said dust until July!</p>
<h6>Notes from the A.M.</h6>
<p>Mark Werner claims the distances we bike are "pitiful" compared to <a href="http://www.youtube.com/watch?v=97Ob0xR0Ut8">other cyclists</a>.</p>
<p>Sean <a href="http://picasaweb.google.com/flagstafffrenzy/BikePathCruise">took some pix</a> on our cruise around town yesterday. We were a motley bunch.</p>