---
title: In and Out Burger
date: 2010-04-01 08:22:51
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/04/strip.print_.gif" /><br />Unfortunately for Steve, it's back to the drawing board with Frenzy v4.0 (<a href="http://dilbert.com/strips/comic/2010-04-01/">Dilbert</a> referral courtesy of MarkW)</div>
<p>Today is the Academic Technology "mini-retreat", so if I ride, it'll be really early. If you get out for an adventure, please let us know, though.</p>
<p>April Fool's "ride" write-ups especially welcome.</p>