---
title: Political Science
date: 2010-10-13 06:29:23
tags: dear-dave, 
---
        <p>Dear Dave,</p>

<p>I have a dilemma. One of my employees (let&#8217;s call him &#8220;Steve&#8221;) apparently has enough time on his hands to be running for Congress! He talks about being swamped and working late; but the other day as I was driving home from work, I saw yard sign after yard sign saying, &#8220;Stephen Bailey for Congress!&#8221; I guess by changing out the &#8220;v&#8221; in his name for a &#8220;ph,&#8221; he figured we wouldn&#8217;t catch on to him. But believe me, I&#8217;m hip to his jive.</p>

<p>Take a look at his <a href='http://www.stephenbaileyforcongress.com/'>web site</a>. He used WordPress! This particular employee is quite the devotee of WordPress. He&#8217;s even gone to WordCamp a couple of times. And really, who uses WordPress any more? SquareSpace is the new cool CMS.</p>

<p>And if you look at his calendar, he always seems to be out for a long bike ride: probably just enough time to fit in a debate with an opponent, or to kiss a few babies in the local harvest festival parade.</p>

<p>My dilemma is now that we&#8217;re so close to the election, should I do something about this, or should I let it go? On the one hand, I could keep a closer watch on his time at work; but on the other hand if I give him a little slack at lunch time, maybe he&#8217;ll be elected. And if he&#8217;s elected, he&#8217;ll be shipped off to Washington, which would immediately eliminate at least one of my personnel issues.</p>

<p>-Flummoxed in Folsom</p>
<hr />
<p>Dear Flummoxed in Folsom,</p>

<p>I think you&#8217;re getting all worked up for nothing. Sure, what he&#8217;s doing is probably illegal, but it does keep him occupied, right? I mean, without this little &#8220;campaign&#8221; of his, he&#8217;d probably still be hanging around the mail room showing everyone his lobotomy scars (&#8220;Look, I&#8217;m Harry Friggin-Potter!&#8221;).</p>

<p>Dan Maes is in the same boat. The management over at Good Times have actually been contributing to his campaign. <em>Anything</em> to keep him from coming back to work and screwing up the ketchup dispenser again. And remember George Bush? Same thing. The Texas Rangers couldn&#8217;t wait to get him into the White House. Much better having a pointless eighty-bazillion dollar war than having the Wedgie King hold court in the locker room after every home game.</p>

<p>So relax and enjoy the show. After all, the beauty of this great democracy of ours is that, with enough money and patience, we can have virtually anyone permanently removed.</p>

<p>Where do I send my donation?</p>

<p>Dave</p>
