---
title: Backwaters Report
date: 2010-05-27 13:20:49
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/05/backwaters.jpg" /><br />Some call them backwaters. Dave and I call them home.</div>
<p>Rather than ride <em>Back Alley</em> in reverse, we chose instead to ride <em>Northwest Passage</em> against the grain. Can't say I'd recommended it, especially when they've recently graveled. But, hey, this is the Frenzy.</p>
<p>Thanks for the company, Dave. Don't forget: twelve shades of khaki and knave doormen&mdash;a recipe for boredom!</p>