---
title: Interesting Nightline Tonight
date: 2010-07-23 16:24:47
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=hrREyjqXpyo&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />If you're a Lance zealot, you may not want to watch "Nightline" tonight</div>
<p>Snuck in a quick ride with K-No and Rob today. Thanks for waiting, guys. May ride up Flag with Greg after work to boot!</p>