---
title: Guilty as Charged
date: 2010-09-21 08:42:41
tags: sundry, 
---
<div class="center"><br />They're on to us. Time to call in <a href="http://www.flagstafffrenzy.org/2010/02/05/the-frenzy-turns-its-head-and-coughs">MIDOL</a>.</div>
<p>Looks like print media is the safer way to goof off at work. But newspapers are <b>so</b> 1990s!</p>