---
title: The Real Tahoe Trip, Part Deux
date: 2010-03-03 13:02:03
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=QL_x818MR7c&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />We were surprised to see Dave at Lake Tahoe. That guy gets around.</div>
<p>What a great trip! We skied everyday, as the blisters on Adriana's heels will attest.</p>
<p>I crashed 3 out of 4 days, with the last being my best. Suffice it to say that corn snow, short-sleeves, and high speeds produce basketball-floor-sliding-type scars.</p>
<h6>Ride Report</h6>
<p>Today marked the first sleeveless, pant-less, and hat-less day in 2010. Okay, you got me, I did wear shorts.</p>
<p>Indeed, those pasty white twigs I call legs need bronzin'&mdash;gotta catch up with the ski-tanned brick I call a face.</p>
<p>Dave and Gunthernator were bipedal this afternoon. Wonder where they got off to?</p>