---
title: Friday Capture the Flag Report
date: 2010-04-16 13:35:33
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=4iZnZYn9prQ&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Now and then, Frenzy smack hits a nerve...like when I gave DU a <em>Frenz Nudge</em>. Sour puss.</div>
<p>Can't put away the vests, arm warmers, and long-sleeve gear yet. It was chilly out there today, especially compared to the rest of the week.</p>
<p>We've been savoring these last few days of a closed Amphitheater Road&mdash;closed to cars, that is. Soon, the summit of Flag will be overrun and consequently 100% more dangerous. Opening day is May 1.</p>
<p>Until then we'll continue to enjoy the smell of pine, as well as the snowbank holdouts (there are still a couple at the top). It's a lovely time of year.</p>
<p>My brother shared a picture of his second anniversary with us recently. Their first few years were <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2010/04/two-year-anniversary.png">trying times for Diana</a>. Lucky for him, she rode out the rough seas (and brought a warm sleeping bag on camping trips).</p>