---
title: This Just In Report
date: 2010-01-11 13:20:28
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=hw2QS93J7Lg&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Dave wanted us all to know "it's rough down here" in the Virgin Islands</div>
<p>Since Dave's been gone, it's been a lot of solo flying of late. Today, that all changed!</p>
<p>That's right, the surging thermometer brought out some of our estival Frenz, who've been in a sort of mental torpor for the past few months&mdash;some might argue longer.</p>
<p><strong>CORRECTION</strong>: The mental torpor is a normal state. The word I was looking for was "hibernation," according to Greg.</p>
<p>Seriously, though, it was great to have some company on the sandy slopes of Flagstaff. The descents aren't what they are in summer, but at least the climbs hurt the same.</p>
<p>Thanks, Greg!</p>
<h6>From the Morning</h6>
<p>Received a telegram from Dave on the old Frenzy-gram down in HQ. Here's what it said:</p>
<blockquote>
<p>Sorry for the dearth of reportage &laquo; full stop &raquo;</p>
<p>All's well, but we're w-a-y off the grid down here &laquo; full stop &raquo;</p>
<p>Having a blast &laquo; full stop &raquo;</p>
</blockquote>
<p>Knowing all's well with Dave, I suppose we should ride his favorite ride at lunch. Gather at noon-fifteen @ HUMN.</p>