---
title: Flyboys
date: 2010-10-06 12:33:33
tags: dear-dave, 
---
        <p>Dear Dave,</p>

<p>Boy, have I gone and done it. Some years back I decided to shuck it all, quit my job, and join the Air Force.</p>

<p>I told my friends at the time that I was going to fighter-pilot school. A month after signing on, I found myself regaling them with stories of flying F16&#8217;s straight up at a gazillion miles-an-hour, or scudding along behind enemy lines, taking flak from the ground and tracers from above. I spoon fed them the whole Top Gun thing, complete with hot chicks in the officer&#8217;s club and late-night runs down the beach in my 64 &#8216;Vette.</p>

<p>Well&#8230;</p>

<p>Truth-be-told, I&#8217;m actually only a grade-two supply clerk in the Travis AFB HVAC warehouse. I can see jets occasionally through the little window in my office, but they&#8217;re about three miles away, so they could just as well be silver minivans with glandular problems for all I know.</p>

<p>Now comes my reason for writing. My friends want to come visit. Should I continue the ruse (as if I could really pull it off!) or should I come clean and tell them everything&#8230; even the part about all the guys in the office routinely calling me &#8220;Lieutenant Second Class Tailflap?&#8221;</p>

<p>I suppose I should also inform you that these so-called friends are merciless. They&#8217;ve all talked trash since early childhood and they&#8217;d trip their own mothers down a flight of stairs if they thought it&#8217;d get them a laugh.</p>

<p>What the heck should I do?</p>

<p>Headed for a Crash Landing in California</p>
<hr />
<p>Dear Headed for a Crash Landing in California,</p>

<p>Yeah, you&#8217;ve gone and done it, alright. You&#8217;ve turned your life into a bad sitcom, and you&#8217;re clearly headed for the final episode.</p>

<p>Your choice is very simple, though: should you take the high road and be brave, honest, and forthcoming with your friends, or should you continue living a lie, sheepishly wrapping yourself in deceit and moral opprobrium?</p>

<p>I go with the lie. It shouldn&#8217;t be all that hard to get some surplus aviation crap to scatter around your apartment (or is it a double-wide?) and you might be able to lease a &#8216;Vette for a couple of days from one of the specialty car rental places over in Dweepville.</p>

<p>Also, I can help you with some pilot-ese, if it helps:</p>

<p>Tell them that <i>just the other day on a test flight, my afterburners flared on rollout and I yawed three times before the boomalator neutered my ailerons.</i> Or that <i>as I was flying a secret mission over Tehran, I passed a MIG35 on the right without signaling and the bastard got ticked and came after me. To avoid starting a war, I decided to launch a PT33A avoidance device which locked onto his RDF frequencies and forced him to listen to Fleetwood Mac until he could get back to base and kill the ignition. Sometimes war is hell.</i></p>

<p>Whatever you do, keep your buddies away from your office mates and the officer&#8217;s club and <i>anything</i> that even resembles the real Air Force. Take them to Dave and Busters&#8230; tell them you need the downtime. Tell them almost everything you know is classified and that, if they truly love their country, they should quit asking stupid questions and finish their Michelobs.</p>

<p>There&#8217;s a lesson to be learned here, but, I swear, I don&#8217;t know what the hell it is.</p>

<p>Good luck, Flyboy.</p>

<p>Dave</p>