---
title: Fleeting Frenzy Renaissance Report
date: 2010-02-16 14:20:00
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/02/frenzy-stats.gif" /><br />A quick glance at this site's Google Analytics during Steve's absence shows progress</div>
<p>Good ride today, despite a shrill wind. I firmly believe that any wind from the south should be warm. The Southwesterlies today were anything but!</p>
<p>More trash talk tomorrow, when I finally get a free moment to myself. Until then....</p>
<p>In one of the tote bags left behind by the MIDOL folks I found an eight track with "suggested songs" for the Frenz. I've digitized one of them.</p>
<div class="center"><br />The Ozzman Cometh</div>
<p>Do you think it's significant? Why's there a live chicken in the bag?</p>