---
title: Damn the Machismo!
date: 2010-09-16 16:52:04
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=rs4RSEbqsiM&fs=1&hl=en_US&color1=0x234900&color2=0x4e9e00]<br />Featuring Deb's hubby... (courtesy of Deb)</div>
<p>Aw, who are we foolin?! Machismo's for suckers. Bring on the stiletto's and Louis Vuitton bags! Not sure about doing squats in pumps, tho!</p>