---
title: Adriana's Birthday!
date: 2010-05-03 10:29:58
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/05/adriana-birthday.png" /><br />It's Adriana's 30th Birthday!! Today, finals. Tomorrow, Hawaii!</div>
<p>How's about Poorman at noon @ HUMN?</p>