---
title: Goofin' Off
date: 2010-11-16 19:13:06
tags: sundry, 
---
<figure>[youtube http://www.youtube.com/watch?v=qgFKl-2CvDw?hd=1&w=960&h=750]<br /><figcaption>Dave told me it was perfectly safe</figcaption></figure>
<p>Sorry, guys. I'm at the <a href="http://www.colorado.edu/Atconference/">Accessing Higher Ground</a> conference this week, so I won't be riding at all. Wicked good session today.</p>
<p>I had no idea what was going on with the weather, being cooped up in a conference room all day. But, it looked like it was crazy!</p>
<p>There's been talk of a <a href="http://www.flagstafffrenzy.org/routes#mistyvale">Misery Loves Company</a> ride over fall break. Interested parties should be sure they know their blood type before embarking on this adventure.</p>
<p>Contact HQ if you're interested, and be sure to sign the release form.</p>