---
title: Achtung!
date: 2010-06-16 07:50:40
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/06/P1050485.jpg" /><br />During his recent visit to South Africa, Rob found the signage hard to interpret</div>
<p><del>Despite the madrigal chorus of creaks and groans my bike is making, I'm thinking of riding Back Alley. If you're interested, join me at HUMN @ 12:10p.</del></p>
<p>Oops, forgot. I have an afterwork ride in store. Sorry. Feel free to file your report this afternoon anyway. Just place it in the pneumatic tube in the hidden location.</p>