---
title: The Skateboard Jungle
date: 2010-08-23 14:22:12
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/08/board.jpg" alt="micky" width="307" /><br />Looks harmless enough, doesn't he?</div>
<p>I think it's unwise trying to get off campus now without using the buddy system. At the very least, file a flight plan or let a responsible person know the details of your route. These are times that try Frenz souls.</p>
<p>Nice ride up Four Mile today, with the promise of Fall hanging lightly in the valley.</p>
<p>DU</p>
<h6>First Day of School</h6>
<div class="center"><img src="http://lh4.ggpht.com/_MLtKexEhbk0/Sr7W5qRXtbI/AAAAAAAAAEI/vWYpCj2Adho/s800/steve_kate_1stday.jpeg" width="500" /><br />The first day of school is as exciting now as it was then</div>
<p>Though it wears off quickly, the joy of seeing first year students on campus returns year after year. Just how long it'll be before Dave beats one of these youngins with his front tire is anyone's guess.</p>
<p>SB</p>