---
title: Taste of Spring Report (aka, 798)
date: 2010-03-29 13:32:17
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/03/bear_den_cccSpring09.jpg" /><br />Occasionally, bears hit the hiber-snooze button. That's when scientists call <em>Dave's De-Denning Service</em>.</div>
<p>The birds are singing, the temps are warm, and my bike is squeaking from the long torment of winter. This is my second favorite time of year after fall (winter and summer tie for third).</p>
<p>Despite my best efforts, I couldn't run down to get new cleats for my Speedplay pedals until after my 11-12p meeting. This meant Dave had to forge on without me.</p>
<p>Too bad: it was his 798th ride up Flagstaff. We're hoping to hit 800 on Friday, so carve out a slot in your calendar around noon if you can.</p>
<p>I did manage to buy and install my new cleats in a half-hour, though, so I was able to sneak in a Crown Rock ride and say HI to Dave on his descent.</p>
<p>Supposedly, tomorrow will only be warmer.</p>