---
title: Frenzy Literacy
date: 2010-08-30 15:22:25
tags: sundry, 
---
<p>Okay, enough of this Frenzy prattle. If you want to read a <strong>real</strong> blog, check out some very cool info on climate response strategies written by yours truly, live from summer school in Switzerland: <a href="http://cires.colorado.edu/blogs/what-next/">cires.colorado.edu/blogs/what-next</a>.</p>
<p>And, because it's so good, you might as well read it again at <a href="http://thinkswiss.org/brainstormblog/">ThinkSwiss</a>. ThinkSwiss is actually my sponsor for this grand adventure and incredible learning opportunity. So be sure to click their link several times.</p>
<p>Beautiful photos of the Alps, forthcoming!</p>
<p>-Adriana</p>