---
title: How to Win a Sudden Death Match
date: 2010-10-25 13:30:37
tags: sundry, 
---
<div class="center"><br />Wow! I don't like golf, but I can appreciate this.</div>
<p>Gusty ride up Flag just now. My fingers are still a tad on the numb side. We could see snow blowing in over Sugarloaf and Gold Hill, and it had to be 10&deg; cooler atop Flagstaff.</p>
<p>In a few days, the Amphitheater Road will be closed and the tippy-top will be ours again until May 1st.</p>