---
title: Old Man Winter Counters with a Stiff Jab
date: 2010-03-18 09:26:33
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/03/cars004.jpg" /><br />My car's been re-outfitted for the gathering storm</div>
<p>It's going to be fun watching the storm roll in this evening. I've got the Weather Underground's cool mashup <a href="http://www.wunderground.com/wundermap/">WunderMap</a> of Wyoming opened in a tab that I don't intend on closing.</p>
<p>I've always enjoyed watching sharp cold fronts race across states on their way towards me&mdash;it's like we're tied to the tracks and <a href="http://www.youtube.com/watch?v=x5m1A7zoIcc">the locomotive's coming for us</a> (trope).</p>
<p>Hopefully, no one will wimp out on <em>The Blues Ambassadors</em> gig tomorrow at 8pm @ <a href="http://bit.ly/9eaCuc">The Boulder Outlook</a>. In view of the forecast, they may have to change this track to "Snowplow Blues":</p>

<ul> 
<li style="background-image:none;"><a title="Steamroller Blues by The Blues Ambassadors" href="http://ia360931.us.archive.org/3/items/BluesAmbassadorsDoghouseMusic/SteamrollerBlues.mp3">Steamroller Blues by <em>The Immortal Blues Ambassadors</em></a></li> 
</ul>
<p>More obligations today and tomorrow. Sorry folks. Maybe see you on Monday.</p>