---
title: Brainiest Town in the USA
date: 2010-12-04 16:50:04
tags: sundry, 
---
<figure>
    <%= image_tag("beeker.jpg", :class => 'img-fluid') %>
    <figcaption>How can the home of the Flagstaff Frenzy be the <a href="http://www.huffingtonpost.com/2010/12/01/the-10-brainiest-cities-p_n_790503.html#s196031">brainiest citiy</a> in the U.S.?</figcaption>
</figure>
<p>Trying to relax today&mdash;I've only done about two hours of work. Watched some <cite>Weeds</cite> and some football, napped, and jogged.</p>
<p>I need to get up to the mountains and see some snow. Speaking of which, I saw a fun <a href="http://answers.yahoo.com/question/index?qid=20101122080911AAB8fK9">article on Yahoo Answers</a> about the conditions needed for snow. Hint: temperatures do not have to be below 32F.</p>
<p>Looks like another decent week of weather for cycling. Hopefully the last week of classes won't be too hectic for y'all.</p>