---
title: Do Not Attempt to Depict Dave
date: 2010-06-15 13:41:03
tags: sundry, 
---
<div class="center"><a href="http://www.washingtonpost.com/wp-dyn/content/article/2010/06/15/AR2010061501482.html"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/06/2005_01_13giantjesus.jpg" width="500" /></a><br /><strong>Exodus 20:4</strong> <q>You shall not make for yourself an idol in the form of anything in heaven above or on the earth beneath or in the waters below.</q> [ <a href="http://www.washingtonpost.com/wp-dyn/content/article/2010/06/15/AR2010061501482.html">Touchdown Jesus Smote by God</a> ]</div>
<p>Kevin joined Dave and me for a spin around the bike paths today. It was just about perfect, in terms of weather. But, the creeks are higher than I've ever seen them!</p>
<p>Indeed, at one point, we had to ford through 1' deep standing water, and many of the underpasses were overrun. The water level where South Boulder Creek passes under Arapahoe might have even been high enough to drown DU!</p>
<p>Up periscope!</p>