---
title: Some Kind of Bike Ride Report
date: 2010-05-14 23:59:45
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=iROYzrm5SBM&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Last night I de-activated my Facebook account because I felt it was useless and an invasion of my privacy</div>
<p>Tom, Dave, and I hit Fourmile Canyon today. The creek was definitely on the rise, inexorably sluicing its way toward the already-swollen Boulder Creek.</p>
<p>I noticed that I'm lacking some endurance, which is probably normal for this time of year. Been riding short rides all winter.</p>