---
title: WANTED- Over-Ambitious Route Scout
date: 2010-11-27 03:26:00
tags: classifieds,
---
<p>Cycling blog running out of crazy routes to ride. Must lack ability to gauge distances and elevations. Contact Frenzy HQ.</p>