---
title: Trip Cut Short
date: 2010-09-12 13:24:33
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=rUgKu78lV30&fs=1&hl=en_US&color1=0x234900&color2=0x4e9e00]<br />More footage from our adventures in Switzerland</div>
<p>Had to cut our trip to Switzerland short, not because of the wildfire in Boulder, but because of Dave's abuse of the Frenzy. It's going to take me weeks to undo this mess.</p>
<p>Actually, we didn't cut our trip short. And while we enjoyed our time abroad, we're happy to be home!</p>