---
title: Workplace Resources
date: 2010-12-17 09:56:02
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/17859540?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>  </iframe>
</div>
  <figcaption>The "Emotional" Spell-Check (courtesy of Noah)</figcaption>
</figure>
<p>Lots of submissions today, including a handy tool submitted by Dr. Werner: the <a href="http://www.getodd.com/raz/sickday/sickday.html">sick day excuse generator</a>.</p>
<p>In fact, I used the above tool today, and my excuse for not being at work: "The voices told me to clean all the guns today."</p>
<p>Sounds like Dave is going to do shopping at lunch. And this from the guy who refuses to bowl on rainy days. Sheesh.</p>
<p>Thanks for all the submissions, Frenz! Have a great weekend.</p>