---
title: New Business
date: 2010-10-13 08:46:14
tags: sundry, 
---
<div class="center"><a href="http://failblog.org/2010/10/12/epic-fail-photos-classic-ad-fail-6/"><img src='http://failblog.files.wordpress.com/2010/10/4297f924-c67d-44e7-b056-166a1771fa7f.jpg' title="CLASSIC: Ad FAIL" alt="epic fail photos - CLASSIC: Ad FAIL" /></a><br />High-end detailing is overrated (courtesy of Mark W)</div>
<p>I'm seeking out new ventures these days. Who'd like to be my first customer?</p>