---
title: Happy Birthday, Dave
date: 2010-12-28 08:40:09
tags: sundry, 
---
<figure>
  <%= image_tag("selleck-cake.jpg", :class => 'img-fluid') %>
  <figcaption>This is the last time I put Zeiler in charge of the birthday cake</figcaption>
</figure>
<p>It's DU's birthday today, and we're celebrating by ditching him. How callous?! We tried to talk him into an extended ride, but for some reason he wanted to relax and have fun.</p>
<p>If you're the nostalgic type, you might consider casting your eyes to photos of our <a href="http://picasaweb.google.com/flagstafffrenzy/DaveSBirthday">2009 Surprise Party</a> or our <a href="http://picasaweb.google.com/flagstafffrenzy/DaveS55thBirthdaySanitasDuathlon">2006 Blizzard Run on Sanitas</a>. Good times.</p>
<p>Anyhow, we wish you a very Happy Birthday, Big D! And <a href="http://www.flagstafffrenzy.org/deardave/thank-god-youre-a-country-girl">Zetroc's own</a> Lisa and Steve <a href="http://sendables.jibjab.com/view/ArYL5NBTf4bsNIWF">do too</a>!</p>