---
title: How to Be Super
date: 2010-06-18 13:23:15
tags: sundry, 
---
<div class="center"><br />How to "wow" your manager (courtesy of MarkW)</div>
<p>So we didn't actually <em>ride</em> Super-Flag...who's counting?! Adriana's back got the best of her, Jason battled a burrito, iSean struggled with "the cold," and I tarried with food-bonk.</p>
<p>Despite all that, it was an excellent Friday turnout with impeccable weather, even if iSean would've liked another 10&deg;F. Okay, now to go get some food.</p>
<p>Bon weekend!</p>