---
title: Homesick Part Two
date: 2010-11-02 01:13:42
tags: sundry, 
---
<figure>[youtube http://www.youtube.com/watch?v=YVQyCwzBs6o&w=1280&h=750]<figcaption>You needn't be Thoreau to enjoy the Maine Woods</figcaption></figure>
<p>Someday, Adriana and I intend on either hiking or skiing Maine's 100 Mile Wilderness. Kayaking the Allagash might be fun too. Who wants to join us?</p>
<p>A side trip to <a href="http://www.nps.gov/acad/">Acadia National Park</a> would be in order, of course.</p>
<p>As you may have noticed, I've rebooted this hunk of junk. Wanted to create archives for <i>Dear Dave</i> and modularize the graphic design, widening it in the process.</p>
<p>Indeed, the overarching goal was straightforward: provide more space for trash talk.</p>
<p>Still much to do, so I apologize in advance for the kinks. Feel free to let me know when you find 'em.</p>