---
title: Thank God You're a Country Girl
date: 2010-10-21 07:24:20
tags: dear-dave, 
---
        <p>Dear Dave,</p>

<p>Several years ago my husband and I decided to take on a serious life change. We moved from a major metropolitan area to a very small town in the country. I think watching all those old <em>Green Acres</em> reruns is what finally put us over the top. I had always pictured myself as the Eva Gabor type, and my husband had a special fondness for all things barnyard.</p>

<p>At first, it was truly a dream. Once we got used to the rednecks using our mailbox for target practice and to the low level of resident literacy (0% before we moved there), we found our new life to be everything we&#8217;d expected and much more. We grew vegetables, went on long walks through the rolling hills, and even developed a taste for the local meth (acidic, but in a pleasant, citrusy way). Just to show our willingness to blend, we also joined a local militia - there were dozens to choose from - and spent many happy hours in full cammo, hiding under bridges or in the bushes on the courthouse lawn.</p>

<p>Here&#8217;s the deal, though. I miss the city. I miss traffic and mornings spent discussing film at Starbucks and shopping for clothes at someplace other than a farm and ranch store. I miss seeing people with teeth.</p>

<p>But my husband has put down roots. He tells me the only way he&#8217;ll ever leave Zetroc (for that&#8217;s the name of the shallow little gene pool we call home) is in a box. He loves the fresh air and the dry crunch of chicken manure in his socks, and he is truly happy here.</p>

<p>I know you&#8217;ve counseled thousands of other unhappy couples with great success (at least that&#8217;s what the flyer said that I found under my windshield wiper), so I&#8217;m hoping you can help us.</p>

<p>Is there a way out of this mess? Sincerely,</p>

<p>One More Mouthbreather Asks Me to Read the Grocery Store Directory for Him, and I Swear, I&#8217;ll Pull the Pin!</p>
<hr />
<p>Dear One More Mouthbreather Asks Me to Read the Grocery Store Directory for Him, and I Swear, I&#8217;ll Pull the Pin!,</p>

<p>Not so fast there, Ma Kettle&#8230;</p>

<p>Things have really changed here in Gotham since you left, and, at this point, I don&#8217;t really think you could withstand re-entry. It&#8217;s not the same bright and shiny object you remember. Things have gotten ugly.</p>

<p>Why, just this morning on my way into Frenzy HQ, I saw a fifty-eight year-old graphic designer sitting on his bicycle at a stoplight. Picture the Michelin Man straddling a bit of chrome-moly butt floss, and there&#8217;s your morning&#8217;s snapshot.</p>

<p>And I see stuff like this all the time.</p>

<p>In Zetroc, do people go out for coffee in their pajamas? Do they fight with the HOA over that new sweat lodge in the backyard? Does the local day care offer a program in &#8220;authentic movement for toddlers?&#8221;</p>

<p>Didn&#8217;t think so.</p>

<p>I found myself wondering, where could I possibly go and not be subjected to to this type of thing? Greenland? Somalia?</p>

<p>If I were you, I&#8217;d learn to love my little house on the prairie. Never mind that the rustics take the occasional potshot at your mailbox, or that the local library doesn&#8217;t yet have a procedure for checking out books (it&#8217;s never come up). It&#8217;s much better, believe me, than what you left behind. Be thankful.</p>

<p>By the way&#8230; what <em>was</em> the name of Eva Gabor&#8217;s character on <em>Green Acres</em>? Something Douglas, wasn&#8217;t it?</p>

<p>Dave</p>