---
title: Where in the World Is Dave Underwood? Report
date: 2010-03-25 13:12:58
tags: sundry, 
---
<div class="center"><div id="insetBgd"><h5 class="insetType">Fun <span>&amp;</span> Folly<br />with CSS3!</h5></div><br />Testing CSS3 gradients, rotation, and text-shadow (should look <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2010/03/fun-and-folly2.jpg">like this</a>)</div>
<p>Dave's taken up residence in the UMC's "Being John Malkovic" closets on the 5th floor, so <del>who knows if he'll even</del> he didn't show up today...physically. I have felt as though someone's been controlling my movements, though. Hmm...</p>
<p>Flag was delightful. Not a soul on the mountain but moi. The roads were perfectly clear and even the sandtraps weren't all that bad.</p>
<p>On the topic of CSS3, WestCiv provides a great (mostly cross-browser) <a href="http://www.westciv.com/tools/gradients/">gradient generator</a>, and I love their recreation of the Apple navigation bar with pure CSS!</p>