---
title: Jury Duty
date: 2010-09-28 11:05:36
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=IdXJYc4CpXA&fs=1&hl=en_US&hd=1]<br />It took me 1:33h to run this road when I was 18; this guy drove it in 6:21min</div>
<p>Dr. Werner informed me that Dave had jury duty today, but I pointed out to him that most jurors don't have to wear orange jumpsuits. It seemed to have slipped Mark's notice.</p>
<p>Mark would make a good juror for the defense.</p>