---
title: Pine Beetles Are No Frenz of Mine
date: 2010-06-21 13:58:14
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=cdK-B8N4SLc&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Yesterday, Adriana and I saw first-hand how bad the pine beetle damage in RMNP is. Sad.</div>
<p>Dave, hope all goes well on Wednesday.</p>
<h6>Super(Hot)-Flag Report</h6>
<p>It was so hot today that I missed the headwinds anytime I went into a protected area. Sizzling.</p>