---
title: Super-Flag Tune-Up Ride Report
date: 2010-04-12 12:40:28
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/04/frenzy-v1.png" /><br />Coming Soon: Frenzy tee v2.0 (the black text will either be blue or green, and the shirt will be gray).</div>
<p><em>Father Time</em> kept us from putting the "super" in Flagstaff today. But such prefix privations do little to dampen our spirits.</p>
<p>It was cooler than expected at the start, so both of us did our respective about-faces in order to grab an extra layer for the descent.</p>
<p>As is always the case, however, we warmed quickly on Baseline, and by Gregory Canyon we were like steamed lobsters (with rubber bands around our claws).</p>
<p>No rubber bands on Dave's freshly tuned bike, though. Indeed, a big "thank you" to Eric for neutralizing that squeaking noise. I think it was actually Dave's knees, not the old crankset.</p>
<p>Looks like Zack is <a href="http://warnercnr.colostate.edu/fwcb-home/">showing up the old man</a> at Colorado State! But Dave was <a href="http://www.flagstafffrenzy.org/2010/04/11/black-cats">published on the Frenzy</a> recently, so touché, Zack!</p>