---
title: Noel's Return
date: 2010-07-27 13:05:27
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=QQ7wcayQQLQ&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00&hd=1]<br />Oooh! Another heist film&mdash;one of my favorite genres. And it's set in Beantown!</div>
<p>Not only has Noel not lost an ounce of fitness, but he's also got a new Orbea, which makes him <em>muy rapido</em>. Just what we need!</p>
<p>Still, it's good to have him back, even if we nearly exhausted ourselves chit-chatting on the ascent. Sorry about that, Noel. Dave calls me Soliloquy Steve for a reason.</p>