---
title: Pumping iron
date: 2010-10-22 09:15:16
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=M8CYXMTpJ-4&w=500&h=311]<br />This is what I look like in the gym (courtesy of MarkW)</div>
<p>Mark also encourages us to <a href="http://www.youtube.com/watch?v=k81iieW9AKI">design our own shoes</a>.</p>