---
title: Total Lunar Eclipse
date: 2010-12-20 11:25:48
tags: sundry, 
---
<p>If you're not up between <a href="http://news.cnet.com/8301-13506_3-20026147-17.html">12:40a and 2a</a>, here's what you'll miss</p>
<p>I've been wondering why I've been howling at the moon and getting hairy of late. Now it all makes sense.</p>
<p>This is a grand week to be on campus. No kiddies. No skateboards. And an added bonus for this time of year: no snow.</p>
<p>Of course, I like the snow and miss the days of throwing a nerf football into snowbanks for Matt Burton to dive into.</p>
<p>Have fun stargazing this evening!</p>