---
title: Study Questions for "Don't Worry, be Happy"
date: 2010-09-08 07:25:28
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/09/DU.jpg" alt="report" width="350" /><br />A reminder: this textbook is property of the Frenzy. Please treat it accordingly.</div>

<p>1. <a href="http://www.flagstafffrenzy.org/2010/06/30/dont-worry-be-happy">"Don't Worry, be Happy"</a> makes it painfully obvious that the writer is beyond hope, and that his "problems" are considerably less important than, say, the backside of Neptune. Honestly, <i>who the hell cares?</i> 
Don't even answer this question. We're sorry we brought it up. 

2. Do you think the author writes like this for effect? What effect? Why does it fail?    

3. Dave Underwood spells out the word "s-e-x." Did he have help? 

4. Pretend you're riding bikes with the author and that he asks that you "slow down so we can wring the very marrow out of life." Would you speed up to get clear of this cloying psychobabble? Most people do, by the way.

5. Using paper clips and masking tape, make a scale model of Dave's bike. That should keep you busy until lunch, when we'll go ride Cedarbrook... unless you have a better idea.

DU</p>