---
title: American Grandstand
date: 2010-11-03 20:18:53
tags: dear-dave, 
---
        <p>Dear Dave,</p>

<p>This isn&#8217;t a problem per se, but more of a how-to sort of question. I have an employee who&#8217;s awesome at laying down solid bass licks under a swinging band of immortal greats pounding out the blues. At work he&#8217;s a mild-mannered graphic designer of some renown, but his real skill is pounding those rhythmic licks. So the rest of us here at work would love to hear this employee and his immortal buddies rock the UMC at lunch or maybe the C4C. It would give us the lift we need to make it through the rest of the day. The problem is, this employee is too modest and pooh-pooh&#8217;s his talent and his band&#8217;s awesomeness. Also, he always heads out at noon with another guy to trade smack talk and ride bikes. So how can we convince this baron of the bass to spread the love and fill the air with his legendary bass rifts?</p>

<p>Any ideas you might have will be most welcome.</p>

<p>Signed,</p>

<p>Jones&#8217;n for the Folsom Blues</p>
<hr />
<p>Dear Jones&#8217;n for the Folsom Blues,</p>

<p>Wow&#8230; this hits so many notes, it almost calls for a cubist response. Not sure where to start.</p>

<p>Basically, it sounds as if you&#8217;re trying to appeal to the altruistic side of this guy. Asking him to do something for the common good, maybe give something of value back to the community or provide a positive statement for the betterment of man&#8230; that sort of thing?</p>

<p>I&#8217;m afraid your request is doomed to fall on tone-deaf ears. I say that because I know these weekend warrior types pretty darned well. They play a couple of two-bit gigs - say, at the local delicatessen, back in the corner where they store the paper towels - and all in a sudden they&#8217;re the bloody Rolling Stones. It goes to their head faster than warm nitrous, and it renders them insufferable prima donnas until someone, usually their wives, reminds them that it&#8217;s Saturday afternoon and the downstairs bathroom is still dirty.</p>

<p>Yup, usually their wives.</p>

<p>Trust me, you don&#8217;t want this guy anywhere near your other employees. Attitudes like his are bad enough, but feed this craziness with a request for a free show, and the next thing you know, he&#8217;ll be demanding his own green room and a helicopter shuttle back to the airport. It&#8217;s pathetic, really.</p>

<p>Another thing; his bass-playing? Most likely sub-par, I&#8217;d wager. I&#8217;m sure he actually practices about once per decade, on average, and lets his drummer do all the heavy lifting on stage. He&#8217;d rather spend his time trying to move like Les Claypool in <a href='http://www.youtube.com/watch?v=bWDgLIfVKao'>that really cool YouTube clip</a> which he&#8217;s seen about a million times. Not that I know.</p>

<p>If I were you, I&#8217;d move on. If you&#8217;re looking for a noon-hour morale builder for your people, there are lots of good acts around: singalong folk groups with <em>real</em> talent, for instance, or that guy from the mall who crawls into the little plastic box. But you really, really don&#8217;t want the Immortal Blues Ambassadors, with their playlist of thirty-five kickass Chicago jump-blues classics and their molar-rattling live show that Merced Graham of the <em>New York Times</em> has called &#8220;a deeply powerful paean to the visceral root of American Blues.&#8221; You don&#8217;t want to pay them in Sawtooth Ale, and you don&#8217;t want to send some people out to Rental City to pick up a 600 watt PA and a portable stage.</p>

<p>And you sure as hell don&#8217;t want to contact them at: <a href='mailto:bluesambassadors@gmail.com'>&#098;&#108;&#117;&#101;&#115;&#097;&#109;&#098;&#097;&#115;&#115;&#097;&#100;&#111;&#114;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></p>

<p>Do you?</p>

<p>Dave</p>