---
title: Mechanical Dope
date: 2010-06-08 16:03:07
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=8Nd13ARuvVE&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Though I'm a self-described dope, my latest invention has grabbed some people's attention</div>
<p>Like moths to a flame, Dave and I decided to ride a route that would take us past Boulder Creek. Bunch of rubberneckers we are!</p>
<p>Still, the ensuing ride up Sunshine was great. The road still looks nice and clean.</p>
<h6>Flash Flood Warning on the Boulder Creek Path!</h6>
<p><strong>11:03a</strong>: I just received a reverse 911 call on my office phone that there is a <em>Flash Flood Warning</em> for Boulder Creek this afternoon. The <a href="http://www.bouldercolorado.gov/modules/mod_floodcam/viewcamera_large.htm">water does seem quite high</a>.</p>
<p>Consequently, the Boulder Creek Path is closed today.</p>
<div class="center">[youtube http://www.youtube.com/watch?v=ewcTQwtPnCc&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Busted Bridge on Boulder Creek</div>
<p>From the looks of the video above, it sounds like the <a href="http://www.9news.com/news/article.aspx?storyid=140609&amp;provider=top&amp;catid=188">problem upstream</a> could be severe. It is somewhere in the vicinity of the Red Lion Restaurant.</p>
<p>We've quickly removed all the priceless art from HQ, but if I worked down at the CC, I'd probably move my car from the lot...just in case.</p>
<p>I'm guessing we won't be riding Fourmile, Poorman, Betasso, or Magnolia today.</p>