---
title: Elder Hostile
date: 2010-09-30 09:37:47
tags: dear-dave, 
---
        <p>Dear Dave,</p>

<p>I work at a major university out west. My job is to help faculty understand and use the latest in cutting-edge computer technologies&#8230; you know, applications like Droople, Ning, Splip, Smoopo, Mesmik, and Drikmax. In other words, I&#8217;m young, whip-smart, and, okay, twist-my-arm&#8230; devilishly good looking.</p>

<p>I tell you this as background because&#8230; well, because.</p>

<p>My problem actually concerns a good friend of mine, who is many, many years older than I. What&#8217;s killing me is watching him try to keep up with the world around him. Even though he&#8217;s had more surgeries than Dick Cheney and has retained less cognitive horsepower than George Bush, he&#8217;s in complete and total denial.</p>

<p>Bicycling with him - an embarrassing and painful duty that fell to me because I lost the office lottery - is like taking a twenty five year-old dog to the park; he bumps into things, is chronically short of breath, and scares small children.</p>

<p>He spills coffee on himself, jumps when his cell phone rings, and in meetings simply tilts his head from side to side like the RCA dog and grunts.</p>

<p>He&#8217;s obsessed with lost youth. He&#8217;s recently joined a band, and just yesterday he told me he&#8217;s pricing skateboards. I worry that someday soon he&#8217;ll be wearing one of those ridiculous little African pillbox hats or will start listening to The Magnetic Zeros (with a straight face).</p>

<p>Even though I&#8217;m whip-smart, and, okay, twist-my-arm&#8230; devilishly good looking, I could use a little help. What the heck should I do about this guy? He simply won&#8217;t give up.</p>

<p>Eyewitness to a Trainwreck</p>
<hr />
<p>Dear Eyewitness to a Trainwreck,</p>

<p>This one is so easy it&#8217;ll be embarrassing cashing this week&#8217;s paycheck.</p>

<p>The problem, of course, is you, my friend. You&#8217;re so awed by your buddy&#8217;s majestic accomplishments and his limitless, highly-burnished talent, and so unsatisfied with living in his shadows, that you&#8217;ve twisted this all up in that &#8220;whip-smart&#8221; mind of yours to become some sort of pity-the-elderly melodrama. Psychiatrists call this <em>ego-generated trans-issue personality disorder</em>, which means absolutely nothing, but at $145 an hour is good for a couple of decent rounds at Eagle-Vail.</p>

<p>Many of us would consider ourselves blessed to have such a luminary in our presence. So what if he drools a bit and forgets to zip up occasionally. Just remember: If you accomplish half of what he&#8217;s accomplished in his life, you&#8217;ll have done twice as much as he&#8217;s forgotten he meant to remember. Or something like that.</p>

<p>So go now and cherish your friend. And remind him dinner is at seven in the Aspen Room.</p>

<p>Dave</p>