---
title: Phew! Report
date: 2010-03-10 14:20:11
tags: sundry, 
---
<div class="center"><br />Dave and Lindsey helped lend actual talent to the latest Steve Bailey joint</div>
<p>Today, iSean drew my attention to a story about Google now plotting bike paths on their maps! And indeed, Boulder is <a href="http://bit.ly/c3Pqjd">one of the 150 US cities</a> with plotted bike paths. Yay!!</p>
<p>Remind me sometime to tell you about all the tom-foolery surrounding Dave and I filming in the men's room. Man, that was just ripe for bad puns.</p>
<h6>Report</h6>
<p>It's time for soup. The snow is beautiful on Flag today, but I might soon appear in "Frozen Dead Guy" days if I don't get some warm sustenance!</p>