---
title: Worse Than the DMV!
date: 2010-09-23 20:41:02
tags: dear-dave, 
---
        <p>Dear Dave,</p>

<p>I&#8217;m a professional music scholar. If I told you my real name, you&#8217;d recognize it immediately. I&#8217;m <em>that</em> famous.</p>

<p>I&#8217;ve spent the past twenty-five years working on my magnum opus, a documentary which examines the role of the G7 chord in western civilization. The thirty-two seconds of material I&#8217;ve finished so far is brilliant, I must say.</p>

<p>My problem is this: the type of work I&#8217;m doing requires very expensive and specialized resources&#8212;scissors, tape, white glue, that sort of thing&#8212;and the guys down at the local trade school, where all of this and more is readily available, have capriciously decided to cut off my access to their facility. They&#8217;ve been quite cruel in dealing with me, in fact, and I even overheard one of them refer to me as a cross between <a href='http://www.danmaes.com/'>Blanche DuBois</a> and <a href='http://www.sarahpac.com/'>Grindl</a>!</p>

<p>My question is for the benefit of misunderstood geniuses everywhere&#8230; How do I get people to grasp the historical importance of my work and to start treating me like the creative prodigy I truly am?</p>

<p>Have Always Relied on the Kindness of Strangers</p>
<hr />
<p>Dear Have Always Relied on the Kindness of Strangers,</p>

<p>I&#8217;m actually familiar with that matched set of dimwits over at the trade school. I had one of them, the tall slow one, come over and take a look at my mimeograph machine once, and it was painful watching him work&#8230; sort of like watching a monkey have its way with a football, if you know what I mean.</p>

<p>The simple truth is that even if these dull tools whip a one-eighty and let you use their stuff, your project is still doomed. Their incompetence is so toxic and aggressive, it&#8217;ll eventually tunnel into your work and devour its very soul. It&#8217;s what they do best.</p>

<p>If I were you, I&#8217;d give Kinkos a try.</p>

<p>Now please go away. Your letter has given me an overpowering urge to self-medicate&#8230; I&#8217;d welcome a coma at this point.</p>

<p>Dave</p>