---
title: In Crisco Veritas
date: 2010-11-12 00:00:00
tags: dear-dave, 
---
<p>Dear Dave,</p>

<p>My partner and I are having a rather nasty argument over something that really shouldn&#8217;t be all that contentious. We&#8217;ve both agreed that we&#8217;ll let you mediate for us and that we&#8217;ll abide by whatever you say.</p>

<p>Briefly, we&#8217;re having a large gathering for Thanksgiving, and we&#8217;ll be serving Atlantic salmon. My partner insists that all cold-water pelagic fishes should be accompanied with a very jazzy Nouveau Beaujolais. That&#8217;s just so gross, don&#8217;t you think?</p>

<p>I&#8217;m advocating something safe, like a mid-latitude California Riesling, preferably bottled in late 2007.</p>

<p>Please tell me I&#8217;m right.</p>

<p>Signed,</p>

<p>Dying to Say I-Told-You-So in NoBo</p>
<hr />
<p>Dear Dying to Say I-Told-You-So in NoBo,</p>

<p>This all depends on how you prepare the salmon. Will you be microwaving it or frying it in Crisco?</p>

<p>If you go with the microwave (set on &#8220;defrost&#8221; for about five hours), I&#8217;d stick with the Beaujolais (pronounced &#8220;Bo-jealous,&#8221; in case you&#8217;re curious).</p>

<p>The Crisco method cries out for something athletic, but not sweaty, like Blue Nun. California Riesling would work okay, I suppose, but be sure to have plenty of Pringles on hand&#8230; especially if Steve Bailey is on your guest list.</p>

<p>Hope I&#8217;ve helped,</p>

<p>Dave</p>