---
title: Slip-Sliding Away
date: 2010-08-25 07:28:40
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=Ko1o31PKJlM&fs=1&hl=en_US&color1=0x234900&color2=0x4e9e00]<br />Dave and I tricked Greg into trying our waterslide loop-dee-loop yesterday</div>
<p>I had forgotten just how steep the ramps of the "Pipecut" trail on Anemone were until I was reacquainted with them yesterday. Great idea, Dave. The Ibuprofen Manufacturers of America thank you.</p>
<p>I need to start organizing our end-of-the-year cleanup. I'm thinking the third or fourth week of September. Hope that will work for everyone.</p>