---
title: Air Canada Rules
date: 2010-09-13 20:06:04
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=GTlm6dU2xHk&fs=1&hl=en_US&color1=0x234900&color2=0x4e9e00]<br />Air Canada allows you to choose the movies you watch <strong>and</strong> has an "Avant Garde" category!</div>
<p>If you have a chance to watch <a href="http://banksyfilm.com/">Exit through the Gift Shop</a> featuring Banksy and Shepard Fairey, don't let it pass you by. Asks interesting questions about authenticity and art but ultimately leaves you wondering if Banksy's pulling a fast one on you.</p>
<p>Speaking of hucksters, how do you think Dave managed to spill Mountain Dew in the Frenzy's WordPress template engine? What a mess! Does anyone know if nail polish remover is safe to use on your <code>functions.php</code> file? Anyone curious as to why I have nail polish remover close-at-hand?</p>
<p>On an entirely unrelated note, I was pleasantly surprised that the <i>Chronicle of Higher Education</i> ran <a href="http://chronicle.com/blogPost/5-Analog-Tools-I-Cant-Live/26858/?sid=wc&amp;utm_source=wc&amp;utm_medium=en">an article about bikes</a> in today's "Professor Hacker" blog. Okay, well, it's more about low-tech tools, but apparently Professor Hacker is a cyclist. Groovy.</p>