---
title: Bragging Rights
date: 2010-10-10 08:31:30
tags: dear-dave, 
---
<p>Dear Dave,</p>

<p>My problem is the person who &#8220;works&#8221; at the desk next to mine. Nice enough guy, I suppose, but I think he&#8217;s what they used to call a blowhard.</p>

<p>All day long it&#8217;s <em>I-just-rode-my-bike-up-this</em> or <em>I&#8217;m-going-to-design-that</em> or <em>I&#8217;m-going-to-invent-this-and-sell-it-and-buy-that-and-put-it-over-there-next-to-those</em>.</p>

<p>Always with the stories about how fast or how smart or how talented he is, or how he&#8217;s got this big plan or that big plan. And always with the ego-flexing and always the pure, undiluted <em>me, me, me</em>.</p>

<p>I wish he&#8217;d just shut up and leave me alone.</p>

<p>Any suggestions would be most appreciated.</p>

<ul>
<li>Ready to Go Work in a Chilean Copper Mine</li>
</ul>
<hr />
<p>Dear Ready to Go Work in a Chilean Copper Mine,</p>

<p>And this is exactly why we love the Internet, isn&#8217;t it? A place where we can gather in complete anonymity and share our outermost feelings with virtually no fear of reprisal.</p>

<p>But, I have to tell you, Tim, that I think you should cut this guy some slack. I know, I know&#8230; it gets tiresome hearing that same old broken record, day-in and day-out, but just <em>imagine</em> riding up Flagstaff in under forty minutes. Why, you&#8217;d probably want to brag it up a little, too, wouldn&#8217;t you?</p>

<p>And, not that I know, but I&#8217;ll bet this guy really <em>did</em> jam with Johnny Winter once. Who do you think showed the White Shadow how to do a full-chord hammer-on? And even if it wasn&#8217;t actually <em>the</em> Johnny Winter - maybe just some really pale guy who worked in housewares at Target, for instance - why, it&#8217;s still quite a feat, isn&#8217;t it. Well, isn&#8217;t it?</p>

<p>And, you know, the Nobel Prize doesn&#8217;t <em>always</em> go to scientists and humanitarians. Think about <em>that</em> for a minute. Thank you.</p>

<p>Sometimes just imagining great accomplishments is a great accomplishment in itself. Indeed, without folks like your office-mate, life would be a lot like an Iowa zip-line; just a lot of hanging around waiting for something to happen and not much more. Shame, shame on you for not treasuring your incalculable fortune!</p>

<p>Now I have to run. They need me in surgery. Something about showing them where the <em>upper-indular venal cortex</em> is&#8230; again.</p>

<p>Jeez, do I have to draw them a picture?</p>

<p>Dave</p>
