---
title: Red Train Playing Tomorrow
date: 2010-10-29 11:09:32
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/10/newtrain.jpg" /><br />Come see Red Train play @ Murphy's tomorrow (poster by DU)</div>
<p>Dave wanted us to know that his shadow band's playing tomorrow at 9pm at Murphy's Pub in NoBo. If it's good enough for Dave...</p>
<p>Sheesh, another <a href="http://www.esrl.noaa.gov/gsd/webcam/flatiron.jpg">fire in Boulder</a>! Looks like it's burning right by Cougar Cave. Hope Lenny, the guy who sits motionless atop Anemome, can snap out of his meditative state in time to get the heck outta there!</p>