---
title: Wind Down Low, Snow Up High
date: 2010-10-26 10:18:51
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/10/eldora.jpg" /><br />Just up the road at Eldora, it's snowing hard</div>
<p>Those gauzy clouds outside that never seem to move mean it's windy in the foothills, snowing in the high country.</p>
<p>Indeed, the instruments at NREL's <a href="http://www.nrel.gov/midc/nwtc_m2/display/">National Wind Technology Center</a> recorded a peak gust of 76mph around 4am this morning. Adriana couldn't sleep as a result. Looks like the <a href="http://icons.wunderground.com/webcamramdisk/n/i/nickersonm/1/current.jpg">webcam atop Duane Physics</a> has been blown sideways!</p>