---
title: Don't Succumb to Cabin Fever
date: 2010-10-12 10:25:30
tags: sundry, 
---
<div class="center"><a href="http://failblog.org/2010/10/11/epic-fail-photos-bike-fail/"><img src='http://failblog.files.wordpress.com/2010/10/7f35e106-447e-4c68-b2c9-53823dc40f90.jpg' title="Transportation FAIL" alt="epic fail photos -Transportation FAIL" /></a><br />You'd be surprised how many stationary bike thefts there are on campus</div>
<p>I have <i>no</i> desire to get soaked today. I'm still drying out from growing up in New Hampshire. My plastic surgeon is trying to figure out a way to reverse the perma-pruning. I usually see him on Tuesdays for "tuning", so I'll know more soon.</p>