---
title: Faceplant
date: 2010-09-27 05:39:16
tags: dear-dave, 
---
        <p>Dear Dave,</p>

<p>I just heard that they&#8217;ve released a movie about the guy who started Facebook. It sounds fascinating! Have you seen it? Do you know how it ends?</p>

<p>On Tenterhooks in Broomfield</p>
<hr />
<p>Dear On Tenterhooks in Broomfield,</p>

<p>When I first heard they were making a film about the origins of Facebook, I was incontinent with anticipation. My only question was, <em>what took them so long</em>?</p>

<p>Originally titled <em>The Passion of the Zuckerberg,</em> the film sets new standards for &#8220;static introspection&#8221; and &#8220;flatline engagement,&#8221; director David Fincher&#8217;s terms for knocking out 116 minutes of material that is sure to be forgotten in less than one-third that time. This, it turns out, is no easy feat, especially when dealing with a subject as explosive and controversial as social networking.</p>

<p>In spite of the movie&#8217;s unflinchingly graphic depictions of people clicking on people, kudos must go to Fincher and his entire crew for leaving audiences profoundly unaffected. This is the sort of sustainable, low-impact film-making that the world has been waiting for, and it&#8217;s nice to know future generations will be able to look back through the lens of this film and say, &#8220;Were they <em>serious?!</em>&#8221;</p>

<p>Oh, and don&#8217;t let this response go to your head. I <em>don&#8217;t</em> want to be your friend.</p>

<p>Dave</p>
