---
title: A Storm!
date: 2010-12-30 06:40:40
tags: sundry, 
---
<p>Let's not be a <a href="http://sports.espn.go.com/nfl/news/story?id=5960674">nation of wusses</a> today</p>
<p>Speaking of wusses, Dave is hosting an office-warming party at his new digs in ATLAS. Please RSVP at 2-2672.</p>
<p>Though we certainly could use more office parties, Mark also proposes more <a href="http://www.hulu.com/watch/180339/the-office-the-office-cold-open">office music videos</a>, À la <i>The Office</i>. Can I be Creed?</p>
<p>Not sure we'll be able to slip out on wheels before it really starts to snow, so we may be hiking today. Stay tuned.</p>