---
title: Don't PowerPoint Me, Bro!
date: 2010-08-27 11:02:24
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/08/dave-tiannmen-square.jpg" /><br />Dave's last great act of defiance. "No more PowerPoint presentations!"</div>
<p>Although Dave has told folks he's "gone fishing" with Zack this weekend, there's more going on behind-the-scenes.</p>
<p>To wit, his invectives against PowerPoint are legendary for both their vigor and length. But it seems as though he and an Army colonel went <a href="http://news.yahoo.com/s/yblog_upshot/20100827/tc_yblog_upshot/army-colonel-in-afghanistan-fired-for-criticizing-powerpoint">one filibuster too far</a> this time.</p>
<p>Have a great weekend!</p>