---
title: Hug E Underwood (and Belated Ride Report)
date: 2010-03-05 23:30:34
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=cPoDIhTRo1k&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Imagine my surprise when I looked in my plastic mailbox this morning! Thanks, Dave.</div>
<p>DU's so thoughtful. Out of the blue, he sent me a Hug-E-Gram! He even included a personal message. He read aloud Milton's <em>Paradise Lost</em> (unabridged).</p>
<p>What a guy! I didn't think it was possible, but this gift tops last year's <a href="http://www.youtube.com/watch?v=FwU8n4AOQl0">UroClub</a>, which I use everyday. Werner's so used to seeing me with it, he didn't flinch when I stuffed it in his golf bag on the way to our <del>tee time</del> meeting yesterday.</p>
<p><em>Mark: I forgot to check the reservoir level first. Not to worry. I borrowed carpet cleaner from Dave just now. He's always got some handy, like an emergency spill specialist or something.</em></p>
<h6>Flagstaff Report</h6>
<p>It's like Groundhog Day around here. And by that I don't mean everything's the same each day. Rather, it's like little furry rodents are popping out of the ground and joining our rides.</p>
<p>Now, I probably should refrain from referring to the Frenz as furry rodents (or even hairless ones), lest I further alienate our fickle ranks. But I'm failing to come up with a better metaphor.</p>
<p>So be it.</p>
<p>Anyhow, K-No emerged from his den (only slightly malnourished) to join us on today's jaunt up Flag. The weather was glorious, but Kev assured us it had nothing to do with his presence. I think it's part of his community service.</p>
<p>Dave allowed that today marked his 794th ride up our beloved mountain. His 600th seems like it was just yesterday. What can I say? Our little Dave's growing up right before our eyes!</p>