---
title: Poor Reception
date: 2010-07-28 09:47:42
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=Zi-co3f8cZE&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Some street performers know how to deal with distracted audience members</div>
<p>I've decided to ride Flag at noon. I'm leaving from HUMN, so meet me there or join me on the slopes if you like.</p>
<p>MarkW has some <a href="http://video.yahoo.com/watch/7960155/21082042">exercise suggestions</a> for DU. Interesting to watch the guy's shadow as he walks.</p>