---
title: Dave and His Clichés
date: 2010-11-22 09:48:24
tags: sundry, 
---
<figure>[youtube http://www.youtube.com/watch?v=W-jB9RDN-mE?hd=1&w=640&h=390]<figcaption>Instead of tv, the Werner family watches YouTube</figcaption></figure>
<p>I figure those lackey's down at Frenzy HQ probably need to start dusting off their resumes, so the here's a helpful resource for <a href="http://finance.yahoo.com/news/50-Buzzwords-You-Shouldnt-Use-usnews-369644370.html?x=0">what not to say on résumés</a>.</p>
<p>Hold onto your fedoras today. Winds are expected to gust as high as 55mph. Rocky Flats has already <a href="http://www.nrel.gov/midc/nwtc_m2/display/">recorded a 52mph gust</a>.</p>