---
title: Japanese Game Shows Are Fun
date: 2010-10-27 17:55:26
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=YFzNKBZehSU&w=500&h=306]<br />I, for one, am very pleased to see Japanese game shows come to America</div>
<p>The winds seem to be dying down, but I think there'll be more where those came from. I'm predicting a windy winter with a big snowstorm or two.</p>