---
title: Homesick
date: 2010-10-31 00:29:55
tags: sundry, 
---
<figure>[youtube http://www.youtube.com/watch?v=u3DM-RbCjs8&w=425&h=349]<figcaption>Anyone else starting to get that winter itch?</figcaption></figure>
<p>The Grand Hotels in New Hampshire are a real treat, and it's around this time of year that I start pining for the White Mountains.</p>