---
title: Frenzy Invited to PAC10 Rob's B-Day
date: 2010-06-10 18:09:33
tags: sundry, 
---
<div class="center"><a href="http://www.buffzone.com/ci_15268160"><img src="http://lh4.ggpht.com/_zoD15FRZxcs/SvEWMr40jXI/AAAAAAAAB3c/YpioIZjTSxI/s800/trailer.jpg" /></a><br />Why would the PAC-10 willingly invite us?</div>
<p>In about <a href="http://www.buffzone.com/ci_15268160">an hour and a half</a>, all hell will break loose. CU will join the PAC-10, followed by the real contenders in the Big-12, effectively dissolving the latter.</p>
<p>The real mystery, however, is why the Flagstaff Frenzy was invited in a separate deal. I mean, we don't have no stinkin' swim team?! Anyone have a spare speedo?</p>
<h6>Happy Birthday, Rob!</h6>
<p>About half-way through today's ride, I remembered what my calendar had tried to tell me all day: it's Rob's Birthday! Hope you had a great one, Rob!</p>
<p>Greg and I spun up to the Amphitheater today. It was nice to see Stauffer outside the office for the first time in a while. Too bad Dave was otherwise engaged.</p>