---
title: Change from the Norm Report
date: 2010-02-25 14:05:14
tags: sundry, 
---
<div class="center">[youtube http://www.youtube.com/watch?v=ReTvVryBrQM&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />Sheesh! I thought my garage was small.</div>
<p>Dave and I were reminded that winds can be stiff and cold on today's jaunt. Fortunately, for the extra effort they demand, they reward with clean, refreshing air!</p>
<p>We spun over to Boulder Reservoir in the teeth of the wind, watching in awe as banks of snow swallowed the Flatirons.</p>
<p>On the ride back, we enjoyed the tailwind and chewed the fat while gracefully swerving around man-eating potholes&mdash;it's been a rough year for our beloved roads.</p>