---
title: Problem with the Boss
date: 2010-09-01 05:47:13
tags: dear-dave, 
---
        <p>Dear Dave,</p>

<p>My boss recently told me he&#8217;s going to join my lunchtime cycling rides. Should I let him win?</p>

<p>Sincerely,</p>

<p>Problem with the Boss</p>
<hr />
<p>Problem with the Boss,</p>

<p>Call in sick. I&#8217;m really sorry you can&#8217;t figure this out on your own. I feel sorry for you.</p>

<p>Insincerely,</p>

<p>Dave</p>
