---
title: Advertising Tip
date: 2010-08-20 13:20:26
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/08/bikeshop-germany.jpg" /><br />A <a href="http://www.odditycentral.com/pics/now-this-is-real-advertising.html">bike shop in Germany</a> came up with a clever "sign" for their store (courtesy of iSean)</div>
<p>The faculty floodgates have been released, and many of us failed to head for high ground. Dave and I thought our oil drum raft would suffice. Shows what we know.</p>
<p>Good spin around Cherryvale today. Yesterday it was too windy, so I just rode Flag. I tried to keep pace with some guy on a hybrid who was mashing big gears, and that was all I could do (on my much lighter road bike). I'm a Mamil, what can I say?</p>