---
title: Hail to the Chief
date: 2010-06-09 12:40:03
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/06/hail.jpg" /><br />Baseball-sized hail from a storm in Nebraska (courtesy of Scott Landolt, <a href="http://www.vortex2.org/home/">VORTEX2 project</a>)</div>
<p>My pal Scott Landolt is chasing storms all over tarnation, and has had some close calls from the sounds of it:</p>
<blockquote>
<p>We made our way back to Scottsbluff as new storms again started going up west of our storm and the core again caught up to us. The rain was coming down so hard, it was next to impossible to drive and winds had to have been sustained at least at 50mph. We took shelter behind a building to avoid having the trailer flipped that was attached to the third vehicle and when we pulled up radar, we discovered we were dead-center in the hook. Not good.</p>
<p>The DOW radars began reporting they were detecting a rain-wrapped tornado in our vicinity. Luckily, it was to our east and once the rain and wind died down, we were able to head back and pick up our equipment. We stopped in the hail swatch to photograph some of the stones and even after being on the ground for a while, were still quite large.</p>
</blockquote>
<p>Watch for Scott getting pelted by hail on the Discovery Channel.</p>
<p>Dave and I managed to flee campus a touch early in order to get back for early afternoon meetings. Thanks for the flexibility, pal!</p>
<p>As with the past few days, it's hot out there. Lots of heat radiating off the pavement. Looks like there's a big cool down in store for us this weekend, however.</p>
<p>Indeed, on Saturday, temps are forecasted to be 57&deg;F!</p>