---
title: Pressed for Rhyme
date: 2010-12-15 08:02:37
tags: sundry, 
---
<figure>
  <%= image_tag("naropa-letterpress.jpg", :class => 'img-fluid') %>
  <figcaption>There's a print shop <a href="http://chronicle.com/blogs/postcards/a-letterpress-shop-survives-printing-poems-in-the-era-of-youtube/654">right beneath our noses</a></figcaption>
</figure>
<p>I remember when my aunt was a typesetter out of her house. She used to have the wooden racks of type sitting out when I would visit.</p>
<p>And I remember at the University of Minnesota taking a type-setting class. In that class we used a markup language to tell the printer how to set the type.</p>
<p>Perhaps the Frenz should consider a hostile takeover of Naropa so that we can do a print-based version of the Frenzy each day.</p>