---
title: ...And All I Got Was This Stupid Teeshirt?
date: 2010-05-21 12:38:42
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/05/steve-dave-tees.jpg" /><br />Just in time for today's 3rd Annual Cleanup, the new Frenzy teeshirts!</div>
<p>We're very excited about the new Frenzy teeshirts. We hope you are too. Supplies are limited, so order yours <em>now</em>! [ $10/ea | MD/LG/XL ]</p>
<p>The tees come in an athletic gray, but the logos come in  <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2010/05/tee-colors-e1274460127156.jpg">two colors</a>. I'm really impressed with the <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2010/05/tee-logo-closeup-e1274460113196.jpg">logo detail</a>!</p>
<h6>Report</h6>
<div class="center"><br />Pix from the spin around Cherryvale</div>
<p>Today, iSean, Dave, Adriana, and I spun around the south end of Boulder, taking in Baseline Reservoir and Cherryvale Road. Dave had to peel off early due to engagements, so the rest of us just noodled gently around Cherryvale.</p>
<p>Dave's outlaw band, <em>The Immortal Blues Ambassadors</em>, will be playing live tonight at the ClifBar BBQ, honoring Boulder County's Adopt-A-Road volunteers (us!).</p>
<div class="center">[youtube http://www.youtube.com/watch?v=mQMqYcecAFM&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00]<br />The Immortal Blues Ambassadors on local tv</div>
<p>Have a great weekend, everyone!</p>