---
title: Sunshine Canyon Rapport
date: 2010-02-26 13:15:41
tags: sundry, 
---
<div class="center"><br />Pix from the Frenzy's Five Year Anniversary Extravaganza! (courtesy of iSean)</div>
<p>Sunshine was a little less welcoming than I had anticipated, with slush-ice stretches along its umbral underbelly. This did little to spoil our fun.</p>
<p>Indeed, we chit-chatted about this-n-that, including our weekend plans. Dave's headed up to Walden for some x-c skiing, while we're going all the way to Tahoe for our <a href="http://www.royalgorge.com/">nordic fix</a>. The weather in the High Sierra seems to be <a href="http://bit.ly/4E0Rx2">favorable</a>.</p>
<p>Enjoy the full moon and last weekend before March!</p>