---
title: Enter Rob Leary
date: 2010-12-08 15:50:11
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Y-87lQQc21E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>On our way home today (from London), Dave dropped some crazy bike tricks</figcaption></figure>

<p>Great to see Mr. Leary on today's ride. Glad he could get out for a bit of climbing. How far past Old Stage did you go, Rob? He sounds very happy, and the Toscano-Leary clan is quite content.</p>

<p>Mark wanted to pass along some workplace <a href="http://finance.yahoo.com/career-work/article/111487/how-not-to-behave-at-the-office-party?mod=career-worklife_balance">holiday party advice</a>. Perhaps he knows us too well?</p>

<p>Sorry for all the faux-Betasso ride announcements. I promise, we'll sneak it in before it's too sandy or icy.</p>