---
title: Preëmptive Birthday Strike! (Oversight Report)
date: 2010-01-15 12:50:58
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2010/01/gammon.jpg"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/01/gammon.jpg" width="500" /></a><br />The armies of Middle Earth are no match for Gammon's empire!</div>
<p>Tomorrow is Gammon's birthday, so wish him well if you see him today!</p>
<p><strong>Note to Self</strong>: When promising to ride at lunch after having had a flat, always be sure that you have spare tubes to fix said flat.</p>
<p>Sorry, guys and gals. I had to bail because I have no spare tubes in my office with which to fix the Cannondale.</p>
<h6>Free This Weekend?</h6>
<p>Dave's band will be playing this coming Saturday night at <em>The Zone</em> in Longmont.</p>
<p>Details for this show and more can be found on <a href="http://www.thebluesambassadors.com/">the band's rockin' website</a>.</p>