---
title: Achtung!
date: 2010-12-22 09:01:34
tags: sundry, 
---

<p>Just because it's now winter doesn't mean we have to stop doing dumb things. Yesterday, Greg reminded me of this oft' overlooked Frenzy Commandment.</p>
<p>As a result, HQ decided to send us on a scouting mission on January 3rd. Behold! The <a href="http://bit.ly/fIk1yd">Fragnolia loop</a>. We'll see what the weather has to say about it.</p>
<p>Speaking of harebrained adventures, Noah suggests we cast our eyes over to Vimeo to watch a helmet-less, brakeless, gearless, and under-dressed Frenchmen <a href="http://vimeo.com/17758957">climb the Simplon Pass</a> in the Alps.</p>