---
title: WANTED- Executive Assistant
date: 2010-12-13 13:00:00
tags: classifieds,
---
<p>Seeking someone who can xmas shop. Impeccable taste a must. Knowledge of Dollar Store and Savers a plus. Contact HQ.</p>