---
title: Bon Hiver!
date: 2010-11-09 00:01:04
tags: sundry, 
---
<figure>[youtube http://www.youtube.com/watch?v=5vQDZXlXaAI?hd=1&w=1280&h=750]<figcaption>We might get lucky and see some snow leopards today</figcaption></figure>
<p>After a really grand day yesterday, the weather will be more seasonal today with a good chance for flurries. Will we get "measurable" snow, though?</p>
<p>I'm guessing yesterday was the last day wearing shorts, but this fall has been wacky, so who knows. I think Dave could've snuck in a dip in Boulder Creek. I'm just sayin.</p>
<p>Noah just returned from a <a href="http://aneventapart.com/2010/sandiego/">fun event</a> in San Diego. And he ever brought back gifts! Behold, <a href="http://damnyouautocorrect.com/">Damn You Auto Correct</a>!</p>
<p>Anyone else anxious for the opening of <i>Harry Potter 7.1</i>? I'm dusting off my cape and wand tonight.</p>