---
title: More Shameless Bragging about Frenz
date: 2010-02-22 11:27:56
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/02/Switzerland-flag.jpg" /><br />My bags are already packed to "support" my wife. All part of my master plan....</div>
<p>Dave and his traveling band are not the only Frenz making waves of late. Adriana's been racking up honors left and right.</p>
<p>Shortly before successfully defending her Masters thesis, she found out she had been accepted to the prestigious <a href="http://www.thinkswiss.org/us-swiss-exchange/summer-school">Think Swiss Climate Summer School</a> taking place in Grindelwald, Switzerland. And yes, I'm planning on going for "support."</p>
<p>More recently, Adriana and the Gunthenator won the Year of Science's <a href="http://www.yearofscience2009.org/about/adult-winners.html">mini-zine</a> award! Adriana's considering going after some NASA funding to take the magazine one step further.</p>
<p>Bravo, Adriana! Who shall I brag about next? I've got nothing.</p>
<p>As a total aside, if you have another second to waste, have a look at the <a href="http://www.bouldercolorado.gov/modules/mod_floodcam/viewcamera_large.htm">Boulder Creek Webcam</a>, which is mounted on the public library building if I'm not mistaken. Talk about icicles!</p>