---
title: Dear Dave
date: 2010-01-27 08:51:53
tags: sundry, 
---
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2010/01/isean-half-fast.png"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/01/isean2.jpg" width="500" /></a><br />Sean was in the <em>Colorado Daily</em> yesterday. No one knows what he was plotting.</div>
<div class="center"><a href="http://www.flagstafffrenzy.org/wp-content/uploads/2010/01/isean-half-fast.png"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/01/myturn.jpg" width="500" /></a><br />I take the above caption back. Dave knows what he was plotting.</div>
<p>Earlier this week, my former Mount Washington Observatory colleagues emailed with some sad news: <a href="http://news.yahoo.com/s/ap/us_wind_record_toppled;_ylt=Ak1T.t.rVYymwhHFH7XSJk9saMYA">the 231mph record has fallen</a>. It was bound to happen.</p>
<p>Once again, I can't ride today. It's been about a week. Sorry. Dave's raring to go, though. Coordinate with him.</p>
<h6>Shameless Self-Promotion, Dave-Style</h6>
<blockquote>
<p>Frenz,</p>
<p>Just when 2010 was starting to look a little rosier... word now comes that the Blues Ambassadors will be playing the Jamestown Mercantile this Thursday, January 28th at 7 PM.</p>
<p>We'd hoped this wouldn't happen, but sometimes tragedies of this nature just can't be avoided.</p>
<p>You can get details of the gig and warnings of future BA's activities at their <a href="http://www.thebluesambassadors.com/">fabulous website</a>.</p>
<p>Sending prayers (and hoping to see ya' tomorrow night!),</p>
<p>Dave</p>
</blockquote>
<p>Do they have one of those protective, chicken-wire cages there, Dave?</p>