---
title: Check Back Tomorrow
date: 2010-05-24 10:23:18
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2010/05/out-to-lunch.jpg" /><br />We're working our usual bankers hours today</div>
<p>Dave may go out this afternoon, so give him a ring if you're interested.</p>