---
title: Misty Vale Moving Violation Finally!
date: 2010-11-26 13:57:08
tags: sundry, 
---
<figure>[youtube http://www.youtube.com/watch?v=QuA3YX3ISFA&w=640&h=390]<figcaption>Some vignettes from our outing today. Greg <a href="http://www.youtube.com/watch?v=3gcEQcadL80">captured some of the fire damage</a> too.</figcaption></figure>
<p>Today's ride has been a gleam in our eye for many moons, so it was good to <a href="http://picasaweb.google.com/flagstafffrenzy/MistyValeMovingViolation">finally bag it</a>. Compared to some of our other GoogleMaps-inspired adventures, this one was quite rideable.</p>
<p>I'd like to revisit <a href="http://www.flagstafffrenzy.org/routes#mistyvale">Misty Vale Moving Violation</a> sometime in the spring. It's a little much for a road bike, unless you don't mind hiking some. But, I'll bet you could cyclocross it.</p>
<p>For the rest of today, I won't feel bad about sitting on my butt watching football. Go Buffs!</p>