---
title: The New Guy
date: 2011-02-13 16:06:19
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/DoMpR78_xt0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>Wonder if I'll get beat up and have my lunch money stolen.</figcaption>
</figure>
<p>Think we missed Greg last Friday, but Dave and I managed to enjoy the warm conditions on Initiation just the same.</p>
<p>There's more banana-boat weather on the way too. If you can get out this week, you should! Zeiler said he'll be out on Wednesday showing off his new Felt bike.</p>
<p>Hope there'll be snow for this Saturday's <a href="http://www.eldora.com/nordic.event.php?action=monthly&amp;year=2011&amp;month=2">moonlight skiing/snowshoeing</a> at Eldora.</p>