---
title: LOST- Advice Columnist
date: 2011-04-05 15:02:00
tags: classifieds 
---
<p>Dear Dave fans bereft of moral compass. Dissatisfied with &#8220;hiking the Appalachian Trail&#8221; yarn. Have concerns about lavish expenditures.</p>