---
title: FOR SALE- Knighthood
date: 2011-02-20 08:00:00
tags: classifieds,
---
<p>Frenzy ultra runner looking to shed weight. Can&#8217;t bear the burden of &#8220;Sir&#8221; title. Call Sir Brian Kent.</p>