---
title: Sugarwood
date: 2011-04-11 00:01:57
tags: sundry, 
---
<p style="text-align:center;"><img src="http://graphics8.nytimes.com/images/2007/04/28/business/28maple.600.jpg" alt="" />
<em>Back home, it's sugaring season. Yum!</em></p>
<p style="text-align:left;">It's high time we do a morning ride, followed by a big stack of pancakes and maple syrup! Who's in?</p>
We may have to open up some of the fair weather rides soon: Back Alley, Northwest Passage, Poorman, and of course Flagnolia. And we've never made it to Gold Hill!

Anyone else hear the thunder snow Saturday night? Don't see that everyday.