---
title: FOR SALE- Spare Tire
date: 2011-01-06 08:01:00
tags: classifieds,
---
<p>Former cyclist recently discovered he&#8217;s fat. Months of liposuction are not helping. Must now pay for said suction. $10 OBO.</p>