---
title: Don't Text at the Mall
date: 2011-01-20 00:01:30
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/bGpVpsaItpU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>My HS pal Matt, who works at a large tech company in Seattle, claims the Windows7 ads were based on fact. Now I believe him.</figcaption>
</figure>
<p>Dave suggests we all live in the present. His words were lost on the poor girl in the video above. She should subscribe to our feed.</p>
<p>What did y'all think of the crazy driving conditions yesterday after work? The SKIP was about an hour late, and many busses couldn't make it up the short hill on Broadway near CU.</p>
<p>Adriana and I made the best of it by getting dinner at the Taj rather than waiting in the cold. BTW, Adriana passed her PhD coursework comps!!! I'm so proud.</p>
<p>Finally, Joe Lindsey offers his usual trenchant observations (<cite>Bicycling Magazine</cite> Boulder Report) on the implications of the <a href="https://www.si.com/more-sports/2011/01/18/lance-armstrong">Sports Illustrated allegations</a> against LA. Phew!</p>