---
title: WANTED- XL Razor Scooter
date: 2011-03-13 18:37:00
tags: classifieds,
---
<p>Twizzler-armed code monkey needs beefed-up ride. Hallways at work like the autobahn. Motorized &#8220;scooters&#8221; preferred. Tweet @chowdahead.</p>