---
title: Card Games
date: 2011-01-10 12:01:23
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/A1AMUmkj-ck" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>I heard the latest Bond film is on hold due to budget issues</figcaption>
</figure>
<p>I remember really digging the opening credits of <cite>Casino Royale</cite>, and given all the card-playing of late, I thought it appropriate.</p>
<p>Indeed, this past weekend, Adriana and I had a blast playing Yahoo Hearts with our pal Katie, who currently resides in New Zealand.</p>
<p>Though it's harder to discover someone's "tell" in cyberspace, it sure is fun to engage in brash trash talk, even if it's with the robot you invite as your fourth.</p>