---
title: Getting Real in the Whole Foods Parking Lot
date: 2011-06-18 19:28:04
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/2UFc1pr2yUU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>I've seen all of this at the Whole Foods on Pearl (courtesy of Kevin)</figcaption>
</figure>
<p>Got out for our first hike of the season today: Lost Creek Wilderness. I'm sooo out of shape. Sigh.</p>
<p>I think it's about time for a Fox-Hound after work. At the very least, we should do a cruiser ride followed by beer. Who's in?</p>
<p>I think we should also do a Tour de France viewing party. We should also place two bets: top three places and doped riders (must be caught by the end of 2011).</p>
<p>That's it for the weekend edition.</p>