---
title: A Touch on the Cool Side
date: 2011-02-02 10:56:27
tags: sundry, 
---
<figure><a href="http://www.mountwashington.org/photos/"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2011/02/mwo.jpg"></a><figcaption>Mount Washington is caked in rime these days; nice undercast in the background</figcaption></figure>
<p>The <a href="http://www.mountwashington.org/">Mount Washington Observatory</a> has posted some really nice photos of the <a href="http://www.mountwashington.org/photos/journal/2008/12/2237.jpg">mamma fox</a> and <a href="http://www.mountwashington.org/photos/journal/2008/12/2224.jpg">baby fox</a> family that somehow survives up there.</p>
<p>These past two days of bitter cold have reminded me of my time up on "The Rockpile." When your sinuses actually freeze, it's pretty cold out.</p>
<p>The rumors are true too. Dave did ride yesterday. He's using today as a "recovery day" but I don't think he's fatigued.</p>