---
title: I'm Ready
date: 2011-06-29 07:35:59
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/3lSoRWa7aHo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>Got TdF streaming video pass last weekend. This vid makes me imagine a FF trip.</figcaption>
</figure>
<p>This week has been the first truly hot week of the 2011 summer. Yesterday after finishing Flag, it took me 30 minutes just to stop sweating. My new colleagues are not used to it...yet.</p>
<p>In any event, I'm thinking morning rides will be smarter from now on. Would anyone like to strike out in the wee hours in July?</p>
<p>Meantime, who's up for a game of Fox-Hound on Friday before our FAC? I was thinking I could be the fox and leave right from Dojo4....</p>