---
title: Pat Tillman Story
date: 2011-04-06 00:20:49
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/kqLK5P8YrYA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>Watched this last night on iTunes</figcaption>
</figure>
<p>Winds these past two months have been horrendous, in case you haven't noticed. I've noticed them mostly on my commutes.</p>
<p>Good week thus far for me: rode Flag on Monday; Northwest Passage yesterday. Hope to keep it up today with Sunshine?</p>
<p>Time to schedule another road cleanup. Who's game?</p>
<p>By the way, Greg's birthday is Friday!!</p>