---
title: Contemplative Mood
date: 2011-01-14 09:39:14
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/DjtA62gwYkM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>Some of you will recognize <a href="http://www.amazon.com/lovers-carvings/dp/B002CMUIPG">this tune</a> from the new Kindle commercial
  </figcaption>
</figure>
<p>Well, it's the Friday of the first week of classes, which means madness in Arts and Sciences. I'm very much looking forward to the small sliver of time I can spend with Frenz this afternoon.</p>
<p>But, the long weekend is nigh, my Frenz, so fear not!! Indeed, our "near-exchange" student is visiting from Iowa (via Mexico), so we're very excited.</p>
<p>On Saturday, we're going to take her <a href="http://www.eldora.com/nordic.event.php">full moon skiing</a> up at Eldora&mdash;and if skiing's not her cup-o-tea, we'll switch to snowshoes.</p>
<p>Go Pats!</p>