---
title: And This Just in From Captain Burton
date: 2011-06-02 00:01:07
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/tIlD88xq4ek" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>More training videos from the USAF</figcaption>
</figure>
<p>Today is Mark Werner's birthday. It's also his second day in his new role, if I'm not mistaken. Please wish him well if you see him!</p>
<p>How is it possible that since I left CU they've let Dave start teaching classes? He must have dirt on someone.</p>
<p>In next month's post, more about the history of tapestry. And, as an added bonus, some of Mark Werner's famous "off-colour" jokes.</p>