---
title: A Challenge to the Blues Ambassadors
date: 2011-04-07 07:39:37
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/C_CDLBTJD4M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>You may have already seen this on the internets, but still way cool! (courtesy of Justin)</figcaption>
</figure>
<p>So, I ended up going to lunch with Gammon and A-Mac yesterday, avoiding the light drizzle and soggy roads. I'm getting soft.</p>
<p>Today is another day, tho. Since we'll soon be doing a road cleanup, let's take a look at the trash alongside Sunshine Canyon Drive. Hopefully no BMWs this time.</p>
<p>Tomorrow is Greg's birthday!!!</p>