---
title: Win, Place, or Show
date: 2011-03-04 11:00:33
tags: sundry, 
---
<div class="center"><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2011/03/handicapping-dog-races.jpg" alt="inevitable" width="266" /><br />Hey! Isn't that Bailey in third?</div>

Brian Hutchison wants us to know about the <a href="http://www.uscyclingmonument.com/news/party-at-boulder-indoor-cycling-march-4/">fundraiser</a> tonight at the Boulder Velodrome. 
Since wagering is allowed, I plan on attending. I'd like to get some of my lunch money back. (<i>Never</i> bet on the Oscars, btw... What the hell was <i>The King's Speech,</i> about anyway?)  

Flagstaff at noon-ish? -2-2672

DU  