---
title: Bret "The" Mann
date: 2011-01-23 18:55:09
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/i_wy4lHbRX8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>Something cultural for a blog that's anything but (courtesy of DU)</figcaption>
</figure>
<p>Well, the Superbowl teams are set. Now to endure all the hype. One good way is to soak in a hot tub in Sarasota&mdash;a formula Adriana and I have followed for years.</p>
<p>Speaking of the newly <i>full-time</i> researcher, she's headed up to Steamboat for the next few days to set up an experiment at the <a href="http://stormpeak.dri.edu/">Storm Peak Laboratory</a>. Yep, she gets to ski down for free! She calls it "the cost of doing business."</p>
<p>Hopefully it'll be less windy than yesterday up there. We tried to snowshoe near Caribou mine and didn't even leave the car because of the howling winds.</p>