---
title: Valentine's Day, Vegan Style
date: 2011-02-15 19:15:50
tags: sundry, 
---
<figure><img src="http://www.flagstafffrenzy.org/wp-content/uploads/2011/02/valentines-steak.jpg"><figcaption>Nothing says "I love you" like heart-shaped meat</figcaption></figure>
<p>Good to see Dave and Rob today, although Dave's immediate flat seemed suspicious. I think I saw him later, reclining on the quad with a smoothie.</p>
<p>Yesterday was a great day. Adriana and I hit the ModMarket after work, then we saw "True Grit." Great night out!</p>