---
title: Little Diversions
date: 2011-06-16 00:56:32
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/xIe6hYAdw_I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>A little downhill bike race I entered yesterday</figcaption>
</figure>
<p>As you all know, I have legendary bike-handling skills, especially when it comes to technical, downhill mountain biking. I'm also world-renowned for my modesty.</p>
<p>In any event, I was in Chile yesterday and decided to put my rental bike through its paces. Apart from the shepherd that ran under my tire, all went well. That's why I missed yesterday's spin. Sorry.</p>
<p>Today, we should have more luck getting out. Perhaps you'll find out where I'm hanging my hat during the days now. But, venture a guess in today's poll before you ask.</p>