---
title: Second Chances
date: 2011-01-25 15:35:40
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/F3y6v2G97pg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>This PBS special on Michael Vick's dogs expands the meaning of second chances</figcaption>
</figure>
<p>I know the above video left me a little misty-eyed, so I apologize for the uncharacteristically somber video. Still, it left me hopeful. Hope you'll find it equally uplifting.</p>
<p>No photos from Adriana yet, but I'm guessing I'll have some to share tomorrow. In the meantime, you can <a href="https://www.steamboat.com/the-mountain/live-cams/thunderhead" target="_blank">check out the Steamboat webcam</a> to see all the snow!</p>
<p>Glad Dave and I got out today, despite the discouraging weather and odd start time. We now realize just how beholden we are to our biorhythms!</p>