---
title: Bike Storage
date: 2011-01-27 19:54:43
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/yIHrmN_ptJc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>Superfund Cleanup Plan for Steve's Office (courtesy of Noah)</figcaption>
</figure>
<p>That's right: the cavernous viper pit in the basement of Humanities&mdash;the office formerly known as Steve's&mdash;will not go to waste, although it cannot be inhabited by humans again until 2091.</p>
<p>At least it can store bikes.</p>
<p>As promised, I'm <a href="http://www.flagstafffrenzy.org/wp-content/uploads/2011/01/102_1095.jpg">posting a photo</a> from Adriana's recent Storm Peak research trip. Everything went swimmingly, according to unidentified sources.</p>
<p>Thanks for the prank voicemail today, Mark and Julian.</p>