---
title: A Frenzy Mascot?
date: 2011-02-11 09:18:29
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/9AsRLMrwjlg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>If we had a mascot, this would be it! Or perhaps <a href="http://www.youtube.com/watch?v=LK0Njz6Ma3Q&amp;hd=1">this</a>.</figcaption>
</figure>
<p>Adriana and I spent an hour or so watching FailBlog videos last night. I'm such a romantic. Marital bliss is what you make it, my Frenz.</p>
<p>Anyhow, I'm anxious to revisit our favorite trail this afternoon, and I hope you can join. I ran Flag/Gregory yesterday, and the snow has rendered the rocks smooth and soft. Great running conditions!</p>
<p>If we don't see you, have a great weekend!</p>