---
title: The Evils of Television
date: 2011-01-13 10:13:51
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/WINDtlPXmmE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>If you haven't seen the 1976 film <cite>Network</cite>, give it a spin</figcaption>
</figure>
<p>Yesterday the floods inundating Australia made it to Frenzy HQ and nearly snuffed us out. Thank goodness for the escape hatch.</p>
<p>It was great to catch up with Matt Burton this weekend. For those of you who remember the lad, he's now flying big planes that apparently can be put on auto-pilot long enough to make Amy's pizzas and run 5Ks inside the cargo area.</p>
<p>Matt even does his Masters degree work on long flights across the Atlantic. He's taking online courses through the University of Arkansas. Go Razorbacks!</p>