---
title: Spring Fever
date: 2011-02-20 11:07:19
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/sL_YJC1SjHE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>The voice of the North Woods, the White-Throated Sparrow, heard on last year's hike
  </figcaption>
</figure>
<p>We really haven't had much of a winter, but even so I'm suddenly awash with nostalgia for summer in the <i>North Woods</i>. Maybe it's all the planning for my sister's upcoming wedding.</p>
<p>Anyone else found their mind wandering toward the warm breezes of summer?</p>
<p>I have tomorrow off, so if anyone is up for riding, I'll be sure to post something around the usual lunch hour. Otherwise, I intend on being more active this week. Hope to see you!</p>