---
title: Floyd's Moving On
date: 2011-07-20 20:06:23
tags: sundry, 
---
<%= image_tag("2011-07-20-floyds_moving_on/2011-tour-de-france-1.jpg", :class => 'img-fluid') %>

<p>It's the last week of the Tour de France, and I'm already dreading the dramatic void its conclusion always leaves. At least this year we have the Tour of Colorado to look forward to. Maybe I can start watching the daily soaps too.</p>

<p>Or maybe I can create my own drama. I've been thinking of a mystery short story plot, where a small town at the foot of Colorado's Rocky Mountains is faced with a killer who strikes only when the winds are howling (and his deeds are thus concealed).</p>

<p>Intriguing plot?</p>