---
title: The Good Life
date: 2011-02-23 18:36:33
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/1r2nRfnpWxw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>Very cool story (courtesy of Zack)</figcaption>
</figure>
<p>Missed riding with the boys today. Sorry, guys. Hope you had fun and blew off some steam. What are rides for, after all? Health? Pul-hease!</p>
<p>Looks like I'll be off to Chicago in the next few weeks, fully <a href="http://chicago2011.drupal.org/">immersed in geekery</a>. I'm going to enjoy it, anyhow. Hope the hotel has a good gym.</p>
<p>Friday's weather is looking dicey. It may be a good day for a scamper. Anyone game? Dr. Werner, that means you too!</p>