---
title: Tips for Single Frenz
date: 2011-02-17 07:21:57
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/QUvLZeDgU-c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>Someone needs to show this to Matt Burton</figcaption>
</figure>
<p>Good to ride Flag yesterday with Tom and Noel. Tom had some interesting stories about meeting John Dean at the National Archives recently.</p>
<p>Fun seeing some Garmin guys flying uphill too.</p>
<p>May have to do a short jaunt today, but I hope to see you guys out there!</p>