---
title: Hai!
date: 2011-06-21 08:13:57
tags: sundry, 
---
<figure>
  <%= image_tag("dojo4_logo_black.png", :class => 'img-fluid') %>
  <figcaption>I was supposed to reveal this yesterday...my new employer</figcaption>
</figure>
<p>So, after about three years of annoying knocking, my bike is supposedly fixed. U-Bikes to the rescue!</p>
<p>Apparently, the rear hub was worn down bad, so a new rear wheel fixed it. Now I can sneak up on Dave in the vertiginous corners with the old foghorn trick.</p>
<p>I'm curious to see what the new bike lanes on Lee Hill look like. K-No says they're luxurious, so I'm hoping to find some gold medallions I can melt down and resell.</p>