---
title: Condemned But Not Abandoned
date: 2011-06-23 00:01:08
tags: sundry, 
---
<figure>
  <%= image_tag("zombie-hotel.jpg", :class => 'img-fluid') %>
  <figcaption>All this blog needs is a fresh coat of paint</figcaption>
</figure>
<p>Who can blame Dennis for thinking the Frenzy had been abandoned? I mean, the odors went away, the plants grew back, and cheer returned to the world.</p>
<p>Well, world, we've got news for you. Just like Voldemort, poor taste and disestablishmentarianism are back! Okay, I suppose the smell's back too.</p>
<p>There is one exception, though. No sign of Dear Dave. Last I saw him was at Target purchasing an "office cot", whatever that is.</p>
<p>Any leads?</p>