---
title: Straight, No Chaser
date: 2011-03-17 11:40:42
tags: sundry, 
---
<p style="text-align:center;"><img src="http://flagstafffrenzy.files.wordpress.com/2011/03/death-of-the-phone-booth.jpg" alt="" />

<a href="http://news.bbc.co.uk/2/hi/5335400.stm">Great taps, but where the hell are the pickled eggs?</a></p>
"Hey Dave, it's me, Steve. Yeah I made it! Rode my bike up Magnolia this morning, and now I'm on the upper trail at El-Rocko. The snow's great, man, and these new skis are <em>really</em> carving! You'd love it!

That noise in the background? No, that's not a jukebox... your phone must be acting weird again. I told you I'm skate-skiing the... <em>yes, please, I'll have another, but let's go with the IPA this time</em>... upper trail at Eldora. I got up here in two hours flat today, and <em>that</em> on a road bike with a skippy chainring. You would've loved... <em>no, put it on the company card again, thanks</em>...the ride this morning. Beautiful sunrise!

Well, gotta' run... I still have miles of track to cover. Ciao!"

Right.

Flag anyone? 2-2672

DU