---
title: More Downhill Madness
date: 2011-06-17 00:05:40
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/749661" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>  </iframe>
</div>
  <figcaption>We need to buy plane tickets to Chile next year</figcaption>
</figure>
<p>The answer to yesterday's poll will be revealed on Monday, so stay tuned. Meantime, find something better to do with your time.</p>
<p>Until you do, consider helping the Frenzy's Twilight Fan Club get off the ground. The Etiquette Club has been struggling too.</p>
<p>Has anyone seen Mark Werner? I've got $20 that he hasn't even been on campus this June. Son of a gun!</p>