---
title: Flying the Coop
date: 2011-08-04 07:00:44
tags: sundry, 
---
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/eKKDL6lekmA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>

<p style="text-align:center;margin-top:.5em;"><em>Ah Public Television!</em></p>
Only one week left at CU-Boulder for iSean. When can we throw a party at your new LoDo loft, Sean?

Every time I go down to Denver I either hit "The Tattered Cover" or "Watercourse" or both. The Amsterdam Hash at the latter is to die for, as is the downhome country-fried seitan.

Super-Flag earlier this week was nothing short of depressing. I had Mt. Sherman in my legs and barely managed to turn the pedals over up by Lost Gulch.

The USA Cycling Pro Tour starts in about two weeks. All three podium finishers from this year's Tour will be participating. Anyone watching?