---
title: Dave Is a Hero!
date: 2012-12-19 19:50:42
tags: sundry, 
---
<figure>
  <%= image_tag('2012-12-19_DaveIsAHero/still.png', :class => 'img-fluid') %>
  <figcaption>
    Great <a href="https://youtu.be/MsoRle9UdLQ" target="_blank">Denver7 feature</a> about Dave's band <i>The Band Aids</i>.
  </figcaption>
</figure>
