---
title: Are You Ready?
date: 2012-09-24 23:18:07
tags: sundry, 
---
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/PHkKnOxx65k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>

<p>Sick of NFL officiating? Given up on the Buffs Football Team?</p>

<p>Well, soon you will have something else to do. Season 7 of Dexter starts Sunday night. Are you going to watch?</p>