---
title: Seasonal Nostalgia
date: 2012-09-03 09:51:09
tags: sundry, 
---
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/15368982?color=ffffff" width="640" height="272" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>  </iframe>
</div>


<p>It's happening again. Cooler nights, the shifting sun angle, a few tinges of color in the trees.</p>

<p>As I've said a thousand times, I'm sure, autumn is my favorite season. I think most folks from Northern New England would say the same.</p>

<p>Some day, I'm going to organize a ride, "Leaf Chasers", where we'll follow the season from Eastern Canada down to Northern New England, in the full sense of chasing, of course: pedaling and adult beverages (maybe some strong cider).</p>

<p>I'm also thinking of global autumn chasing: Wyoming, Colorado, Québec, New Hampshire, followed by Japan, New Zealand or Chile, Argentina. Will have to research austral autumns.</p>

<p>Meantime, come enjoy the cooler air with us next Saturday for our road cleanup on Flagstaff Mountain. We'll meet at 8am at the Brewing Market at Basemar.</p>