---
title: Pro-Cycling in Our Backyard
date: 2012-08-25 22:47:08
tags: sundry, 
---
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/WfzIIqdE7ME" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>

<p>If you couldn't make it up Flagstaff today for the US Pro Cycling Challenge, here's a little <a href="http://youtu.be/PxhFTyUy9e8?hd=1" target="_blank">taste</a> of what you missed. As skeptical as I've become about cycling, it was <a href="http://flagstafffrenzy.files.wordpress.com/2012/08/steve-us-procycling-flag.png" target="_blank">impossible</a> not to be a fan as riders passed through the <a href="http://youtu.be/XjKpULmrY1Q?hd=1" target="_blank">tunnel of noise</a> we formed along Flag's steeper ramparts.</p>

<p>Despite their proximity to the action, the fans around us were attentive to the race, with only a few idiots (including 7ish year olds) trying to run alongside riders. Indeed, there was a very good vibe up there.</p>

<p>Hope they bring it back next year and for years to come, as do many of the riders. Fuddyduddies be damned!</p>