---
title: Just Won't Die
date: 2012-08-19 21:50:04
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/YfMQdFGTKAs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>I don't know about y'all, but I've been missing the fellowship of the Frenzy.</figcaption>
</figure>
<p>There have been flurries of activity, hacking attacks, and good-faith attempts at making the whole thing static. But as my Uncle Otto used to say, "Don't punch a moose that's kicking. And never, ever—no matter how much you might crave it—pickle an apple...or your wanker."</p>
<p>So, I spent another weekend rebuilding this rag, importing XML and WXR files and even manually copy-pasting old posts. The astute among you will notice that we're back on WordPress; but, despite the familiar old domain, we've moved to WP.com with a rather nifty, free theme named <a title="Origin WP Theme" href="http://theme.wordpress.com/themes/origin/" target="_blank">Origin</a>.</p>
<p>As a result of the move, all custom post types have become categories, which in the end I think is much more elegant than the hackery I orchestrated with my last custom theme. So, now, it should be easy to find your favorite <a title="Ah, It's Been So Long" href="http://flagstafffrenzy.org/category/dear-dave/">Dear Daves</a>!</p>
<p>Both the <a title="Really, you still use these?" href="http://feeds.feedburner.com/flagstafffrenzy">posts</a> and <a title="You still do RSS?" href="http://feeds.feedburner.com/flagstafffrenzy/comments">comments</a> feeds should be the same.</p>
<p>So far, I'm digging WP.com! The "milestone" widget is wicked awesome. I'm using as the "Upcoming" feature in the sidebar (rides, cleanups, FACs...). I'm also a fan of <a title="Responsive is the new black!" href="http://en.wikipedia.org/wiki/Responsive_Web_Design">responsive design</a>.</p>
<p>Let me know what y'all think. Looking forward to saddling up with you again soon! How about Tuesday morning?</p>