---
title: Russian Hackers Suck
date: 2012-01-10 16:48:16
tags: sundry, 
---
<figure>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/VW-F1H-Nonk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>  </iframe>
</div>
  <figcaption>There’s a mole at the very top of the Frenzy</figcaption>
</figure>

<p>It was bound to happen. Though WordPress served this blog well for about 5 years, it does have its security holes. Apparently, some hackers (probably Ruskies) exploited one such hole last night.</p>

<p>But their timing is propitious.</p>

<p>I’ve been thinking about gutting the Frenzy and rebuilding it as a Ruby app hosted on GitHub. That way, the site will be entirely static (read: unhackable), super fast, backed up, and hosted for free.</p>

<p>Moreover, I can begin to implement some of the nifty tricks I’ve been learning <del>in prison</del> at <a href="http://dojo4.com/">dojo4</a>. Resize your browser window (or visit the site on your smartphone), and you’ll see what I mean.</p>

<p>Stay tuned!</p>